{% extends "staff/base.html" %}
{% load extras %}

{% block full-title %}
The Daily Gazette :: Swarthmore College's Daily Paper
{% endblock full-title %}


{% block customheader %}

{% jQuery %}

{% endblock customheader %}


{% block topbar %}
	<div id="headerSectionBar">
			<div id="headerSearch">
				{% include "search_header.html" %}
			</div>
			
			<div id="headerColumn">
				<div class="headerColumnBox">
					<h4>Manage Your Account</h4>
					<ul>
							<li><a href="/admin/accounts/userprofile/add/">Edit your Profile</a></li>
							<li><a href="/admin/password_change/">Change your Password</a></li>
							<li><a href="/admin/accounts/contactitem/add/">Add Contact Information</a></li>
					</ul>
				</div>
			
				<div class="headerColumnBox">
					<h4>Other Information</h4>
					<ul>
							<li><a href="/archives/">Archives</a></li>
							<li><a href="{{ user.get_absolute_url }}">Your Profile</a></li>
					</ul>
				</div>
			
			</div>
		</div>
{% endblock topbar %}

	
{% block content %}
	<div id="indexMainBox">
		<div id="indexMainStory">
		  <h2 class="bottomBorder">Your Stories</h2>
		  {% for concept in personal %}
			<p>
				<strong>{{ concept.name }}</strong>, due {{ concept.due }}<br />
				{% if concept.notes %}{{ concept.notes }}<br />{% endif %}<br />
			</p>
		  {% endfor %}
		  
		  <h3 class="bottomBorder">Unclaimed Stories</h3>
			{% for concept in unclaimed %}
			<p>
				<strong>{{ concept.name }}</strong>, due {{ concept.due }}<br />
				{% if concept.notes_excerpt %}{{ concept.notes_excerpt }}<br />{% endif %}<br />
			</p>
			{% endfor %}
		
		</div>
	</div>
	
	<div id="indexSecondary">
		<h3 class="bottomBorder">Other Stories</h3>
		  {% for concept in claimed %}

		  			<p>{% if concept.user_names %}{{ concept.user_names }}:{% endif %} {{ concept.name }}</p>
		  {% endfor %}
		
	</div>
	
{% endblock content %}
