{% load extras %}
{% load markup %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
  <title>The Daily Gazette :: Staff Center</title>

  <link rel="stylesheet" href="{% static css page/staff.css %}" type="text/css" media="screen, projection, print" />
  {% jQuery %}
  <script type="text/javascript" src="{% static js concept_edit.js %}"></script>
  
</head>

<body>
<div id="wrap">
  <div id="container">
    <div id="header">
      <div id="caption">
        <h1 id="title">The Gazette Staff Center</h1>
        <div id="tagline">Making it easy to manage, edit, and write</div>
      </div>
      <div id="navigation">
        <ul id="menus">
          <li><a href="staff.html">Dashboard</a></li>
          <li><a href="http://daily.swarthmore.edu/admin/accounts/userprofile/">Edit Profile</a></li>
          <li><a href="http://daily.swarthmore.edu/admin/articles/article/add/">Write a Story</a></li>
          <li><a href="http://daily.swarthmore.edu/admin/media/imagefile/add/">Add Media</a></li>
        </ul>
        <div class="fixed"></div>
      </div>
      <div class="fixed"></div>
    </div>
    
    <div id="content">
      <div id="main">
       <div class="post">
            <h2>Your Stories</h2>
            <div class="content">
              <ul>
                {% for concept in personal %}
                  <li>
                    <strong>Story:</strong> <a href="http://daily.swarthmore.edu/admin/articles/storyconcept/{{ concept.pk }}/">{{ concept.name }}</a><br />
                    <strong>Due:</strong> {{ concept.due }}
                    {% if concept.notes_excerpt %}<br /><strong>Notes: </strong>{{ concept.notes }}{% endif %}
                  </li>
                {% endfor %}
              </ul>
              <div class="fixed"></div>
            </div>
       </div>
        <div class="post">
            <h2>Submit a Story</h2>
            <div class="content">
                {% if form.non_field_errors %}
                  <p>{{ form.non_field_errors }}</p>
                {% endif %}
                <form action="" method="post">
                      <table class="submission">
                          <tr>
                              <td><strong>Concept:</strong></td>
                              <td>{{ form.name }}</td>
                              <td><strong>Due:</strong></td>
                              <td>{{ form.due }}</td>
                              <td><input type="submit" value="Submit" /></td>
                          </tr>		  
                      </table>
                  </form>
                  <p>Date format must be year-month-day. For example, 2009-05-29 is acceptable.</p>   
              <div class="fixed"></div>
            </div>
       </div>
       <div class="post">
            <h2>Unclaimed Stories</h2>
            <div class="content">
              {% for concept in unclaimed %}
                {% ifchanged %}
                  <h3>{{ concept.due }}</h3>
                {% endifchanged %}
                <p>
                  <strong><a href="http://daily.swarthmore.edu/admin/articles/storyconcept/{{ concept.pk }}/">{{ concept.name }}</a></strong><br />
                  {% if concept.notes_excerpt %}<em>Notes: {{ concept.notes|textile|removetags:"p" }}</em><br />{% endif %}
                </p>
              {% endfor %}
              <div class="fixed"></div>
            </div>
       </div>
       <div class="post">
            <h2>Announcements &amp; Minutes</h2>
            <div class="content">
              {{ minutes.text|textile|safe }}
              <div class="fixed"></div>
            </div>
        </div> 
      </div>

      <div id="sidebar">
        <div id="northsidebar" class="sidebar">
          <div class="widget widget_categories">
            <h2>Welcome, {{ user.get_full_name }}!</h2>
            <h3>Stories</h3>
            <ul>
              {% for story in claimed %}
                {% ifchanged %}
                    </ul>
                    <strong>{{ story.due }}</strong>
                    <ul>
                {% endifchanged %}
                <li><a href="http://daily.swarthmore.edu/admin/articles/storyconcept/{{ story.pk }}/" title="{{ story.name }}" class="claimedTitle">{{ story.name }}</a>,
                     {{ story.user_names }},
                     <small>[<a href="http://daily.swarthmore.edu/staff/new/?name={{ story.name|urlencode }}" class="edit">edit</a>]</small></li>
              {% endfor %}
            </ul>                    
          </div>
        </div>
      </div>
      <div class="fixed"></div>
    </div>

    <div id="footer">
      <a id="gotop" href="#" onclick="MGJS.goTop();return false;">Top</a>
      <div id="copyright">
        Copyright &copy; 2009-2011 The Daily Gazette
      </div>
      <div id="themeinfo">&nbsp;</div>
    </div>

    </div>
</div>

</body>
</html>