{% load extras %}
{% load markup %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
    <title>The Daily Gazette :: Daily Email</title>
</head>
<body>
THE DAILY GAZETTE'S DAILY STAFF MAILING<br />
============================================================<br />
NOTES<br />
{{ minutes.text|textile }}<br />
<br />
============================================================<br />
UPCOMING STORIES
{% for concept in claimed %}
{% ifchanged %}
<br />===== {{ concept.due }} =====<br />
{% endifchanged %}
<br /><strong>Story:</strong> {{ concept.name }}<br />
      <strong>Reporter:</strong> {{ concept.user_names }}<br />
{% if concept.notes_excerpt %}<strong>Notes: </strong>{{ concept.notes }}<br />{% endif %}
{% endfor %}
<br />
(Something seem wrong? Just reply to this email.)<br />
<br />    
============================================================<br />     
UNCLAIMED STORIES<br />
{% for concept in unclaimed %}
{% ifchanged %}
<br />===== {{ concept.due }} =====<br />
{% endifchanged %}
<p>{{ concept.name }}<br />
{% if concept.notes_excerpt %}Notes: {{ concept.notes|textile|removetags:"p" }}<br />{% endif %}</p>
{% endfor %}

</body>
</html>