{% extends "base-expand.html" %}
{% load extras %}
{% load markup %}

{% block title %}
Comment Listings :: The Daily Gazette
{% endblock title %}

{% block customheader %}
{% endblock customheader %}

{% block expand_breadcrumb %}<a href="/about/">About Us</a> &rsaquo;&rsaquo; Comment Listing{% endblock expand_breadcrumb %}

{% block expand_top %}	
{% endblock expand_top %}

{% block expand_content %}
<h1>Most Recent Comments</h1>

<p>This page shows the 20 most recent comments on the Gazette. The stories are ordered by most recent comment, and then the comments are in reverse order.</p>
<p><br />This means that the newest comment is the last comment under the first story.</p>

{% load comparisons %}
{% for story_comment_object in comments %}
    <div id="shareBox">
        <h3><a href="{{ story_comment_object.0.subject.get_absolute_url }}">{{ story_comment_object.0.subject.headline }}</a></h3>
        <p><small>by {{ story_comment_object.0.subject.authors_in_order|join_authors:"l" }}</small></p>                
    </div>
    <div id="comments">
        {% for comment in story_comment_object %}
        <div class="comment {% if comment.is_visible %}shown-comment{% else %}hidden-comment{% endif %}{% if new %} new{% endif %}" id="c-{{ comment.number }}">
          <div class="commentInformation">
              <p class="floatLeft">
                <span class="commentNumber"><a href="{{ comment.get_absolute_url }}">#{{ comment.number }}</a></span>: <strong>Comment by {{ comment.linked_name|safe }}</strong> ({{ comment.status }})
                <span class="commentTime">{{ comment.time|date:"n/j/Y" }} at {{ comment.time|date:"g:i a" }}</span>
              </p>
          </div>

          <div class="commentContent {% if comment.is_staff %}staff{% else %}{% if not comment.is_visible %}moderate{% endif %}{% endif %}">

            <p class="commentText">
              {% if comment.is_visible %}
                {{ comment.text|safe }}
              {% endif %}
            </p>

            <p class="commentAuthorship">
              {% if not comment.is_visible %}
                {% if comment.is_approved %}
                  <em>
                    This comment has been deemed inappropriate or irrelevant by the community.<br/>
                    The Gazette does not condone its content.
                  </em>
                {% else %}
                  <em>
                    This comment has not yet been approved by a site administrator.  
                  </em>
                {% endif %}

                [<a href="#" class='showLink'>show anyway</a>]
                <br/>
              {% endif %}
            </p>
          </div>
        </div>
        {% endfor %}
    </div>
{% endfor %}
{% endblock expand_content %}

