{% extends "base.html" %}
{% load extras %}

{% block title %}{{ job.name|striptags }}{% endblock title %}


{% block customheader %}

<link rel="stylesheet" href="{% static css page/story.css %}" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="{% static css page/job.css %}" type="text/css" media="screen, projection" />

{% jQuery %}

{% endblock customheader %}


{% block topbar %}
  <div id="headerSectionBar">
    <div id="headerSection">
      <h3>
        <a href="/jobs/">Job Listings</a>
      </h3>
    </div>

    <div id="headerSearch" class="floatRight">
      {% include "search_header.html" %}
    </div>
  </div>
{% endblock topbar %}


{% block content %}
  <div id="commentColumn">
    <div id="commentBox">
      {% include "jobs/sidebar.html" %}
    </div>
  </div>

  <div id="storyBox">
    <div id="story">
      <h2>{{ job.name|safe }}</h2>
      {% if job.is_filled %}<h3>This position has been filled.</h3>{% endif %}
      <p>Submitted:  {{ job.pub_date|date:"F j, Y" }}</p>
      <p>Contact: {{ job.contact_info }}</p>
    
      <p>{{ job.description|safe }}</p>
    
      <div id="jobInfo">
        <p><strong>Pay:</strong>{{ job.get_pay }}</p>
        <p><strong>Hours:</strong> {{ job.hours }}</p>
        <p><strong>When:</strong> {{ job.when }}</p>
        <p><strong>Where:</strong> {{ job.where }}</p>
        {% if job.needs_car %}<p>This position requires access to a car.</p>{% endif %}
      </div>         
    </div>

    <div id="shareBox">
      <div class="right">
        <strong>Share:</strong> {% add_this hover %}
      </div>
      <p>
        <a href="/jobs/">Jobs Listing</a>
      </p>
    </div>

    <div id="continueBox">
      <div id="top">
        <a href="{{ topstory.get_absolute_url }}" title="{{ topstory.headline|striptags }}">
          <img src="{{ topstory.thumbnail.get_absolute_url }}" />
        </a>
        <div class="content">
          <h4><a href="{{ topstory.get_absolute_url }}">{{ topstory.get_title }}</a></h4>
          <p>{{ topstory.shortest_summary }}</p>
        </div>
      </div>

      <div id="more">
        <div class="box">
          <h4>Top Stories</h4>
          <ul>
            {% for story in stories %}
              <li><a href="{{story.get_absolute_url}}">{{ story.get_title|safe }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="box">
          <h4>Recent Comments</h4>
          <ul>
            {% for comment in comments|slice:":4" %}
              <li><a href="{{comment.get_absolute_url}}">{{ comment.subject.get_title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>

    </div>

  </div>

{% endblock content %}
