{% extends "base.html" %}
{% load extras %}

{% block title %}Job Listings{% endblock title %}

{# TODO: pagination #}
{# TODO: better UI for showing only certain kinds of jobs #}


{% block customheader %}

<link rel="stylesheet" href="{% static css page/story.css %}" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="{% static css page/job.css %}" type="text/css" media="screen, projection" />

{% jQuery %}

{% endblock customheader %}


{% block topbar %}
  <div id="headerSectionBar">
    <div id="headerSearch">
      {% include "search_header.html" %}
    </div>
  </div>
{% endblock topbar %}


{% block content %}
  <div id="commentColumn">
    <div id="commentBox">
      {% include "jobs/sidebar.html" %}
    </div>
  </div>

  <div id="storyBox">
    <div id="story">
      <h2>Job Listings</h2>
          {% for job in jobs %}
          <h4><a href="{{ job.get_absolute_url }}">{{ job.name }}</a></h4> <br /><br />
          <div id="jobInfoList">
            <p><strong>Pay:</strong> {{ job.get_pay }}</p>
            <p><strong>Hours:</strong> {{ job.hours }}</p>
            <p><strong>When:</strong> {{ job.when }}</p>
            <p><strong>Where:</strong> {{ job.where }}</p>
            {% if job.needs_car %}<p>This position requires access to a car</p>{% endif %}
          </div>
          {% autoescape off %}
            <p>{{ job.description|newlinesbr }}</p>
          {% endautoescape %}
          {% if not forloop.last %}
            <hr width="50%" />
          {% endif %}
        {% endfor %}

        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>

    </div>

    <div id="shareBox">
      <div class="right">
        <strong>Share:</strong> {% add_this hover %}
      </div>
      <p>
        <a href="/jobs/">Jobs Listing</a>
      </p>
    </div>

    <div id="continueBox">
      <div id="top">
        <a href="{{ topstory.get_absolute_url }}">
          <img src="{{ topstory.thumbnail.get_absolute_url }}" />
        </a>
        <div class="content">
          <h4><a href="{{ topstory.get_absolute_url }}">{{ topstory.get_title }}</a></h4>
          <p>{{ topstory.shortest_summary }}</p>
        </div>
      </div>

      <div id="more">
        <div class="box">
          <h4>Top Stories</h4>
          <ul>
            {% for story in stories %}
              <li><a href="{{story.get_absolute_url}}">{{ story.get_title|safe }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="box">
          <h4>Recent Comments</h4>
          <ul>
            {% for comment in comments|slice:":4" %}
              <li><a href="{{comment.get_absolute_url}}">{{ comment.subject.get_title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>

    </div>

  </div>

{% endblock content %}
