{% load comparisons %}

{% for comment, status in comments %}
  <div class="comment {% if comment.is_visible %}shown-comment{% else %}hidden-comment{% endif %}{% if new %} new{% endif %}" id="c-{{ comment.number }}">
    <div class="commentInformation">
        <p class="floatLeft">
          <span class="commentNumber">#{{ comment.number }}</span>:
          <span class="commentTime">{{ comment.time|date:"n/j/Y" }} at {{ comment.time|date:"g:i a" }}</span>
        </p>
        <p class="floatRight">
            {% ifequal status 1 %}
              <a class="voteSelected" href="vote-comment/{{ comment.number }}/clear/"><img src="/static/images/story/up.png" title="Vote Up" /></a>
            {% else %}
              <a class="vote" href="vote-comment/{{ comment.number }}/up/"><img src="/static/images/story/up.png" title="Vote Up" /></a>
            {% endifequal %}
            
            {% ifequal status -1 %}
              <a class="voteSelected" href="vote-comment/{{ comment.number }}/clear/"><img src="/static/images/story/down.png" title="Vote Down" /></a>
            {% else %}
              <a class="vote" href="vote-comment/{{ comment.number }}/down/"><img src="/static/images/story/down.png" title="Vote Down" /></a>
            {% endifequal %}
            
            {% if comment.score|is_none %}
              {% if comment.is_visible %}
                (+&infin;)
              {% else %}
                (-&infin;)
              {% endif %}
            {% else %}
              {% if comment.score|gt:0 %}
                (+{{ comment.score|default_if_none:"&infin;" }})
              {% else %}
                ({{ comment.score }})
              {% endif %}
            {% endif %}
        </p>
    </div>

    <div class="commentContent {% if comment.is_staff %}staff{% else %}{% if not comment.is_visible %}moderate{% endif %}{% endif %}">
    
      <p class="commentText">
        {% if comment.is_visible %}
          {{ comment.text|safe }}
        {% endif %}
      </p>
      
      <p class="commentAuthorship">
        {% if not comment.is_visible %}
          {% if comment.is_approved %}
            <em>
              This comment has been deemed offensive by the community or site editors.<br/>
              The Gazette does not condone its content.
            </em>
          {% else %}
            <em>
              This comment has not yet been approved by a site administrator.  
            </em>
          {% endif %}
          
          [<a href="#" class='showLink'>show anyway</a>]
          <br/>
        {% endif %}
        
        <br />&mdash;
        {{ comment.linked_name|safe }}
        <span class="authorDark">| {{ comment.status }}</span>
      </p>
    </div>
  </div>
{% endfor %}
