{% for comment in comments %}
  <div class="comment {% if comment.is_visible %}shown-comment{% else %}hidden-comment{% endif %}{% if new %} new{% endif %}" id="c-{{ comment.number }}">
    <div class="commentInformation">
        <p><strong>#{{ comment.number }}</strong>: {{ comment.time|date:"n/j/Y" }} at {{ comment.time|date:"g:i a" }}</p>
    </div>

    <div class="commentContent {% if comment.is_staff %}staff{% else %}{% if not comment.is_visible %}moderate{% endif %}{% endif %}">
    
      <p class="commentText">
        {% if comment.is_visible %}
          {{ comment.text|safe }}
        {% endif %}
      </p>
      
      <p class="commentAuthorship">
        {% if not comment.is_visible %}
          {% if comment.is_approved %}
            This comment has been deemed offensive by the community or site editors.<br/>
            The Gazette does not condone its content.
          {% else %}
            This comment has not yet been approved by a site administrator.  
          {% endif %}
          
          [<a href="#" class='showLink'>show anyway</a>]
          <br/>
        {% endif %}
        
        <br />&mdash;
        {{ comment.linked_name|safe }}
        <span class="authorDark">| {{ comment.status }}</span>
      </p>
    </div>
  </div>
{% endfor %}
