{% load extras %}
{% load markup %}

{% block photo-block %}
	<center>
    <div class="spreadImage">
      {% if next %}<a href="{{ next.get_absolute_url }}" class="page-link">{% endif %}
      <img src="{{ page.photo.photospreadimage.url }}" alt=""
           title="{{ page.photo.credit|before:"Photo by " }}"
           width="650" />
      {% if next %}</a>{% endif %}
      <a class="photospreadBigLink lightbox" href="{{ page.photo.photospreadbig.url }}">[see larger size]</a>
    </div>
  </center>
  
  {% if page.caption %}
    <span class="photo-caption">
      {{ page.caption|textile }}
    </span>
  {% endif %}
  
  <div class="nav-links">
    <center>
    	<ul>
    	  <li class="otherLink">
    		  <a class="page-link"{% if prev %}href="{{ prev.get_absolute_url }}"{% else %}style="visibility: hidden;"{% endif %}>&laquo; Back</a>
    		</li>

      	{% ifequal story.photos.count 1 %}
      	{% else %}
      		{% for looped_page in story.pages.all %}
      			{% ifequal page.number looped_page.number %}
      				<li class="current"><a class="page-link" href="{{ looped_page.get_absolute_url }}">{{ looped_page.number }}</a></li>
      			{% else %}
      				<li class="notCurrent"><a class="page-link" href="{{ looped_page.get_absolute_url }}">{{ looped_page.number }}</a></li>
      			{% endifequal %}
      		{% endfor %}
      	{% endifequal %}

    		<li class="otherLink">
    		  <a class="page-link"{% if next %}href="{{ next.get_absolute_url }}"{% else %}style="visibility: hidden;"{% endif %}>Next &raquo;</a>
    		</li>
    	</ul>
    </center>
  </div>
{% endblock %}