{% load extras %}

{% block story-content %}
<script type="text/javascript">  $(function() { $('a.lightbox').lightBox(); });  </script>

	<center>
  <div class="spreadImage"><a href="{{ page.photo.get_absolute_url }}" class="lightbox"><img src="{{ page.photo.get_absolute_url }}" alt="" /></a></div>
  </center>
  
  {% if page.photo.caption %}
    <span class="photo-caption">
      {{ page.photo.caption }}
    </span>
  {% endif %}
  
  <div class="nav-links">

	<center>  
	<ul>
	{% if prev %}
		<li class="otherLink"><a href="{{ prev.get_absolute_url }}" onclick="showPage('{{ prev.get_absolute_url }}'); return false;"> &laquo; Back </a></li>
	{% endif %}

	{% ifequal story.photos.count 1 %}
	{% else %}
		{% for photo in story.photos.all %}
			{% ifequal page.number forloop.counter %}
				<li class="current"><a href="{{ story.get_absolute_url }}{{ forloop.counter }}">{{ forloop.counter }}</a></li>
			{% else %}
				<li class="notCurrent"><a href="{{ story.get_absolute_url }}{{ forloop.counter }}">{{ forloop.counter }}</a></li>
			{% endifequal %}
		{% endfor %}
	{% endifequal %}

	{% if next %}
		<li class="otherLink"><a href="{{ next.get_absolute_url }}" onclick="showPage('{{ next.get_absolute_url }}'); return false;">Next &raquo;</a></li>
	{% endif %}
	</ul>
	</center>
 
  </div>
{% endblock %}