{% extends "stories/view.html" %}
{% load extras %}

{% block customheader %}
  {{ block.super }}
  
  <script type="text/javascript" src="{% static js lightbox/js/lightbox-05.js %}"></script>
  <link rel="stylesheet" href="{% static js lightbox/css/lightbox-05.css %}" type="text/css" media="screen, projection" />
  
  <script type="text/javascript" charset="utf-8">
    function lightboxify() {
      $('.lightbox').lightBox();
    }
    $(lightboxify);
    
    function limitMainImage() {
      $('.spreadImage img').each(function() {
        if (this['height'] > 650) {
          this['height'] = 650;
        }
        if (this['width'] > 450) {
          this['width'] = 450;
        }
      })
    }
    $(limitMainImage);
    
    function ajaxifyLinks() {
      $('.page-link').each(function() {
        $(this).click(function(event) {
          event.preventDefault();
          $('#photo-block').load($(this).attr('href'), null, function() {
            limitMainImage();
            lightboxify();
            ajaxifyLinks();
          });
        });
      });
    }
    $(ajaxifyLinks);
  </script>

{% endblock %}

{% block story-content %}
  <div id="photo-block">
    {% include "stories/photo.html" %}
  </div>
{% endblock %}
