{% load extras %}

{# TODO: customize story_sidebar depending on the user #}

<h4>Related Stories</h4>
<ul>
	{% for rel in related %}
		<li><a href="{{rel.get_absolute_url}}">{{ rel.get_title|safe }}</a></li>
	{% endfor %}
</ul>

<hr width="50%" color="#ffffff" size="1px" />

<h4>Share</h4>: {% add_this no-hover %}

<hr width="50%" color="#ffffff" size="1px" />

{% comment %}
<script type="text/javascript"><!--
google_ad_client = "pub-6611826348976430";
/* 200x90, created 12/4/08, Story Sidebar */
google_ad_slot = "6801355492";
google_ad_width = 200;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
{% endcomment %}

<a href="http://www.swarthmore.coop"><img src="{% static images ads/coop-article-sidebar-200.png %}" alt="The Swarthmore Food Cooperative" /></a>

<hr width="50%" color="#ffffff" size="1px" />

<h4><a href="#submitComments" title="Add a comment to this entry">Comment on this article</a></h4>
