{% extends "base.html" %}
{% load extras %}

{% block title %}{{ story.headline|striptags }}{% endblock %}


{% block customheader %}
  <link rel="stylesheet" href="{% static css functions/poll.css %}" type="text/css" media="screen, projection" />

  {% jQuery %}

  <script type="text/javascript" src="{% static js comments.js %}"></script>
  {% if story.polls.count %}
    <script type="text/javascript" src="{% static js polls.js %}"></script>
  {% endif %}

  {% comment %}
    <script type="text/javascript" src="http://cornify.com/js/cornify.js"></script>
    <script type="text/javascript" src="{% static js jquery.cookie.js %}"></script>
    <script type="text/javascript" src="{% static js dance.js %}"></script>
  {% endcomment %}
{% endblock %}


{% block content %}
  <div id="articlewrapper">
  	<div class="article">
  		<!-- Begin code for article "breadcrumbs." This shows the path to the post's page -->
  		<div class="breadcrumb">
  		You are here: 	
  			<a href="{{ story.section.get_absolute_url }}">{{ story.section.name }}</a> 
  	        {% if story.subsection %}
  				{% ifequal story.subsection.name "April Fools" %}{% else %}&raquo; <a href="{{ story.subsection.get_absolute_url }}">{{ story.subsection.name }}</a>{% endifequal %}
  			{% endif %}
  		</div>
		    
		
  		{% block above-headline %}
  		  {% if top_banner %}{{ top_banner.display }}{% endif %}
  		{% endblock %}
		
        <h1 class="article-title">{{ story.section_if_special }} {{ story.headline|safe }}</h1>		
  		<div style="clear:both"></div>

        <div class="article-content">
            {% block story-content %}
                {{ story.resolved_text|safe }}
            {% endblock %}
        </div>
			
  		{% for poll in story.polls.all %}
            {% include "polls/listing.html" %}
        {% endfor %}				
	
  	<div style="clear:right;"></div>
	

    <div id="shareBox">
      <div class="right">
        <strong>Share:</strong> {% add_this hover %}
      </div>

      <p><small>
          {% comment %}
        <a href="print"><img src="{% static images icons/print.png %}" /> Print</a>
        &nbsp;&nbsp;
        <a href="email"><img src="{% static images icons/email.png %}" /> Email</a>
        &nbsp;&nbsp;
          {% endcomment %}
  	<a href="#comment"> Submit a comment</a>
      </small></p>
    </div>

    {% block comments %}
      {% if story.comments_allowed or comments %}
        <div id="comments">
          {% include "stories/comments.html" %}
        </div>
      {% endif %}
    {% endblock %}

    {% block comment_form %}
      {% if story.comments_allowed %}
        <div id="submitComments">
          <div id="commentForm">
            <h4 name="submitComment" style="display: none;">Submit a Comment</h4>
            {% include "stories/comment_form.html" %}
          </div>
          <div id="commentRules">
            <p>Comments posted anonymously must be approved by Gazette staff before they are published.</p>

            <hr width="50%" color="#dddddd" size="1px">

            <h4 name="comment"><a name="comment">Discussion Rules</a></h4>
            <ul>
              <li>Be nice.</li>
              <li>Be constructive.</li>
              <li>Don't curse.</li>
              <li>Don't threaten.</li>
            </ul>

            <p>More details on our <a name="comment">policies</a> <a href="/policies/">here</a>.</p>

            <hr width="50%" color="#dddddd" size="1px" />

            <p>
              {% if user.is_authenticated %}
                <a href="{{ user.manage_url }}">Manage your Account</a>
              {% else %}
                <a href="{{ user.register_url }}">Register an Account</a> |
                <a href="{{ user.login_url }}">Login</a> <br/>
                <fb:login-button size="medium" background="white" length="long"></fb:login-button>
              {% endif %}
            </p>
          </div>
        </div>
      {% endif %}
    {% endblock %}
  </div>

  <!-- SIDEBAR -->
  <div id="rightsidebar">
	
  	<div id="article-meta">	
  		<!-- Begin section for post metadata (author, date, tags) -->
  		<div class="metadata">
  			<ul>
  				<h4>Story Information</h4>
  				<li>{% block authors %}By {{ story.authors_in_order|join_authors:"l" }}{% endblock %}</li>
  				<li>Posted on <a href="{{ story.pub_date|issue_url }}">{{ story.pub_date|date:"F j, Y" }}</a> | {% add_this no-hover %} </li>
  		</div>
  		<!-- End code for the box of Article Tools -->
  	</div>
	
	
    {% if poster %}
        {% if poster.sponsor_url %}<a href="{{ poster.sponsor_url }}">{% endif %}
        <img src="{{ poster.poster.poster.url }}" class="poster" title="Poster from {{ poster.sponsor_name }}" />
        {% if poster.sponsor_url %}</a>{% endif %}
    {% endif %}
	
    <br />
  	<span class="posterannouncement">Want to add your group's poster? Go <a href="/posters/new/">here</a>.</span>

    <hr />


    {% if side_banner %}
        <div class="leftbar">
            {{ side_banner.display }}
            <span class="ad-notice">Advertisement by {{ side_banner.linked_publisher }}.</span>
        </div>

        <div class="rightbar">
            <h5>Recent Stories</h5>
            <ul>
            {% for story in recent_stories %}
                <li><a href="{{ story.get_absolute_url }}">{{ story.headline }}</a></li>
            {% endfor %}
            </ul>
            
            <h5>Other Stories in {{ story.section }}</h5>
            <ul>
                {% for story in related %}
                    <li><a href="{{ story.get_absolute_url }}">{{ story.headline }}</a></li>
                {% endfor %}
            </ul>
        </div>

    {% else %}
        <div class="leftbar">
            <h5>Recent Stories</h5>
            <ul>
            {% for story in recent_stories %}
                <li><a href="{{ story.get_absolute_url }}">{{ story.headline }}</a></li>
            {% endfor %}
            </ul>
        </div>

        <div class="rightbar">
            <h5>Other Stories in {{ story.section }}</h5>
            <ul>
                {% for story in related %}
                    <li><a href="{{ story.get_absolute_url }}">{{ story.headline }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
  </div>
{% endblock %}
