{% extends "base.html" %}
{% load extras %}

{% block title %}{{ story.headline|removetags:"em strong b i" }}{% endblock title %}


{% block customheader %}

<link rel="stylesheet" href="{% static css page/story.css %}" type="text/css" media="screen, projection" />

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>

<script type="text/javascript" charset="utf-8">
  function hideFunctionFor(id) {
    return function() {
      hideComment(id);
      return false;
    };
  }
  function showFunctionFor(id) {
    return function(event) {
      loadComment(id);
      return false;
    };
  }

  function loadComment(id) {
    $('#c-' + id)
      .find('.commentText').load('show-comment/' + id + '/')
      .end()
      .find('.showLink').html('hide').one('click', hideFunctionFor(id));
  }
  function hideComment(id) {
    $('#c-' + id)
      .find('.commentText').html('')
      .end()
      .find('.showLink').html('show anyway').one('click', showFunctionFor(id));
  }
  
  $(function() {
    $('.comment').each(function(i) {
      id = this.id.substring('2');
      $('.showLink', this).one('click', showFunctionFor(id));
    });
  });
</script>

{% endblock customheader %}


{% block topbar %}
  <div id="headerSectionBar">
    <div id="headerSection">
      <h3>
        <a href="{{ story.section.get_absolute_url }}">{{ story.section.name }}</a>
        {% if story.subsections.count %}
          >>
          {% for sub in story.subsections.all %}
            <a href="{{ sub.get_absolute_url }}">{{ sub.name }}</a>{% if not forloop.last %},{% endif %}
          {% endfor %}
        {% endif %}
      </h3>
    </div>

    <div id="headerSearch" class="floatRight">
      <form method="get" id="searchform" action="{% url search %}">
        Search:
        <input type="text" class="textbox" value="" name="s" id="s" />
        <input type="submit" id="searchsubmit" value="Go" />
      </form>
    </div>
  </div>
{% endblock topbar %}


{% block content %}
  <div id="commentColumn">
    <div id="commentBox">
      {% include "stories/sidebar.html" %}
    </div>
  </div>

  <div id="storyBox">
    <div id="story">
      <h2>{{ story.headline|safe }}</h2>
      <p class="byline">
        <span class="author">by {{ story.authors|join_authors:"l" }}</span>
        <span class="date">|
          <a href="{{ story.pub_date|issue_url }}">{{ story.pub_date|date:"F j, Y" }}</a>
        </span>
      </p>

      {{ story.resolved_text|safe }}
    </div>

    <div id="shareBox">
      <div class="right">
        <strong>Share:</strong> {% add_this hover %}
      </div>
      <p>
        <a href="{% url print story %}"><img src="{% static images icons/print.png %}" /> Print</a>
        &nbsp;&nbsp;
        <a href="{% url email story %}"><img src="{% static images icons/email.png %}" /> Email</a>
      </p>
    </div>

    <div id="continueBox">
      <div id="top">
        <a href="{{ topstory.get_absolute_url }}">
          <img src="{{ topstory.thumbnail.get_absolute_url }}" />
        </a>
        <div class="content">
          <h4><a href="{{ topstory.get_absolute_url }}">{{ topstory.get_title }}</a></h4>
          <p>{{ topstory.short_summary }}</p>
        </div>
      </div>

      <div id="more">
        <div class="box">
          <h4>Related Stories</h4>
          <ul>
            {% for rel in related %}
              <li><a href="{{rel.get_absolute_url}}">{{ rel.get_title|safe }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="box">
          <h4>Recent Comments</h4>
          <ul>
            {% for comment in comments|slice:":4" %}
              <li><a href="{{comment.get_absolute_url}}">{{ comment.subject.get_title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>

    </div>

    <div id="comments">
        {% for comment in story.comments.all %}
          <div class="comment" id="c-{{ comment.number }}">
            <div class="commentInformation">
              <p>
                <strong>#{{ comment.number }}</strong>
                <br/>
                {{ comment.time|date:"j N Y" }}
                <br />
                {{ comment.time|date:"g:i a" }}
                <br/>
              </p>
            </div>

          <div class="commentContent {% if comment.is_staff %}staff{% else %}{% if not comment.is_visible %}moderate{% endif %}{% endif %}">
          
          	<div class="commentContentInner">
            <p class="commentText">
              {% if comment.is_visible %}
                {{ comment.text }}
              {% endif %}
            </p>
            
            <p class="commentAuthorship">
              {% if comment.is_visible %}
                &mdash;
                {{ comment.linked_name|safe }}
                <span class="authorDark">| {{ comment.status }}</span>
              {% else %}
                {% if comment.is_approved %}
                  This comment has been deemed offensive by the community or site editors.<br/>
                  The Gazette does not condone its content.
                {% else %}
                  This comment has not yet been approved by a site administrator.
                {% endif %}

                [<a href="#" class='showLink'>show anyway</a>]
                <br/>
                &mdash;{{ comment.display_name }} <span class="authorDark">| {{ comment.status }}</span>
              {% endif %}
            </p>
            </div>
          </div>
        </div>
      {% endfor %}

    </div>

    <div id="submitComments">

      <div id="commentForm">
      <h4 name="submitComment" style="display: none;">Submit a Comment</h4>
        <form method="post" action="comment/">
          <table>
          {% if user.is_authenticated %}
            <tr>
              <td>
                {{ comment_form.anonymous.label_tag }}
                {{ comment_form.anonymous }}
              </td>
              <td>{{ comment_form.name.label_tag }}:</td>
              <td>{{ comment_form.name }}</td>
            </tr>
          {% else %}
            <tr>
              <td>{{ comment_form.name.label_tag }}:</td>
              <td>{{ comment_form.name }}</td>
              <td><a href="{% url login %}">Log in</a> to verify your identity.</td>
            </tr>
            <tr>
              <td>{{ comment_form.email.label_tag }}:</td>
              <td>{{ comment_form.email }}</td>
              <td>Required, but will not be made public.</td>
            </tr>
          {% endif %}
          <tr><td colspan="3">{{ comment_form.text }}</td></tr>
          <tr>
            <td colspan="3">
              <span style="float: right">
                <input type="submit" name="submit" value="Submit" />
                <input type="reset"  name="reset"  value="Cancel" />
              </span>
            </td>
          </tr>
          </table>
        </form>
      </div>

      <div id="commentRules">
        <p>Comments posted anonymously must be approved by Gazette staff before they are published.</p>

        <hr width="50%" color="#dddddd" size="1px">

        <h4>Discussion Rules</h4>
        <ul>
          <li>Be nice.</li>
          <li>Be constructive.</li>
          <li>Don't curse.</li>
          <li>Don't threaten.</li>
        </ul>

        <p>More details on our policies <a href="/policies/">here</a>.</p>

        <hr width="50%" color="#dddddd" size="1px" />

        <p>
          {% if user.is_authenticated %}
            <a href="{{ user.manage_url }}">Manage your Account</a>
          {% else %}
            <a href="{{ user.register_url }}">Register an Account</a> |
            <a href="{{ user.login_url }}">Login</a>
          {% endif %}
        </p>
      </div>
    </div>

  </div>

{% endblock content %}
