{% extends "base.html" %}
{% load extras %}

{% block title %}Book Submitted{% endblock %}

{% block customheader %}
  <link rel="stylesheet" href="{% static css page/story.css %}" type="text/css" media="screen, projection" />
{% endblock %}

{% block topbar %}
  <div id="headerSectionBar">
    <div id="headerSearch">
      {% include "search_header.html" %}
    </div>
  </div>
{% endblock %}

{% block content %}
  <div id="storyBox">
    <div id="story">
      <h2>Success!</h2>
      <p>Thanks for submitting your book to be sold. An administrator will review it and, with any luck, it should show up on the site and in the Reserved Students Digest soon.</p>
    </div>
  </div>
{% endblock %}
