#monthArchives {
	float: right;
	display: block;
	width: 160px;
	margin: 10px;
	border: 1px #000;
}

#monthArchives table {
	line-height: 1.4;
	font-size: 1.4em;
}

#monthArchives table .year {
	background-color: #AAA;
	color: #FFF;
}

#monthArchives table .month {
	background-color: #CCC;
}

#monthArchives table .week {
	background-color: #EEE;
}