#monthArchives {
	float: right;
	display: block;
	padding: 2px;
	border: 1px solid #AAA;
}

#monthArchives table {
	line-height: 1.4;
	font-size: 1.4em;
	border: 1px solid #AAA;
	text-align: center;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#monthArchives table .year {
	background-color: #AAA;
	font-weight: bold;

}

#monthArchives table .month {
	background-color: #CCC;
	font-weight: bold;
}

#monthArchives table .week {
	background-color: #EEE;
}