#monthArchives {
	float: right;
	display: block;
	padding: 2px;
	border: 1px solid #AAA;
}

#monthArchives table {
	line-height: 1.4;
	font-size: 1.4em;
	border: 1px solid #AAA;
	text-align: center;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#monthArchives table .year {
	font-weight: bold;

}

#monthArchives table .month {
	font-weight: bold;
}

#monthArchives table .week {
	font-weight: bold;
}

#monthArchives table .day td {
	border: 1px solid #CCC;
}

#monthArchives table .day {

}

#monthArchives table .day .empty {
	background-color: #FFF;
}

#monthArchives table .day .content {
	background-color: #DDD;
}