#storyBox {
	width: 655px;
	margin: 0 0 25px 0;
	position: relative;
	padding-left: 25px;
	min-height: 400px;
}

#story h2{
	font-size: 200%;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: black;
	margin: 5px 0px 5px 0px;
	text-align: left;
	border-bottom: 2px solid #000000;
	font-size: 3em;
}
	
#commentColumn {
	width: 234px;
	float: right;
	z-index: 10;
}

.commentHeaderBox {
	display: block;
	width: 100%;
	margin-top: 10px;
	border-top: 3px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	background-color: #eeeeee;
	padding: 4px;
	float: left;
}


/**************************************

COMMENT STYLES

**************************************/

#comments {
	width: 645px;
	margin-left: 5px;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	background-color: #ffffff;
	padding: 4px;
	display: inline-block;
}

.comment {
	padding-top: 5px;
	display: inline-block;
}

.comment.new {
    display: none;
}

.commentInformation {
	width: 640px;
	float: left;
	background-color: #CCC;
}


.commentInformation .commentNumber {
    font-weight: bold;
}
.commentInformation .commentTime {
    font-style: italic;
}

.commentInformation ul {
	list-style-type: none;
	display: inline-block;
	margin-top: 3px;
}

.commentInformation li {
	display: inline;
	width: 10px;
	height: 10px; 
}

.commentInformation li.up a:link, .commentInformation li.up a:visited {
	background: url(/static/images/story/up.png) 0 0 no-repeat; 
	display:inline-block;
	width: 10px;
	height: 10px; 
	overflow:hidden; 
	text-decoration:none; 
	text-indent: -3000px;
}

.commentInformation li.down a:link, .commentInformation li.down a:visited {
	background: url(/static/images/story/down.png) 0 0 no-repeat; 
	display:inline-block;
	width: 10px;
	height: 10px; 
	overflow:hidden; 
	text-decoration:none; 
	text-indent: -3000px;
}

.commentInformation li.up.selected a:link, .commentInformation li.up.selected a:visited {
	background:url(/static/images/story/up-selected.png) 0 0 no-repeat; 
}

.commentInformation li.down.selected a:link, .commentInformation li.down.selected a:visited {
	background:url(/static/images/story/down-selected.png) 0 0 no-repeat; 
}

.commentInformation li.up a:link:hover, .commentInformation li.up a:visited:hover {
	background:url(/static/images/story/up-hover.png) 0 0 no-repeat; 
}

.commentInformation li.down a:link:hover, .commentInformation li.down a:visited:hover {
	background:url(/static/images/story/down-hover.png) 0 0 no-repeat; 
}

.commentContent {
	width: 640px;
	float: left;
	text-align: justify;
	margin-bottom: 10px;
}

.authorDark {
	margin: 0px;
	font: .8em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #606060;
}

.commentContent.staff {
	background-color: #fffcd7;
}

.commentContent.moderate .commentAuthorship {
	font-style: italic;
	color: #7c7c7c;
}

#submitComments {
	width: 655px;
	border: 1px solid #cccccc;
	border-bottom: 3px solid #cccccc;
	background-color: #f4f4f4;
	padding: 4px;
	display: inline-block;
	text-align: left;
}

#commentForm {
	float: left;
	width: 425px;
	display: inline;
	overflow:hidden;
}

#commentRules {
	float: right;
	display: inline;
	overflow:hidden;
	width: 225px;

}

#commentRules ul {
	list-style-type: square;
	margin: 0px 0px 0px 15px;
	padding: 0 0 0px 10px;
	font-size: 1.3em;
}
