/* @override 
	http://127.0.0.1:8000/static/css/page/reviews.css
	http://daily.swarthmore.edu/static/css/page/reviews.css
	http://daily.swarthmore.edu/static/css/page/establishments.css
	http://daily.swarthmore.edu/static/css/page/establishment.css
*/


#reviews h2 {
	font-size: 300%;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: black;
	margin: 5px 0px 5px 20px;
	text-align: left;
	font-size: 3em;
}

#mapBlock {
	display: inline-block;
	float: left;
}

#map.jmap {
	width: 600px;
	height: 300px;
	border: 3px solid #4f6b72;
	float: right;
	display: inline-block;
	margin-top: 5px;
	margin-right: 20px;
}

#reviewText {
	width: 600px;
	border: 3px solid #4f6b72;
	float: right;
	display: inline-block;
	margin-top: 5px;
	margin-right: 20px;
}

#route {
	width: 275px;
	float: left;
	margin-left: 20px;
	margin-top: 5px;
	text-align: left;
}

#route h4 {
	padding-top: 15px;
	display: inline-block;
}
