/* @override 
	http://127.0.0.1:8000/static/css/page/reviews.css
	http://daily.swarthmore.edu/static/css/page/reviews.css
	http://daily.swarthmore.edu/static/css/page/establishments.css
*/

/*
   Add the following to your CSS file should you wish the cursor to
   "wait" while the script is processing the sort

body.sort-active *
        {
        cursor:wait;
        }
*/


#map.jmap {
	width: 600px;
	height: 300px;
	border: 3px solid #4f6b72;
	float: right;
	display: inline-block;
	margin-top: 20px;
	margin-right: 20px;
}

#listings {
	float: left;
	width: 100%;
	padding-top: 20px;
}

#route {
	width: 275px;
	height: 300px;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	text-align: left;
}

#route h4 {
	padding-top: 15px;
	display: inline-block;
}
