body {
	background-color: #CCCCCC;
}

/*-----

Login CSS

-----*/

#login {
	margin: 0 auto;
	background: url(../../images/registration/background-login.png) no-repeat;
	width: 350px;
	height: 350px;
}

#login #content {
	padding:  100px 50px 75px 50px;
	color: #fff;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

#login #content .form {
	font-size: 1em;
}

#login #content .submit {
	float: right;
	display: inline-block;
}

#login #content .register {
	font-size: .8em;
	padding-top: 60px;
}

#login #content a {
	color: #fff;
}

#errors {
    background-color: #4D3320;;
    width: 280px;
    margin: 0 auto;
    padding: 0 10px;
    border: 5px solid white;
    color: white;
    text-align: center;
}

#errors a {
    color: red;
    text-decoration: none;
}

#errors a:hover {
    text-decoration: underline;
}

/*-----

Register CSS

-----*/

#register {
	margin: 0 auto;
	background: url(../../images/registration/background-register.png) no-repeat;
	width: 400px;
	height: 600px;
}

#register #content {
	padding:  100px 50px 75px 50px;
	color: #fff;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

#register #content .form {
	font-size: 1em;
}

#register #content .submit {
	float: right;
	display: inline-block;
}

#register #content .register {
	font-size: .8em;
	padding-top: 60px;
}

#login #content a {
	color: #fff;
}