/* @override 
	http://daily.swarthmore.edu/static/css/staff.css
	http://daily.swarthmore.edu/static/css/page/staff.css
*/

/**********| MAIN STUFF |**********/

body {
	padding: 0px;
	margin: 0px;
}
#container {
	width: 970px;
	margin: 0 auto;
}

#container2 {
	width: 970px;
	background: url(http://daily.swarthmore.edu/static/images/staff/bg.png);
	display: inline-block;
}

#main {
	width: 710px;
	display: block;
	float: left;
	padding-bottom: 50px;
}

#header {
	
}

p {
	padding: 0px;
	margin: 0px;
}


/**********| YOUR STORIES |**********/


#yourStories {
	margin-left: 10px;
	margin-right: 10px;
	width: 690px;
	float: left;
	display: box;
}

#yourStories h2 {
	color: #E6E3C3;
	margin: 0px;
}

#yourStories p,#yourStories a {
	color: #E6E3C3;
}

#yourStories a {
	font-weight: bold;
}

.personalConcept {
	background-color: #A35A28;
	margin: 5px;
	margin-top: 0px;
	width: 680px;
	display: inline-block;
	padding: 5px;
}

.personalConcept .name {
	float: left;
	display: inline-block;
}

.personalConcept .dueDate {
	font-variant: small-caps;
	float: right;
	display: inline-block;
}

.personalConcept .dueDate a {
	font-size: .8em;
}

.personalConcept.collapsed {
	visibility: collapse;
}


/**********| UNCLAIMED STORIES |**********/

#unclaimedStories {
	float: left;
	display: box;
	padding-top: 10px;	
}

#unclaimedStories p {
	color: #E6E3C3;
}

.unclaimedHeader {
	padding: 5px;
	margin: 0px;
	margin-top: 5px;
	background-color: #572B0D;
	width: 240px;
	float: left;
	display: inline-block;
	color: #E6E3C3;
}

.unclaimedHeader h3 {
	color: #E6E3C3;
	margin: 0px;
}

.unclaimedDate {
	padding: 5px;
	margin: 0px;
	background-color: #6E250B;
	width: 240px;
	float: left;
	display: inline-block;
	color: #E6E3C3;
}

.unclaimedStory {
	background-color: #A35A28;
	padding: 5px;
	margin: 0px;
	width: 240px;
	float: left;
	display: inline-block;
}

.unclaimedStory.collapsed {
	
}

/**********| ADMIN LINK BAR |**********/

#linkBox {
	margin-left: 10px;
	margin-right: 5px;
	width: 254px;
	float: left;
	display: box;
	padding-left: 5px;
}

#linkBox a {
	color: #E6E3C3;
}

#bigLink {
	background-color: #572B0D;
	padding: 5px;
	margin-right: 5px;
	margin-top: 10px;
	width: 240px;
	float: left;
	display: inline-box;
	text-align: center;
}

#bigLink a {
	font: bold 1.4em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-decoration: none;
}

#bigLink a:hover {
	text-decoration: underline;
}
.smallLink {
	background-color: #A35018;
	margin-top: 2px;
	margin-right: 5px;
	padding: 5px;
	width: 112px;
	float: left;
	display: inline-box;
	text-align: center;
}

.smallLink a {
	font: bold .7em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-decoration: none;
}
/**********| PROFILE BOX |**********/

#profileBox {
	width: 430px;
	float: left;
	margin-top: 10px;
}

#profileBox p {
	margin-top: 0px;
	padding-top: 0px;
}

.picture {
	width: 175px;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}

#profileBox ul {
	width: 250px;
	padding-left: 200px;
	}

#profileBox ul li {

}

#profileBox p {
	
}

/**********| ALL STORIES LIST |**********/


#sideBar {
	padding-left: 10px;
	padding-right: 20px;
	width: 230px;
	float: left;
	display: inline-block;
	color: #E6E3C3;
}

#sideBar h3 {
	font: 1.5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin-bottom: 0px;

}
.claimedDate {
	margin-top: 10px;
	float: left;
	font: small-caps 1em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	width: 230px;
	border-bottom: 1px solid #000000;
	color: #E6E3C3;
}

.claimedStory {
	width: 230px;
	float: left;
	display: inline-block;
}

.claimedStory p {
	font: .9em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.collapsed {
	padding-top: 0px;
	margin-top: 0px;
	float: left;
	width:  230px;
	display: block;
	clear: none;
}


#sideBar p {
	margin: 0px;
	padding-top: 5px;
	color: #fff;
	font: .8em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#sideBar a {
	text-decoration: none;
	color: #fff;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-weight: normal;
	font-style: normal;
}
