/* @override http://daily.swarthmore.edu/static/css/page/story.css */

#storyBox {
	width: 655px;
	margin: 0 0 25px 0;
	position: relative;
	padding-left: 25px;
	min-height: 400px;
}

#story p {
	margin: 0;
	padding: 0 0 10px 0px;
	color: black;
	text-align: justify;
	line-height: 1.4;
	font-size: 1.4em;
	width: 655px;
}

#story h2{
	font-size: 200%;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: black;
	margin: 5px 0px 5px 0px;
	text-align: left;
	border-bottom: 2px solid #000000;
	font-size: 3em;
}

#story p a {
	text-decoration: underline;
}

#story ul {
	list-style-type: square;
	margin: 0px 0px 10px 25px;
	padding: 0 0 0px 0px;
	font-size: 1.4em;
}

.leftImage {
	float: left;
	margin: 10px 10px 10px 0px;
	width: 300px;
}


.pullQuote {
	color: black;
	text-align: left;

	float: left;
	border-top: 2px solid #000000;
	margin: 5px 15px 5px 0px;
	padding: 2px;
	width: 200px;
	font-style: italic;
	font-size: 1.5em;
}
	
.pullQuote a {
	font-weight: normal;
	font-style: normal;
}

#story h3 {
	font-size: 2em;
	line-height: 1em;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: black;
	text-align: left;
	padding: 2px;
	width: 500px;
	font-weight: bold;
}

/**************************************

RIGHT MENU STYLES

**************************************/
	
#commentColumn {
	width: 234px;
	float: right;
	z-index: 10;
}

#commentBox {
	float: right;
	width: 200px;
	margin-right: 25px;
	margin-top: 60px;
	padding: 4px;
	position: fixed;
	background-color: #eeeeee;
	border: 1px solid #cccccc;
}

#commentField {
	width: 360px;
	background-color: #dddddd;
	display: none;
	position: relative;
	right: 158px;
	z-index: 5;
}


#commentBox ul {
	list-style-type: square;
	margin: 0px 0px 0px 15px;
	padding: 0 0 0px 10px;
	font-size: 1.3em;	
}

#commentBox ul ul {
	font-size: 1em;
	list-style-type: square;
}

/**************************************

STORY INCLUDES

**************************************/

#shareBox {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 5px;
	border-top: 3px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	background-color: #eeeeee;
	padding: 4px;
}

#shareBox p {
	margin: 0;
	padding: 0;
	font: 1.2em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
#shareBox a {
	text-decoration: none;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#shareBox .right {
/*  width: 200px;*/
	float: right;
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#continueBox {
	display: block;
	width: 100%;
	margin-top: 0px;
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	background-color: #eeeeee;
	padding: 4px;
	float: left;
}

#continueBox #top {
	width: 225px;
	float: left;
	border-right: 1px solid #cccccc;
	margin: 0 5px 0 0px;
	padding: 5px;
	font-weight: normal;
	font-style: normal;
}


#continueBox #top img {
	width: 50px;
	border: none;
	float: left;
}

#continueBox #top .content {
	margin-left: 55px;
	
}

#continueBox #more {
	float: left;
	display: block;
}

#continueBox #more .box {
	width: 200px;
	float: left;
}

#continueBox #more .box ul {
	list-style-type: square;
	margin: 0px 0px 0px 15px;
	padding: 0 0 0px 10px;
	font-size: 1.3em;
}


/**************************************

COMMENT STYLES

**************************************/

#comments {
	width: 645px;
	margin-left: 5px;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	background-color: #ffffff;
	padding: 4px;
	display: inline-block;
}

.comment {
	padding-top: 5px;
	display: inline-block;
}

.comment.new {
    display: none;
}

.commentInformation {
	width: 640px;
	float: left;
	background-color: #CCC;
}


.commentInformation .commentNumber {
    font-weight: bold;
}
.commentInformation .commentTime {
    font-style: italic;
}

.commentInformation ul {
	list-style-type: none;
	display: inline-block;
	margin-top: 3px;
}

.commentInformation li {
	display: inline;
	width: 10px;
	height: 10px; 
}

.commentInformation li.up a:link, .commentInformation li.up a:visited {
	background: url(/static/images/story/up.png) 0 0 no-repeat; 
	display:inline-block;
	width: 10px;
	height: 10px; 
	overflow:hidden; 
	text-decoration:none; 
	text-indent: -3000px;
}

.commentInformation li.down a:link, .commentInformation li.down a:visited {
	background: url(/static/images/story/down.png) 0 0 no-repeat; 
	display:inline-block;
	width: 10px;
	height: 10px; 
	overflow:hidden; 
	text-decoration:none; 
	text-indent: -3000px;
}

.commentInformation li.up.selected a:link, .commentInformation li.up.selected a:visited {
	background:url(/static/images/story/up-selected.png) 0 0 no-repeat; 
}

.commentInformation li.down.selected a:link, .commentInformation li.down.selected a:visited {
	background:url(/static/images/story/down-selected.png) 0 0 no-repeat; 
}

.commentInformation li.up a:link:hover, .commentInformation li.up a:visited:hover {
	background:url(/static/images/story/up-hover.png) 0 0 no-repeat; 
}

.commentInformation li.down a:link:hover, .commentInformation li.down a:visited:hover {
	background:url(/static/images/story/down-hover.png) 0 0 no-repeat; 
}

.commentContent {
	width: 640px;
	float: left;
	text-align: justify;
	margin-bottom: 10px;
}

.authorDark {
	margin: 0px;
	font: .8em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #606060;
}

.commentContent.staff {
	background-color: #fffcd7;
}

.commentContent.moderate .commentAuthorship {
	font-style: italic;
	color: #7c7c7c;
}

#submitComments {
	width: 655px;
	border: 1px solid #cccccc;
	border-bottom: 3px solid #cccccc;
	background-color: #f4f4f4;
	padding: 4px;
	display: inline-block;
	text-align: left;
}

#commentForm {
	float: left;
	width: 425px;
	display: inline;
	overflow:hidden;
}

#commentRules {
	float: right;
	display: inline;
	overflow:hidden;
	width: 225px;

}

#commentRules ul {
	list-style-type: square;
	margin: 0px 0px 0px 15px;
	padding: 0 0 0px 10px;
	font-size: 1.3em;
}


/**************************************

SUBMISSION FORM STYLES

**************************************/

.submission {
	font-size: 1.4em;
	padding-bottom: 4px;
}

.submission th {
	text-align: right;
}

.submission tr {
	margin: 2px;
}

/**************************************

PHOTO SPREAD STYLES

**************************************/

#photo-block {
	margin: 0 auto;
}

#photo-block img {
	max-width: 650px;
	max-height: 450px;
}

.nav-links a {
	font: 1.4em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-weight:bold;
	text-decoration: none;
	color: #ffffff;
}

.nav-links .otherLink a {
	color: #432c16;
}

.nav-links a:hover {
	text-decoration: underline;
}

.photo-coption {
	width: 400px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.nav-links ul {
	display: inline-block;
	margin-top: 5px;
}

.nav-links ul li {
	display: inline;
	padding: 5px;
	margin: 0px;
	font-color: #FFF;
}

.current, .notCurrent {
	border: 1px solid #000000;
}

.current {
	background-color: #AAA;
}

.notCurrent {
	background-color: #432c16;
}

.current:hover, .notCurrent:hover {
	background-color: #BBB
}

/**************************************

COLUMN STYLES

**************************************/

.column h2{
	color: black;
	margin: 5px 0px 5px 0px;
	text-align: left;
	border-bottom: 0px solid #ffffff;
	font-size: 3em;
}