{% extends "base.html" %}
{% load extras %}

{% block title %}Announcements{% endblock title %}


{% block customheader %}

<link rel="stylesheet" href="{% static css page/story.css %}" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="{% static css page/job.css %}" type="text/css" media="screen, projection" />

{% jQuery %}

{% endblock customheader %}


{% block topbar %}
  <div id="headerSectionBar">
    <div id="headerSearch">
      <form method="get" id="searchform" action="{% url search %}">
        Search:
        <input type="text" class="textbox" value="" name="s" id="s" />
        <input type="submit" id="searchsubmit" value="Go" />
      </form>
    </div>
  </div>
{% endblock topbar %}


{% block content %}
  <div id="commentColumn">
    <div id="commentBox">
      {% include "announcements/sidebar.html" %}
    </div>
  </div>

  <div id="storyBox">
    <div id="story">
      <h2>Job Listings</h2>
      		{% for announcement in announcements %}
      		<div class="block">
				  <h4><a href="{{ announcement.get_absolute_url }}">{{ announcement.title }}</a></h4> <br /><br />
						<div id="jobInfoList">
			<p><strong>Sponsor:</strong> {% if announcement.sponsor_url.verify_exists %}<a href="{{ announcement.sponsor_url }}">{% endif %}{{ announcement.sponsor }}{% if announcement.sponsor_url.verify_exists %}</a>{% endif %}</p>
			{% if announcement.is_event %}<p><strong>When:</strong> {{ announcement.event_date|near_future_date }} at {{ announcement.event_time }}</p>
            <p><strong>Where:</strong> {{ announcement.event_place }}</p>{% endif %}
		</div>
<p>{{ announcement.text }}</p>				  
				  {% if not forloop.last %}
				  {% endif %}
				  </div>
				{% endfor %}
				

				<p>&nbsp;</p>
				 
    </div>

    <div id="shareBox">
      <div class="right">
        <strong>Share:</strong> {% add_this hover %}
      </div>
      <p>
        <a href="/jobs/">Jobs Listing</a>
      </p>
    </div>

    <div id="continueBox">
      <div id="top">
        <a href="{{ toppage.get_absolute_url }}">
          <img src="{{ toppage.thumbnail.get_absolute_url }}" />
        </a>
        <div class="content">
          <h4><a href="{{ toppage.get_absolute_url }}">{{ toppage.get_title }}</a></h4>
          <p>{{ toppage.short_summary }}</p>
        </div>
      </div>

      <div id="more">
        <div class="box">
          <h4>Top Stories</h4>
          <ul>
            {% for story in stories %}
              <li><a href="{{rel.get_absolute_url}}">{{ rel.get_title|safe }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="box">
          <h4>Recent Comments</h4>
          <ul>
            {% for comment in comments|slice:":4" %}
              <li><a href="{{comment.get_absolute_url}}">{{ comment.subject.get_title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>

    </div>
  



  </div>

{% endblock content %}
