{% extends "base.html" %}
{% load extras %}

{% block title %}Submit Announcement{% endblock %}

{% block customheader %}

  {% jQuery %}
  <script type="text/javascript" charset="utf-8">
    function toggleSponsorLink() {
      $('#sponsor-url-row')
        .find('input').val('').end()
        .toggle();
      link = $('#sponsor-toggle');
      if (link.text() == 'add a link') {
        link.text('remove the link');
      } else {
        link.text('add a link');
      }
    }
    
    function toggleEventFields() {
      $('.event-row').find('input').val('').end().toggle();
    }
    
    $(document).ready(function() {
      url_row = $('#sponsor-url-row');
      if (url_row.find('input').val() == '') {
        url_row.hide(0);
        $('#sponsor-toggle').show(0);
      } else {
        $('#sponsor-toggle').text('remove the link').show(0);
      }
      
      if ($('#{{ form.is_event.auto_id }}:checked').length == 0) {
        $('.event-row').hide(0);
      }
    });
  </script>
  
<link rel="stylesheet" href="{% static css page/story.css %}" type="text/css" media="screen, projection" />

{% endblock %}


{% block topbar %}
  <div id="headerSectionBar">
    <div id="headerSearch">
      {% include "search_header.html" %}
    </div>
  </div>
{% endblock topbar %}


{% block content %}
  <div id="storyBox">
    <div id="story">
      <h2>Submit an Announcement</h2>

		  {% if form.non_field_errors %}
			<p>
			  {{ form.non_field_errors }}
			</p>
		  {% endif %}
			<p>
				<strong>Please note:</strong> If, after submitting this announcement or event, you have <em>not</em> seen a confirmation page, please email dailygazette@swarthmore.edu with your event information so we can manually add it to the list. Please include the name and version number of your browser in the email.
			</p>
		  <form action="" method="post">
			<table class="submission">
			  <tr>
  				<th width="150px"><label for="{{ form.title.auto_id }}">Announcement Title</label>:</th>
  				<td>{{ form.title }}</td>
  				<td>{{ form.title.errors }}</td>
			  </tr>
			  <tr>
			   <th><label for="{{ form.poster_email.auto_id }}">Your Email</label>:</th>
			   <td>{{ form.poster_email }}</td>
			   <td>{{ form.poster_email.errors }}</td>
			  </tr>
			  <tr>
  				<th><label for="{{ form.text.auto_id }}">Announcement Text</label>:</th>
  				<td>{{ form.text }}</td>
  				<td>{{ form.text.errors }}</td>
			  </tr>
			  <tr>
  				<th><label for="{{ form.date_start.auto_id }}">First Day in Digest</label>:</th>
  				<td>{{ form.date_start }}</td>
  				<td>{{ form.date_start.errors }}</td>
			  </tr>
			  <tr>
  				<th><label for="{{ form.date_end.auto_id }}">Last Day in Digest</label>:</th>
  				<td>{{ form.date_end }}</td>
  				<td>{{ form.date_end.errors }}</td>
			  </tr>
			  <tr>
  				<th>{{ form.sponsor.label_tag }}: &nbsp;&nbsp;&nbsp;<small>(group if there is one, otherwise you)</small></th>
  				<td>
  				  {{ form.sponsor }}
  				  <a href="#" id='sponsor-toggle' style="display: none;" onclick="toggleSponsorLink(); return false;">add a link</a>
  				</td>
  				<td>{{ form.sponsor.errors }}</td>
			  </tr>
			  <tr id="sponsor-url-row">
  				<th><label for="{{ form.sponsor_url.auto_id }}">Sponsor Link</label>:</th>
  				<td>{{ form.sponsor_url }}</td>
  				<td>{{ form.sponsor_url.errors }}</td>
			  </tr>
			  <tr>
			   <th> &nbsp; </th>
			   <td colspan="2">
			     {{ form.is_lost_and_found }}
			     This announcement is about a lost (or found) item.
			   </td>
			  </tr>
			  <tr>
			  	<th> &nbsp; </th>
  				<td colspan="2">
  				  {{ form.is_event }}
  				  This announcement is about a specific event. (We'll still let you post it!)
  				</td>
			  </tr>
			  <tr class="event-row">
  				<th>{{ form.event_date.label_tag }}:</th>
  				<td>{{ form.event_date }}</td>
  				<td>{{ form.event_date.errors }}</td>
			  </tr>
			  <tr class="event-row">
  				<th>{{ form.event_time.label_tag }}:</th>
  				<td>{{ form.event_time }}</td>
  				<td>{{ form.event_time.errors }}</td>
			  </tr>
			  <tr class="event-row">
  				<th>{{ form.event_place.label_tag }}:</th>
  				<td>{{ form.event_place }}</td>
  				<td>{{ form.event_place.errors }}</td>
			  </tr>
			  <tr>
			  	<th></th>
			  	<td>
			  		<input type="submit" value="Submit" />
			  	</td>
			  	<td></td>
			  </tr>
			</table>
		  </form>
		  
 		</div>
 	</div>
{% endblock %}
