{% extends "listings/base.html" %}
{% load extras %}
{% load markup %}

{% block title %}{{ announcement.title|striptags }}{% endblock title %}
{% block listings_customheader %}{% endblock listings_customheader %}
{% block listings_title %}{{ announcement.title|striptags }}{% endblock listings_title %}

{% block listings_content %}

    <p><strong>Sponsor:</strong> {{ announcement.sponsor_link }}</p>
	{% if announcement.is_event %}
        <p><strong>When:</strong>{{ announcement.event_date|near_future_date }}
            {% if announcement.event_time %}
                at {{ announcement.event_time }}
            {% endif %}
        </p>
        {% if announcement.event_place %}<p><strong>Where:</strong> {{ announcement.event_place }}</p>{% endif %}
    {% endif %}
    
    {% autoescape off %}
        <p>{{ announcement.text }}</p>
    {% endautoescape %}
    <p><strong>See our <a href="http://daily.swarthmore.edu/announcements">other announcements</a>, or <a href="http://daily.swarthmore.edu/announcements/new/">submit</a> your own.</strong></p>
  
{% endblock listings_content %}