{% extends "base-expand.html" %}
{% load extras %}
{% load markup %}

{% block title %}Events and Announcements{% endblock title %}
{% block customheader %}


{% endblock customheader %}

{% block expand_breadcrumb %}
	<a href="/announcements/">Events and Announcements</a>
{% endblock expand_breadcrumb %}

{% block expand_top %}	
		<div class="event-timeline">
			{% for list in event_list %}
				<div class="event-day">
	        		<span class="date">{{ list.0.event_date|month}} {{ list.0.event_date|day}}</span>
					<ul>
					{% for event in list %}
						<li>{{ event.event_time }}: <a href="{{ event.get_absolute_url }}">{{ event.title }}</a></li>
					{% endfor %}
					</ul>
				</div>
			{% endfor %}
	    </div> <!-- end .timeline -->
{% endblock expand_top %}

{% block expand_content %}
		    <h1 class="article-title">Announcements</h1>
		    {% for announcementpair in non_events|slice:":10"|in_groups_of:2 %}
				<div class="announcement-row">
					{% for announcement in announcementpair %}
					<div class="announcement">
				        <h4><a href="{{ announcement.get_absolute_url }}">{{ announcement.title }}</a></h4>
				        <p><strong>Sponsor:</strong> {{ announcement.sponsor_link }}<br />
				        {% if announcement.is_event %}
				            <strong>When:</strong> {{ announcement.event_date|near_future_date }} {% if announcement.event_time %} at {{ announcement.event_time }}{% endif %}<br />
				            {% if annnouncement.event_place %}
				                <strong>Where:</strong> {{ announcement.event_place }}<br />
				            {% endif %}
				        {% endif %}
				        {{ announcement.long_excerpt|safe }}</p>
					</div>
					{% endfor %}
				</div>
		    {% endfor %}
{% endblock expand_content %}