{% extends "base-expand.html" %}
{% load extras %}
{% load markup %}

{% block title %}Announcement Submitted{% endblock title %}
{% block customheader %}

{% endblock customheader %}

{% block expand_breadcrumb %}<a href="/announcements/">Announcements &amp; Events</a> &rsaquo;&rsaquo; <a href="/announcements/new/">Submit</a>{% endblock expand_breadcrumb %}

{% block expand_top %}	
{% endblock expand_top %}

{% block expand_content %}

<p>Thanks for submitting your announcement. An administrator will review it and it should show up both in <a href="{% url rsd-full-today %}">the RSD</a> and <a href="{% url announcements %}">our announcements section</a> soon.</p>

{% endblock expand_content %}