{% extends "base.html" %}
{% load extras %}

{% block title %}Community Guide{% endblock title %}

{% block customheader %}
  <link rel="stylesheet" href="{% static css page/section.css %}" type="text/css"/>
  <link rel="stylesheet" href="{% static css page/establishment.css %}" type="text/css"/>
  
  <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAG8P9j9QQO2vTUNEZdr-SshRLWsA0A4EVy0DFjwCAooQph_S49xRweBxq-VXWfeMAOnB19OX6LVP9Ww" type="text/javascript"></script>
  
  {% jQuery %}
  
  <script type="text/javascript">
    var map;
    var directionsPanel;
    var directions;
    var travelMode;
  
    function initialize() {
        map = new GMap2(document.getElementById("map"));
        map.setCenter(new GLatLng(39.9034, -75.3529), 15);
        map.addControl(new GMapTypeControl());
        map.addControl(new GLargeMapControl());
        directionsPanel = document.getElementById("route");
        directions = new GDirections(map, directionsPanel);
        travelType = {% ifequal establishment.access "w" %}G_TRAVEL_MODE_WALKING{% else %}G_TRAVEL_MODE_DRIVING{% endifequal %}
        directions.load("from: 500 College Ave, Swarthmore PA to: {{ establishment.street_address }}, {{ establishment.city }}",{travelMode:travelType});
    }
  </script>

{% endblock customheader %}

{% block body-args %}onload="initialize()"{% endblock %}

{% block topbar %}
  <div id="headerSectionBar">
    <div id="headerSearch">
      {% include "search_header.html" %}
    </div>
  </div>
{% endblock topbar %}


{% block content %}
<div id="reviews">
  <h2>The Zagette</h2>
  <div id="topBlock">
    <div id="mapBlock">
      <div id="route">
        <!-- Directions inserted here -->
      </div>
      <div id="map" class="jmap">
        
        <!-- Map inserted here -->
        
      </div>
      <div id="reviewText">
          {% for review in establishment.reviews.all %}
            {{ review.reviewer }}<br />
            {{ review.cost }} {{ review.rating }}<br />
            {{ review.review_text }}
          {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}





class Review(models.Model):
    "Represents the review of an establishment."
    slug = models.SlugField()
    establishment = models.ForeignKey(Establishment,related_name="reviews")
    
    COST_CHOICES = (
        ('1',"$"),
        ('2',"$$"),
        ('3',"$$$"),
        ('4',"$$$$"),
        ('5',"$$$$$")
    )
    cost = models.CharField(max_length=1, choices=COST_CHOICES)
    
    RATING_CHOICES = (
        ('1',"*"),
        ('2',"**"),
        ('3',"***"),
        ('4',"****"),
        ('5',"*****")
    )
    rating = models.CharField(max_length=1, choices=RATING_CHOICES)
    
    reviewer = models.ForeignKey(UserProfile, related_name="reviews")
    
    review_summary = models.TextField(blank=True) 
    review_text = models.TextField(blank=True)   
    
    def __unicode__(self):
        return self.slug
    
    def get_absolute_url(self):
        return "%s#%s" % (self.establishment.get_absolute_url(), self.slug)
