{% extends "base.html" %}
{% load extras %}

{% block title %}Community Guide{% endblock title %}

{% block customheader %}
  <link rel="stylesheet" href="{% static css page/section.css %}" type="text/css"/>
  <link rel="stylesheet" href="{% static css page/establishment.css %}" type="text/css"/>
  
  <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAG8P9j9QQO2vTUNEZdr-SshRLWsA0A4EVy0DFjwCAooQph_S49xRweBxq-VXWfeMAOnB19OX6LVP9Ww" type="text/javascript"></script>
  
  {% jQuery %}
  
  <script type="text/javascript">
    var map;
    var directionsPanel;
    var directions;
    var travelMode;
  
    function initialize() {
        map = new GMap2(document.getElementById("map"));
        map.setCenter(new GLatLng(39.9034, -75.3529), 15);
        map.addControl(new GMapTypeControl());
        map.addControl(new GLargeMapControl());
        directionsPanel = document.getElementById("route");
        directions = new GDirections(map, directionsPanel);
        travelType = {% ifequal establishment.access "w" %}G_TRAVEL_MODE_WALKING{% else %}G_TRAVEL_MODE_DRIVING{% endifequal %}
        directions.load("from: 500 College Ave, Swarthmore PA to: {{ establishment.street_address }}, {{ establishment.city }}",{travelMode:travelType});
    }
  </script>

{% endblock customheader %}

{% block body-args %}onload="initialize()"{% endblock %}

{% block topbar %}
  <div id="headerSectionBar">
    <div id="headerSearch">
      {% include "search_header.html" %}
    </div>
  </div>
{% endblock topbar %}


{% block content %}
<div id="reviews">
  <h2>{{ establishment.name }}, in the Gazette's Zagette</h2>
  <div id="topBlock">
      <div id="reviewInfo">
          <p><strong>Average Rating:</strong> {{ establishment.avg_rating|default_if_none:"No Ratings" }} | <strong>Average Cost:</strong> {{ establishment.avg_cost|default_if_none:"Unknown" }} | <strong>Tags:</strong> {% for tag in establishment.tags.all %}{{ tag.name }}{% if not forloop.last %}, {% endif %}{% endfor %} | <strong>Phone:</strong> {{ establishment.phone }} | <strong>Address:</strong> {{ establishment.street_address }}, {{ establishment.city }}</p>
      </div>

    <div id="mapBlock">
      <div id="route">
        <!-- Directions inserted here -->
      </div>
      <div id="map" class="jmap">
        
        <!-- Map inserted here -->
        
      </div>
      <div id="reviewText">
          {% for review in establishment.reviews.all %}
            <center><hr width="50%" /></center>
            <p><strong>Reviewed by: {{ review.reviewer.name }}</strong> (Cost: {{ review.cost }} Rating: {{ review.rating }})</p>
            <p>{{ review.review_text }}</p>
          {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}