{% extends "base.html" %}
{% load extras %}

{% block title %}Community Guide{% endblock title %}

{% block customheader %}
  <link rel="stylesheet" href="{% static css page/section.css %}" type="text/css"/>
  <link rel="stylesheet" href="{% static css page/establishment.css %}" type="text/css"/>
  
  <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAG8P9j9QQO2vTUNEZdr-SshRLWsA0A4EVy0DFjwCAooQph_S49xRweBxq-VXWfeMAOnB19OX6LVP9Ww" type="text/javascript"></script>
  <script src="http://www.google.com/uds/api?file=uds.js&amp;v=1.0" type="text/javascript"></script>
	
  {% jQuery %}
  
  <script type="text/javascript">
    var map;
    var directionsPanel;
    var directions;
    var travelMode;
    
    function createMarker(point, text, icon) {
		    var marker = new GMarker(point, icon);
		    // Show this marker's index in the info window when it is clicked
		    GEvent.addListener(marker, "click", function() {
			      marker.openInfoWindowHtml(text);
		    });
		    return marker;
	  }
    
    function initialize() {
        
        map = new GMap2(document.getElementById("map"));
        map.setCenter(new GLatLng(39.9034, -75.3529), 15);
        map.addControl(new GMapTypeControl());
        map.addControl(new GLargeMapControl());
        
        {% ifequal establishment.access "p" %}
            var bicon = new GIcon();
            bicon.image = "{% static images reviews/map-markers/marker-blue.png %}";
            bicon.shadow = "http://www.google.com/mapfiles/shadow50.png";
            bicon.iconSize = new GSize(20, 34);
            bicon.shadowSize = new GSize(37, 34);
            bicon.iconAnchor = new GPoint(9, 34);
            bicon.infoWindowAnchor = new GPoint(9, 2);
            bicon.infoShadowAnchor = new GPoint(18, 25);
            
            $.getJSON('{% url reviews.views.list_trains %}', {}, function(data) {
                jQuery.each(data, function() {
                    var point = new GLatLng(parseFloat(this.lat), parseFloat(this.lng));
                    var text = "<b>" + this.name + "</b>";
                    var marker = createMarker(point, text, bicon);
                    map.addOverlay(marker);
                });
            });
        {% endifequal %}
        
        directionsPanel = document.getElementById("route");
        directions = new GDirections(map, directionsPanel);
        {% ifequal establishment.access "w" %}
            directions.load("from: 500 College Ave, Swarthmore PA to: {{ establishment.street_address }}, {{ establishment.city }}",{travelMode:G_TRAVEL_MODE_WALKING});
        {% else %}
            {% ifequal establishment.access "p" %}
                    directions.load("from: {{ establishment.nearest_station.lat }},{{ establishment.nearest_station.lng }} ({{ establishment.nearest_station.name }}) to: {{ establishment.street_address }}, {{ establishment.city }}",{travelMode:G_TRAVEL_MODE_WALKING});
            {% else %}
                    directions.load("from: 500 College Ave, Swarthmore PA to: {{ establishment.street_address }}, {{ establishment.city }}",{travelMode:G_TRAVEL_MODE_DRIVING});
            {% endifequal %}
        {% endifequal %}
    }
  </script>

{% endblock customheader %}

{% block body-args %}onload="initialize()"{% endblock %}

{% block topbar %}
  <div id="headerSectionBar">
    <div id="headerSection">
      <h3>
        <a href="{% url reviews %}">The Zagette</a>
        &raquo;
        {{ establishment.get_establishment_type_display }}
      </h3>
    </div>
    <div id="headerSearch" class="floatRight">
      {% include "search_header.html" %}
    </div>
  </div>
{% endblock topbar %}


{% block content %}
<div id="reviews">
  <h2>{{ establishment.name }}</h2>
  <div id="topBlock">
    <div id="reviewInfo">
      <p>
        <strong>Average Rating:</strong> {{ establishment.avg_rating|default_if_none:"No Ratings" }} |
        <strong>Average Cost:</strong> {{ establishment.avg_cost|default_if_none:"Unknown" }} | 
        <strong>Tags:</strong> {% for tag in establishment.tags.all %}{{ tag.name }}{% if not forloop.last %}, {% endif %}{% endfor %} |
        <strong>Phone:</strong> {{ establishment.phone }} |
        <strong>Address:</strong> {{ establishment.street_address }}, {{ establishment.city }}
      </p>
    </div>

    <div id="mapBlock">
      <div id="route">
        <!-- Directions inserted here -->
      </div>
      <div id="route">
          <a href="http://www.swarthmore.coop"><img src="{% static images ads/coop-zagette-review-250.png %}" alt="The Swarthmore Food Cooperative" /></a>
      </div>
      <div id="map" class="jmap">
        <noscript>
          <center><p>For a better experience with the Zagette, please enable JavaScript in your browser.</p></center>
        </noscript>
      </div>
      <div id="reviewText">
          {% for review in reviews %}
            {% if not forloop.first %}<center><hr width="50%" /></center>{% endif %}
            <p id="review-{{ review.pk }}"><strong>Reviewed by: {{ review.reviewer.name }}</strong> (Cost: {{ review.cost }}; Rating: {{ review.rating }})</p>
            <p>{{ review.text }}</p>
            {% if forloop.last %}<center><hr width="50%" /></center>{% endif %}
          {% endfor %}
          <div id="addReview">
            {% if not user.is_authenticated %}
              <p><a href="{% url login %}?next={{ establishment.get_absolute_url }}#addReview">Log in</a> to submit your own review.</p>
            {% else %}
            <form method="post" action=".">
              <p><strong>Reviewed by: {{ user.get_full_name }}</strong> (Cost: {{ form.cost }}; Rating {{ form.rating }})</p>
              <p>{{ form.text }}</p>
              <p><input type="submit" value="Submit" /></p>
            </form>
            {% endif %}
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}