{% extends "base.html" %}
{% load extras %}

{% block title %}Community Guide{% endblock title %}

{% block customheader %}
  <link rel="stylesheet" href="{% static css page/section.css %}" type="text/css"/>
  <link rel="stylesheet" href="{% static css page/reviews.css %}" type="text/css"/>
  
  <script type="text/javascript" src="{% static js tablesort.js %}"></script>
  
{% endblock customheader %}


{% block topbar %}
  <div id="headerSectionBar">
    <div id="headerSearch">
      {% include "search_header.html" %}
    </div>
  </div>
{% endblock topbar %}


{% block content %}
<div id="reviews">
    <h2>A Community Guide</h2>
    <div id="topBlock">
        <div id="sideBar">
            
        </div>
        <div id="mapBlock">
            
        </div>
    </div>
    <div id="listings">
        <table id="review-listings" cellpadding="0" cellspacing="0" border="0" class="sortable-onload-5-6r rowstyle-alt colstyle-alt no-arrow">
            <caption>Reviews from the Swarthmore Area</caption>
            <thead>
              <tr>
                <th class="sortable">Type</th>
                <th class="sortable">Name</th>
                <th class="sortable">Rating</th>
                <th class="sortable">Cost</th>
                <th class="sortable">City</th>
                <th class="sortable">Access</th>
                <th class="sortable">Tags</th>
                <th class="sortable">Reviews</th>
                <th>Notes</th>
              </tr>
            </thead>
            <tbody>
                {% for establishment in establishments %}
                    <tr>
                        <td>{{ establishment.establishment_type }}</td>
                        <td><a href="{{ establishment.get_absolute_url }}">{{ establishment.name }}</a></td>
                        <td>{{ establishment.avg_rating }}</td>
                        <td>{{ establishment.avg_cost }}</td>
                        <td>{{ establishment.city }}</td>
                        <td>{{ establishment.access }}</td>
                        <td>Tags go here.</td>
                        <td>{% for review in establishment %}
                                <a href="{{ establishment.get_absolute_url }}#{{ review.slug }}">{{ review.reviewer }}</a><br />
                            {% endfor %}</td>
                        <td>{{ establishment.other_info }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock content %}