{% load extras %}
{% load markup %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>THE DAILY GAZETTE -- {{ date|date:"F j, Y" }} </title>
  <style type="text/css">
  <!--
  a { text-decoration: none; }    -->
  </style>
</head>

<body>
  <table width="590" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td height="25" colspan="3" align="right">
        <font size="2" face="Arial, Helvetica, sans-serif">
          Problems with this email?
          <strong>
            <font color="#004484">
              <a href="http://daily.swarthmore.edu{% url rsd year month day %}">See it in your browser.</a>
            </font>
          </strong>
        </font>
      </td>
    </tr>
    <tr>
      <td height="80" colspan="3">
        <a href="http://www.daily.swarthmore.edu">
          <img border="0" src='http://daily.swarthmore.edu{% static images issue/RSDheader_b.png %}' alt="The Reserved Students Digest" width="590" height="80" />
        </a>
      </td>
    </tr>
    <tr></tr>
    <tr>
      <td colspan="3">
        <table width="590" cellspacing="0" cellpadding="0">
          <tr>
            <td width="1" bgcolor="#999999"></td>
            <td width="588" align="left" valign="top">
            </td>
          </tr>
        </table>

        <table width="590" cellspacing="0" cellpadding="0">
          <tr>
            <td width="1" bgcolor="#999999"></td>
            <td width="385" align="left" valign="top">
	
				<table width="385" border="0" cellspacing="0" cellpadding="10">
                  <tr>
                    <td>
                      <font color="#333333" size="2" face="Georgia, Times New Roman, Times, serif">
                        <strong>Possible change:</strong> We are considering altering the digest so the morning digest has <em>only events</em> while the afternoon digest has <em>only announcements</em>. Reply to this email if you have any thoughts or suggestions.
                      </font>
                    </td>
                  </tr>
                </table>

              {% if announcements %}
                <table width="385" height="18" border="0" cellpadding="0" cellspacing="0" bgcolor="#a9aad7">
                  <tr>
                    <td width="10" height="18" align="left" valign="middle"></td>
                    <td width="375" align="left" valign="middle">
                      <strong>
                        <font color="#000000" size="2" face="Arial, Helvetica, sans-serif">
                          <a name="top">Announcements</a>
                        </font>
                      </strong>
                    </td>
                  </tr>
                </table>

                <table width="385" border="0" cellspacing="0" cellpadding="10">
                  <tr>
                    <td>
                      <font color="#333333" size="2" face="Georgia, Times New Roman, Times, serif">
                        {% for announcement in announcements %}
                          {% ifequal date announcement.date_start %}<b>{% endifequal %}
                          {{ forloop.counter }}. <a href="#a{{ forloop.counter }}">{{ announcement.title }}</a><br />
                          {% ifequal date announcement.date_start %}</b>{% endifequal %}
                        {% endfor %}
                        <br /><a href="#top"><em>Return to top.</em></a>
                      </font>
                    </td>
                  </tr>
                </table>
              {% endif %}

              {% if events %}
                <br/>
                <table width="385" height="18" border="0" cellpadding="0" cellspacing="0" bgcolor="#a9aad7">
                  <tr>
                    <td width="10" height="18" align="left" valign="middle"></td>
                    <td width="375" align="left" valign="middle">
                      <strong>
                        <font color="#000000" size="2" face="Arial, Helvetica, sans-serif">
                          Events (Organized by Date)
                        </font>
                      </strong>
                    </td>
                  </tr>
                </table>

                <table width="385" border="0" cellspacing="0" cellpadding="10">
                  <tr>
                    <td>
                      <font color="#333333" size="2" face="Georgia, Times New Roman, Times, serif">
                        {% for event in events %}
                          {% ifchanged %}
            		  					<br />
            		  					<strong>{{ event.event_date|near_future_date }}</strong>
            		  					<br />
            		  				{% endifchanged %}
                           
                          {% ifequal date event.date_start %}<b>{% endifequal %}
                          {{ forloop.counter }}. <a href="#e{{ forloop.counter }}">{{ event.title }}</a>{% if event.event_time %} at {{ event.event_time }} {% endif %}
                          {% ifequal date event.date_start %}</b>{% endifequal %}
                          <br />
                        {% endfor %}
                        <br /><a href="#top"><em>Return to top.</em></a>
                      </font>
                    </td>
                  </tr>
                </table>
              {% endif %}
              
              {% if lost_and_found %}
                <br/>
                <table width="385" height="18" border="0" cellpadding="0" cellspacing="0" bgcolor="#a9aad7">
                  <tr>
                    <td width="10" height="18" align="left" valign="middle"></td>
                    <td width="375" align="left" valign="middle">
                      <strong>
                        <font color="#000000" size="2" face="Arial, Helvetica, sans-serif">
                          Lost &amp; Found
                        </font>
                      </strong>
                    </td>
                  </tr>
                </table>

                <table width="385" border="0" cellspacing="0" cellpadding="10">
                  <tr>
                    <td>
                      <font color="#333333" size="2" face="Georgia, Times New Roman, Times, serif">
                        {% for announcement in lost_and_found %}
                          {{ forloop.counter }}. <a href="#lf{{ forloop.counter }}">{{ announcement.title }}</a> (by {{ announcement.sponsor }})<br />
                        {% endfor %}
                        <br /><a href="#top"><em>Return to top.</em></a>
                      </font>
                    </td>
                  </tr>
                </table>
              {% endif %}
              
              {% if jobs %}
                <table width="385" height="18" border="0" cellpadding="0" cellspacing="0" bgcolor="#a9aad7">
                  <tr>
                    <td width="10" height="18" align="left" valign="middle"></td>
                    <td width="375" align="left" valign="middle">
                      <strong>
                        <font color="#000000" size="2" face="Arial, Helvetica, sans-serif">
                          Jobs
                        </font>
                      </strong>
                    </td>
                  </tr>
                </table>

                <table width="385" border="0" cellspacing="0" cellpadding="10">
                  <tr>
                    <td>
                      <font color="#333333" size="2" face="Georgia, Times New Roman, Times, serif">
                        {% for job in jobs %}
                          {{ forloop.counter }}. <a href="#j{{ forloop.counter }}">{{ job.name }}</a><br />
                        {% endfor %}
                        
                        <br /><a href="#top"><em>Return to top.</em></a>
                      </font>
                    </td>
                  </tr>
                </table>
              {% endif %}

              <table width="385" height="10" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td></td>
                </tr>
              </table>

              <table width="385" height="24" border="0" cellpadding="0" cellspacing="0" bgcolor="#23256d">
                <tr>
                  <td width="10" height="24" align="left" valign="middle"></td>
                  <td width="375" align="left" valign="middle">
                    <strong>
                      <font color="#ffffff" size="3" face="Arial, Helvetica, sans-serif">
                        Full Text
                      </font>
                    </strong>
                  </td>
                </tr>
              </table>

              <table width="385" border="0" cellspacing="0">
                {% if announcements %}
                  <tr bgcolor="#a9aad7">
                    <td width="10" height="18" align="left" valign="middle"></td>
                    <td width="375" align="left" valign="middle">
                      <strong>
                        <font color="#000000" size="2" face="Arial, Helvetica, sans-serif">
                          Announcements
                        </font>
                      </strong>
                    </td>
                  </tr>
                  <tr><td width="10" height="18" align="left" valign="middle"></td>
                    <td>
                      <font color="#333333" size="2" face="Georgia, Times New Roman, Times, serif">
                        {% for announcement in announcements %}
                          {{ forloop.counter }}. <a href="http://daily.swarthmore.edu{{ announcement.get_absolute_url }}" name="a{{ forloop.counter }}"><strong>{{ announcement.title }}</strong></a><br />
                          
                          {% autoescape off %}
                            {{ announcement.text|textile }}
                          {% endautoescape %}
                          {% if announcement.poster_email %}Posted by {{ announcement.poster_email }} &mdash;{% endif %} <a href="http://daily.swarthmore.edu{{ announcement.get_absolute_url }}">Permanent Link</a> 
                          <br /><a href="#top"><em>Return to top.</em></a><br /><br/>
                        {% endfor %}
                      </font>
                    </td>
                  </tr>
                {% endif %}
                {% if events %}
                  <tr bgcolor="#a9aad7">
                    <td width="10" height="18" align="left" valign="middle"></td>
                    <td width="375" align="left" valign="middle">
                      <strong>
                        <font color="#000000" size="2" face="Arial, Helvetica, sans-serif">
                          Events
                        </font>
                      </strong>
                    </td>
                  </tr>
                  <tr><td width="10" height="18" align="left" valign="middle"></td>
                    <td>
                      <font color="#333333" size="2" face="Georgia, Times New Roman, Times, serif">
                        {% for event in events %}
                          {{ forloop.counter }}. <a href="http://daily.swarthmore.edu{{ event.get_absolute_url }}" name="e{{ forloop.counter }}"><strong>{{ event.title }}</strong></a><br />
                          {{ event.event_place }}, {{ event.event_date|near_future_date }}
                          at {{ event.event_time }} <br />
                          {% if event.text %}
                            {% autoescape off %}
                            <p>{{ event.text|textile }}</p>
                            {% endautoescape %}
                          {% endif %}

                          {% if event.sponsor %}<strong>Contact:</strong> {{ event.sponsor_link }} <br /> {% endif %}
                          <a href="http://daily.swarthmore.edu{{ event.get_absolute_url }}">Permanent Link</a> <br />
                          <a href="#top"><em>Return to top.</em></a><br /><br/>
                        {% endfor %}
                      </font>
                    </td>
                  </tr>
                {% endif %}
                {% if lost_and_found %}
                  <tr bgcolor="#a9aad7">
                    <td width="10" height="18" align="left" valign="middle"></td>
                    <td width="375" align="left" valign="middle">
                      <strong>
                        <font color="#000000" size="2" face="Arial, Helvetica, sans-serif">
                          Lost &amp; Found
                        </font>
                      </strong>
                    </td>
                  </tr>
                  <tr><td width="10" height="18" align="left" valign="middle"></td>
                    <td>
                      <font color="#333333" size="2" face="Georgia, Times New Roman, Times, serif">
                        {% for announcement in lost_and_found %}
                          {{ forloop.counter }}. <a href="http://daily.swarthmore.edu{{ announcement.get_absolute_url }}" name="lf{{ forloop.counter }}"><strong>{{ announcement.title }}</strong></a><br />
                          {% autoescape off %}
                            <p>{{ announcement.text|textile }}</p>
                          {% endautoescape %}

                          {% if announcement.sponsor %}<strong>Contact:</strong> {{ announcement.sponsor_link }} {% if announcement.poster_email %}({{ announcement.poster_email }}){% endif %} <br /> {% endif %}
                          <a href="http://daily.swarthmore.edu{{ announcement.get_absolute_url }}">Permanent Link</a> <br />
                          <a href="#top"><em>Return to top.</em></a><br /><br/>
                        {% endfor %}
                      </font>
                    </td>
                  </tr>
                {% endif %}
                
                {% if jobs %}
                  <tr bgcolor="#a9aad7">
                    <td width="10" height="18" align="left" valign="middle"></td>
                    <td width="375" align="left" valign="middle">
                      <strong>
                        <font color="#000000" size="2" face="Arial, Helvetica, sans-serif">
                          Jobs
                        </font>
                      </strong>
                    </td>
                  </tr>
                  <tr><td width="10" height="18" align="left" valign="middle"></td>
                    <td>
                      <font color="#333333" size="2" face="Georgia, Times New Roman, Times, serif">
                        {% for job in jobs %}
                          {{ forloop.counter }}. <a href="http://daily.swarthmore.edu{{ job.get_absolute_url }}" name="j{{ forloop.counter }}"><strong>{{ job.name }}</strong></a><br />
                          <p>Contact: {{ job.contact_info }}</p>
                          {% if job.pay %}<p><strong>Pay:</strong>{{ job.get_pay }}</p>{% endif %}
                          {% if job.hours %}<p><strong>Hours:</strong> {{ job.hours }}</p>{% endif %}
                          {% if job.when %}<p><strong>When:</strong> {{ job.when }}</p>{% endif %}
                          {% if job.where %}<p><strong>Where:</strong> {{ job.where }}</p>{% endif %}
                          {% if job.needs_car %}<p>This position requires access to a car.</p>{% endif %}

                          <p>
                            {% autoescape off %}
                              {{ job.description|linebreaksbr }}
                            {% endautoescape %}
                          </p>

                          <a href="http://daily.swarthmore.edu{{ event.get_absolute_url }}">Permanent Link</a> <br />
                          <br /><a href="#top"><em>Return to top.</em></a><br /><br/>
                        {% endfor %}

                      </font>
                    </td>
                  </tr>
                {% endif %}
              </table>

              <table width="385" height="2" border="0" cellpadding="0" cellspacing="0" bgcolor="#E47629">
                <tr>
                  <td></td>
                </tr>
              </table>

              <table width="385" border="0" cellspacing="0" cellpadding="5">
                <tr>
                  <td>
                    <p>
                      <font color="#333333" size="1" face="Arial, Helvetica, sans-serif">
                        <small>
                          The Reserved Students Digest is a compilation of announcements, events, and jobs submitted by the Swarthmore community. The RSD is managed by The Daily Gazette in conjunction with Student Council. If you have questions, comments, or complaints about the Digest, please contact dailygazette@swarthmore.edu.
                          <br /><br />
                          The Daily Gazette is a publication written by members of the Swarthmore College community. Funding for the Gazette is provided by the Student Budget Committee and by advertising revenue.
                          <br /><br />
                        </small>
                        <a href="http://daily.swarthmore.edu/about/contact/">Contact</a> |
                        <a href="http://daily.swarthmore.edu/about/">About</a> |
                        <a href="http://daily.swarthmore.edu/join/">Employment</a> |
                        <a href="http://daily.swarthmore.edu/policies/">Policies</a> |
                        <a href="http://daily.swarthmore.edu/announcements/new/">Submit Events</a> |
                        <a href="http://daily.swarthmore.edu/announcements/new/">Submit Announcements</a> |
                        <a href="http://daily.swarthmore.edu/jobs/new/">Submit Jobs</a>
                      </font>
                    </p>
                  </td>
                </tr>
              </table>

            </td>

            <td width="1" bgcolor="#999999"></td>

            <td width="202" align="left" valign="top">
              <table width="202" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="202" align="center" valign="top" bgcolor="#a9aad7">
                  </td>
                </tr>
              </table>
              <table width="202" height="30" border="0" cellpadding="0" cellspacing="0" bgcolor="#23256d">
                <tr>
                  <td width="10" align="left" valign="middle">&nbsp;</td>
                  <td align="left" valign="middle">
                    <strong>
                      <font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">
                        Submit to the Digest
                      </font>
                    </strong>
                  </td>
                </tr>
              </table>

              <table width="202" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="10" align="left" valign="middle">&nbsp;</td>
                  <td width="170" align="left" valign="middle">
                    <font size="2" face="Arial, Helvetica, sans-serif" color="black">
                      <a href="http://daily.swarthmore.edu/announcements/new/">Announcements</a><br />
                      <a href="http://daily.swarthmore.edu/announcements/new/">Events</a><br />
                      <a href="http://daily.swarthmore.edu/jobs/new/">Jobs and Internships</a><br />
                      <br />
                      <!-- <a href="#">Submission Rules</a><br /><br />-->
                    </font>
                  </td>
                </tr>
              </table>
              <table width="202" height="30" border="0" cellpadding="0" cellspacing="0" bgcolor="#23256d">
                <tr>
                  <td width="10" align="left" valign="middle">&nbsp;</td>
                  <td align="left" valign="middle">
                    <strong>
                      <font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">
                        Gazette Stories
                      </font>
                    </strong>
                  </td>
                </tr>
              </table>

              <table width="202" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="10" align="left" valign="middle">&nbsp;</td>
                  <td width="170" align="left" valign="middle">
                    <font size="2" face="Arial, Helvetica, sans-serif" color="black">
                      <br/>
                      {% for story in stories %}
                        {{ forloop.counter }}. {{ story.section_if_special|follow:": " }}<a href="http://daily.swarthmore.edu{{story.get_absolute_url}}">{{story.get_title|safe}}</a>
                        <br /><br/>
                      {% endfor %}
                    </font>
                  </td>
                </tr>
              </table>

              <table width="202" height="30" border="0" cellpadding="0" cellspacing="0" bgcolor="#23256d">
                <tr>
                  <td width="10" align="left" valign="middle">&nbsp;</td>
                  <td align="left" valign="middle">
                    <strong>
                      <font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif">
                        New Gazette Comments
                      </font>
                    </strong>
                  </td>
                </tr>
              </table>

              <table width="202"border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="10" align="left" valign="middle">&nbsp;</td>
                  <td width="170" align="left" valign="middle">
                    <font size="2" face="Arial, Helvetica, sans-serif" color="black">
                      <br />
                      {% for comment in comments %}
                        On <a href="http://daily.swarthmore.edu{{comment.get_absolute_url}}">{{comment.subject.get_title}}</a>
                        by {{ comment.display_name }}
                        at {{ comment.time|date:"g:i A" }},
                        {{ comment.time|date:"F j" }}

                        {% if not forloop.last %}<br/><br/>{% endif %}
                      {% endfor %}
                    </font>
                  </td>
                </tr>
              </table>

            </td>
            <td width="1" bgcolor="#999999"></td>
          </tr>

        </table>
      </td>
    </tr>

    <tr>
      <td height="1" colspan="3" bgcolor="#999999"></td>
    </tr>

    <tr>
      <td width="1" bgcolor="#999999"></td>
      <td width="588" align="center" valign="middle">
        <table width="588" border="0" cellspacing="0" cellpadding="10">
          <tr>
            <td width="588" align="center" valign="middle">
              <div align="center">
                <font color="#333333" size="1" face="Arial, Helvetica, sans-serif">
                  To unsubscribe, change your format, or otherwise modify your mailing status, log in <a href="http://daily.swarthmore.edu{% url manage-user %}"><font color="#004484">here</font></a>.
                </font>
              </div>
            </td>
          </tr>
        </table>
      </td>
      <td width="1" bgcolor="#999999"></td>
    </tr>

    <tr>
      <td height="1" colspan="3" bgcolor="#999999"></td>
    </tr>
  </table>
</body>

</html>
