{% extends "base-expand.html" %}
{% load extras %}
{% load markup %}

{% block title %}{{ section.name }}{% endblock title %}

{% block customheader %}
{% endblock customheader %}

{% block content %}
	<div id="articlewrapper">
		<div id="category-box">
		  {% block article-listing %}
        {# <h2 class="title">Featured stories in {{ section.name }}</h2> #}
  			<div id="column-wrap">
  				<!-- Begin Mid Columns -->	
  				{% for story in topstories %}
  					<div class="section column">
  						<center><a href="{{ story.get_absolute_url }}" title="{{ story.headline }}"><img src="{{ story.main_image.issue.url }}" /></a></center>
  						<h6><a href="{{ story.get_absolute_url }}" title="{{ story.headline }}">{{ story.get_short_title }}</a></h6>
  						<li>{{ story.authors_in_order|join_authors:"2ptxb" }}</li>
  						<li>Posted {{ story.pub_date|date:"n/j/Y" }}</li>
  						<p>{{ story.get_short_summary }}</p>
  					</div>
  				{% endfor %}
  			</div>

        <h2 class="title">More stories in {{ section.name }}</h2>
  			{% for group in midstories|in_groups_of:2 %}
  				<div class="two-column-short">
    				{% for story in group %}
      				<div class="two-column">
      					<h6>{{ story.section_if_special|follow:": " }}<a href="{{ story.get_absolute_url }}" title="{{ story.headline }}">{{ story.headline }}</a></h6>
      					<li>by {{ story.authors_in_order|join_authors:"apux" }}</li>
      					<li>Posted {{ story.pub_date|date:"n/j/Y" }}</li>
      					<p>{{ story.summary|safe }}</p>
  				</div>
  				{% endfor %}
  				</div>
  			{% endfor %}
  		{% endblock %}
		</div>

    {% block section-sidebar-top %}
      <div class="large-video-block">
        {% block section-sidebar-top-content %}
          <h4>Subsections in {{ section.name }}</h4>
          {% for subsection in section.subsections.all %}
            <div class="column-listing">
              <a href="{{ subsection.get_absolute_url }}">{{ subsection.name }}</a>
            </div>
          {% endfor %}
        {% endblock %}
      </div>
    {% endblock %}

    {% block section-sidebar-mid %}
      {% if rec_multi != "none" %}
    		<div class="large-video-block">
    		  {% block section-sidebar-mid-content %}
      			<h4>Recent Multimedia</h4>
      			<h6 class="photoTitle"><a href="{{ rec_multi_story.get_absolute_url }}" title="{{ rec_multi_story.headline }}">{{ rec_multi_story.get_title }}</a></h6>
      			<a href="{{ rec_multi_story.get_absolute_url }}" title="{{ rec_multi_story.headline }}">
        			<img src="{{ rec_multi.sidebarbig.url }}" alt="" />
        		</a>
      			{% if rec_multi.credit %}
      			  <p class="photoCredit">Photo by {{ rec_multi.credit }}.</p>
      			{% endif %}
      		{% endblock %}
    		</div>
    	{% endif %}
  	{% endblock %}

    {% block section-sidebar-bot %}
  		<div class="large-video-block">
  		  {% block section-sidebar-bot-content %}
    			<h4>From the Community</h4>
    			<div class="section cathomesocial">
    				{% for type, entry in stream %}
    					{% ifequal type "entry" %}
    						{% ifequal entry.source_type "tweet" %}
      						<div class="entry twitter" style="background: #fff url({{ entry.object.icon }}) no-repeat 0px center">
      							<p>{{ entry.description|safe|urlize }} <br /> —by <a href="http://www.twitter.com/{{ entry.owner_user }}">{{ entry.owner_user }}</a> from <a href="http://www.twitter.com/">Twitter</a></p>
      						</div>
    						{% endifequal %}
    						{% ifequal entry.source_type "bookmark" %}
      						<div class="entry delicious">
      							<p><a href="{{ entry.url }}">{{ entry.title }}</a> -<a href="http://www.delicious.com/{{ entry.owner_user }}">Del.icio.us</a></p>
      						</div>
    						{%endifequal %}	
    						{% ifequal entry.source_type "review" %}
      						<div class="entry review">
      							<p><a href="{{ entry.url }}">{{ entry.title }}</a> - Reviewed by {{ entry.owner_user }}</small></p>
      						</div>
    						{%endifequal %}
    						{% ifequal entry.source_type "flickrphoto" %}
      						<div class="entry flickrphoto" style="background: #fff url({{ entry.object.square }}) no-repeat 0px center">
      							<p><a href="{{ entry.url }}">{{ entry.title }}</a>, by {{ entry.owner_user }}</small></p>
      						</div>
    						{%endifequal %}
    					{% else %}
    						<div class="entry comment">
    							<p><a href="{{entry.get_absolute_url}}">{{ entry.display_name }}</a> spoke on <a href="{{entry.subject.get_absolute_url}}">{{ entry.subject.get_title }}</a>.</p>
    						</div>
    					{% endifequal %}
    				{% endfor %}				
    			</div>
    		{% endblock %}
  		</div>
  	{% endblock %}

  	<div style="clear:both"></div>
{% endblock content %}
