{% extends "base.html" %}
{% load extras %}

{% block title %}{{ section.name }} &raquo; {{ subsection.name }}{% endblock title %}

{% block customheader %}
  <link rel="stylesheet" href="{% static css page/story.css %}" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="{% static css page/section-columns.css %}" type="text/css"/>
{% endblock customheader %}


{% block topbar %}
  <div id="headerSectionBar">
    <div id="headerSearch">
      {% include "search_header.html" %}
    </div>

    <div id="headerColumn">
      <div class="headerColumnBox">
        <h4>Recent Comments</h4>
        <ul class="commentList">
          {% for comment in comments|slice:":5" %}
            <li>
              <a href="{{ comment.get_absolute_url }}">{{ comment.subject.get_title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock topbar %}



{% block content %}  
  <div id="storyBox">
    <div id="story">
      <p>These are Student Council platforms from {{ latest.pub_date|date:"F Y" }}. To see platforms from older elections, <a href="/archives/{{ section.slug }}/{{ subsection.slug }}">check the archives</a>.</p>
      {% for position, name, article in platforms %}
        {% ifchanged position %}<h3>{{ position }}</h3>{% endifchanged %}
        <p><a href="{{ article.get_absolute_url }}">{{ name }}</a></p>
      {% endfor %}
    </div>
  </div>
{% endblock %}
