{% extends "base.html" %}
{% load extras %}

{% block title %}{{ column.name }}{% endblock title %}

{% block customheader %}

<link rel="stylesheet" href="{% static css page/section.css %}" type="text/css"/>
<link rel="stylesheet" href="{% static css page/section-columns.css %}" type="text/css"/>

{% endblock customheader %}


{% block topbar %}

    <div id="headerSectionBar">
      <div id="headerSearch">
        {% include "search_header.html" %}
      </div>

      <div id="headerColumn">
        <div class="headerColumnBox">
          <h4>Comments</h4>
          <ul class="commentList">
            {% for comment in comments|slice:":4" %}
              <li>
                <a href="{{ comment.get_absolute_url }}">{{ comment.subject.get_title }}</a>
                <br />
                Comment on {{ comment.time|date:"F j, Y" }}
              </li>
            {% endfor %}
          </ul>
        </div>
      
      <div class="headerColumnBox">
        <h4>Column Listings</h4>
        {% for column in columns %}
          {% ifchanged %}
            <p><strong>{{ column.get_semester_display }} {{ column.year }}</strong></p>
          {% endifchanged %}
          <p><a href="{{ column.get_absolute_url }}">{{ column.name }}</a></p>
        {% endfor %}
      </div>
      
      </div>
    </div>
  </div>

{% endblock topbar %}



{% block content %}
  <div id="section">
    
    <div id="sectionHeader">
      <h2>{% block main-header %}{{ column.name }}{% endblock %}</h2>
    </div>

    {% for story in column.most_recent_articles %}
    	{% if forloop.first %}
  		  <div id="columnMain">
  				<h2>
  					{{ column.name }}: <a href="{{ column.get_absolute_url }}">{{story.get_title|safe}}</a>
  				</h2>
  				<div id="leadImg">
  					<img src="{{ column.big_logo.get_absolute_url }}" />
  				</div>
  				<p class="byline">
  					<span class="author">by {{ story.authors_in_order|join_authors }}</span>
  					<span class="date">| {{ story.pub_date|date:"n/j/Y" }}</span>
  				</p>
  				<p>
  					{{ story.longest_summary|safe }}
  					<a class="readMore" href="{{ story.get_absolute_url }}">More</a>
  				</p>
  			</div>
  		{% endif %}
   		{% ifequal forloop.counter 1 %}
    		<div id="columnList">
    			<ul>
  		{% endifequal %}
  		{% if not forloop.first %}
            <li>
              <h3><a href="{{ story.get_absolute_url }}">{{ story.get_title|safe }}</a></h3>
              <img src="{{ column.small_logo.get_absolute_url }}" title="{{ story.headline }}" alt="" />
              <p class="byline">
	              <span class="author">by {{ story.authors_in_order|join_authors }}</span>
                <span class="date"> | {{ story.pub_date|date:"n/j/Y" }}</span>
              </p>
	            <p>
                {{ story.summary|safe }}
                <a class="readMore" href="{{ column.get_absolute_url }}">More</a>
              </p>
            </li>
      {% endif %}
      {% if forloop.last and not forloop.first %}
          </ul>
        </div>
      {% endif %}
    {% endfor %}    
  </div>
{% endblock %}
