{% extends "sections/sec_opinions.html" %}
{% load extras %}
{% load markup %}

{% block title %}{{ section.name }} &raquo; {{ column.name }}{% endblock title %}

{% block customheader %}
{% endblock customheader %}

{% block article-listing %}
  {% if column.wide_logo_url %}
    <img src="{{ column.wide_logo_url }}" alt="{{ column.name }}" />
  {% else %}
    <h2 class="title">{{ column.name }}</h2>
  {% endif %}
	
	{% for group in column.most_recent_articles|in_groups_of:4 %}
  	<div id="column-wrap">
  		{% for story in group %}
  			<div class="section column">
  				<h6><a href="{{ story.get_absolute_url }}" title="{{ story.headline }}">{{ story.get_short_title }}</a></h6>
					<li>Posted {{ story.pub_date|date:"n/j/Y" }}</li>
					<p>{{ story.get_short_summary }}</p>
				</div>
			{% endfor %}
		</div>
	{% endfor %}
{% endblock %}
		
{% block section-sidebar-bot-content %}
	<h4>Comments</h4>
	<div class="section cathomesocial">
		{% for entry in stream %}
			<div class="entry comment">
				<p><a href="{{entry.get_absolute_url}}">{{ entry.display_name }}</a> spoke on <a href="{{entry.subject.get_absolute_url}}">{{ entry.subject.get_title }}</a>.</p>
			</div>
		{% endfor %}					
	</div>
{% endblock %}
