{% extends "base-expand.html" %}
{% load extras %}
{% load markup %}

{% block title %}{{ section.name }} &raquo; {{ subsection.name }}{% endblock title %}

{% block customheader %}
{% endblock customheader %}

{% block content %}
	<!-- Below controls the main content of the page -->
	
	<div id="articlewrapper">
		<div id="category-box">
	          <h2 class="title">{{ subsection.name }}</h2>		
	
			  <p>This page lists the platforms from the most recent Student Council election (in {{ latest.pub_date|date:"F Y" }}). Platforms are <strong>always</strong> due to The Daily Gazette by 11:59PM on the day before the election begins.</p>
			
		      {% for position, name, article in platforms %}
		          	{% ifchanged position %}
		          		<h5 class="columns">{{ position }}</h5>
		          	{% endifchanged %}
		          	<div class="column-listing"><a href="{{ article.get_absolute_url }}">{{ name }}</a></div>
	        	{% endfor %}
	
		</div>		

		<div class="large-video-block">
			<h4>Comments</h4>
			<div class="section cathomesocial">
				{% for entry in stream %}
					<div class="entry comment">
						<p><a href="{{entry.get_absolute_url}}">{{ entry.display_name }}</a> spoke on <a href="{{entry.subject.get_absolute_url}}">{{ entry.subject.get_title }}</a>.</p>
					</div>
				{% endfor %}					
			</div>
		</div>


	<div style="clear:both"></div>

{% endblock content %}