{% extends "sections/section.html" %}
{% load extras %}
{% load markup %}

{% block title %}{{ section.name }} &raquo; {{ subsection.name }}{% endblock title %}

{% block customheader %}
{% endblock customheader %}

{% block article-listing %}
  <h2 class="title">{{ subsection.name }}</h2>
  {% for group in recent_stories|in_groups_of:4 %}
    <div id="column-wrap">
      {% for story in group %}
        <div class="section column">
          <h6><a href="{{ story.get_absolute_url }}" title="{{ story.headline }}">{{ story.get_short_title }}</a></h6>
          <li>{{ story.authors_in_order|join_authors:"2ptbx" }}</li>
          <p>{{ story.get_short_summary|safe }}</p>
          <li>{{ story.pub_date|date:"n/j/Y" }}</li>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
{% endblock %}

{% block section-sidebar-bot-content %}
  <h4>Comments</h4>
  <div class="section cathomesocial">
  	{% for entry in stream %}
  		<div class="entry comment">
  			<p><a href="{{entry.get_absolute_url}}">{{ entry.display_name }}</a> spoke on <a href="{{entry.subject.get_absolute_url}}">{{ entry.subject.get_title }}</a>.</p>
  		</div>
  	{% endfor %}					
  </div>  
{% endblock %}
