{% extends "listings/base.html" %}
{% load extras %}
{% load markup %}

{% block title %}Housing Directory{% endblock title %}
{% block listings_customheader %}
    <script type="text/javascript" src="{% static js tablesort.js %}"></script>
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key={{ GMAPS_API_KEY }}" type="text/javascript"></script>    
    
    <script type="text/javascript">    

       function initialize() {
         if (GBrowserIsCompatible()) {
           var map = new GMap2(document.getElementById("map"));
           map.setCenter(new GLatLng(40.4419, -102.1419), 3);
           map.addControl(new GMapTypeControl());
           
           {% for s in housing %}
           {% ifequal s.state "NU" %}
           // Removing an international marker.
           {% else %}
           var point  = new GLatLng({{ s.latitude }}, {{ s.longitude }});
           map.addOverlay(new GMarker(point));
           {% endifequal %}
           {% endfor %}
         }
       }

       </script>       
      
{% endblock listings_customheader %}
{% block listings_title %}The Housing Directory{% endblock listings_title %}


{% block listings_content %}

<div id="map" class="jmap">
    <noscript>
      <center><p>For a better experience with the Housing Listing, please enable JavaScript in your browser.</p></center>
    </noscript>
</div>

{% if user.is_authenticated %} 
    <p>Looking for a roommate during a summer internship or in a job after Swarthmore? Or maybe you just want to know what other Swatties are going to be in the same town with you? Just fill out your information, and see the other students listed below.</p>
    {% if newuser %}
        {% if form.non_field_errors %}
            <p>{{ form.non_field_errors }}</p>
        {% endif %}    
    
        <form action="" method="post">
            <table class="submission">
                <tr>
                    <td colspan="4">
                        All bold fields are required.
                    </td>
                <tr>
                    <td><strong>Your Name:</strong></td>
                    {% if form.name %}
                        <td>{{ form.name }}</td>
                    {% else %}
                        <td>{{ person.name }}</td>
                    {% endif %}
                    <td><strong>Position Type:</strong></th>
                    <td>{{ form.position }}</td>
                </tr>
                <tr>    
        
                    <td><strong>{{ form.city.label_tag }}:</strong></th>
                    <td>{{ form.city }}</td>
                    <td><strong>{{ form.state.label_tag }}:</strong></th>
                    <td>{{ form.state }}</td>
                </tr>
                <tr>
                    <td><strong>Move-in Month:</strong></th>
                    <td>{{ form.moveinmonth }}</td>
                    <td><strong>Move-in Year:</strong></th>
                    <td>{{ form.moveinyear }}</td>
                </tr>
                <tr>
                    <td>Move-out Month:</th>
                    <td>{{ form.moveoutmonth }}</td>
                    <td>Move-out Year:</th>
                    <td>{{ form.moveoutyear }}</td>
                </tr>
                <tr>
                    <td>Notes:</td>
                    <td colspan="3">{{ form.notes }} <em>(100 character limit)</em></td>
                <tr>        
                    {% if form.email %}
                        <td><strong>{{ form.email.label_tag }}:</strong></th>
                        <td>{{ form.email }}</td>
                    {% endif %}
                    <td><input type="submit" value="Submit" /></td>
                </tr>		  
            </table>
        </form>
    {% else %}
        <p>&nbsp;</p>
        <p>You've already submitted! To edit your submission, email <a href="mailto:editor@daily.swarthmore.edu">us</a>.</p>
    {% endif %}

    <table id="review-listings" cellpadding="0" cellspacing="0" border="0" class="sortable-onload-0-4 rowstyle-alt colstyle-alt no-arrow">
      <caption>Click on a column heading to sort.</caption>
      <thead>
        <tr>
          <th class="sortable">Name</th>
          <th class="sortable">Type</th>
          <th class="sortable">City</th>
          <th class="sortable">State</th>
          <th class="sortable">Move-in</th>
          <th class="sortable">Move-out</th>
          <th class="sortable">Additional Notes</th>
        </tr>
      </thead>
      <tbody>
        {% for s in housing %}
          <tr class="student-row">
            <td>
              {% ifequal s.student user_profile %}
                  You!
              {% else %}
                  {{ s.student.name }}
              {% endifequal %}</td>
            <td>{{ s.get_position_display }}</td>
            <td>{{ s.city }}</td>
            <td>{{ s.state }}</td>
            <td>{{ s.get_moveinmonth_display }}, {{ s.get_moveinyear_display }}</td>
            <td>
                {% if s.get_moveoutmonth_display %}
                    {{ s.get_moveoutmonth_display }}, {{ s.get_moveoutyear_display }}
                {% endif %}
            </td>
            <td>{{ s.notes }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% else %}
    <p>&nbsp;</p>
    <p>You aren't logged in, so you can't access this information or add to the housing directory.<p>
    <p>You have a few options. If you want to use Facebook to login or create a new account, click: <fb:login-button></fb:login-button>.<br />
        Otherwise, <a href="{% url auth_login %}">Login</a> or <a href="{% url registration_register %}">Register an Account</a>.</p>
    
{% endif %}

{% endblock listings_content %}
