{% extends "listings/base.html" %}
{% load extras %}
{% load markup %}

{% block title %}Book Exchange :: Submit{% endblock title %}
{% block listings_customheader %}
    <script type="text/javascript" src="/jsi18n/"></script>
    <link rel="stylesheet" href="{% static admin css/widgets.css %}" type="text/css" media="screen,projection" />
    {{ form.media }}
{% endblock listings_customheader %}
{% block listings_title %}Sell A Book{% endblock %}

    
{% block listings_content %}
    {% if form.non_field_errors %}
        <p>{{ form.non_field_errors }}</p>
    {% endif %}
    <form action="" method="post">{% csrf_token %}
        <table class="submission">
            <tr>
                <th width="150px">{{ form.title.label_tag }}:</th>
                <td>{{ form.title }}</td>
            </tr>
            {% if form.email %}<tr>
                <th>{{ form.email.label_tag }}:</th>
                <td>{{ form.email }}</td>
            </tr>{% endif %}
            <tr>
                <th>{{ form.description.label_tag }}:</th>
                <td>{{ form.description }}</td>
            </tr>
            <tr>
                <th>{{ form.classes.label_tag }}:</th>
                <td>{{ form.classes }}</td>
            </tr>
            <tr>
                <th>{{ form.cost.label_tag }}:</th>
                <td>{{ form.cost }}</td>
            </tr>
            <tr>
                <th>{{ form.condition.label_tag }}:</th>
                <td>{{ form.condition }}</td>
            </tr>
            <tr>
                <td colspan="2">{{ form.departments }}</td>
            </tr>
            <tr>
                <th></th>
                <td><input type="submit" value="Submit" /></td>
            </tr>			  
        </table>
    </form>    
{% endblock listings_content %}
