{% extends "base-expand.html" %}
{% load extras %}
{% load comparisons %}
{% load markup %}

{% block title %}
	Archives {% if section %}- {{ section.name }} {% if subsection %}&raquo; {{ subsection.name }}{% endif %}{% endif %} {% if year %}- {% if day %}{{ day }}{% endif %} {% if month %}{{ month|month_name }}{% endif %} {{ year }}{% endif %}
{% endblock title %}

{% block customheader %}
{% endblock customheader %}

{% block expand_breadcrumb %}

<a href="/archives/">Archives</a>
	{% if section %}
		- <a href="/archives/{{ section.slug }}/">{{ section.name }}</a>
	{% endif %}
	{% if subsection %}
		- <a href="/archives/{{ section.slug }}/{{ subsection.slug }}/">{{ subsection.name }}</a>
	{% endif %}
	{% if year %}
		- <a href="/archives/{% if section %}{{ section.slug }}/{% if subsection %}{{ subsection.slug }}/{% endif %}{% endif %}{{ year }}/">{{ year }}</a>
		{% if month %}
			- <a href="/archives/{% if section %}{{ section.slug }}/{% if subsection %}{{ subsection.slug }}/{% endif %}{% endif %}{{ year }}/{{ month }}/">{{ month|month_name }}</a>
			{% if day %}
				- <a href="/archives/{% if section %}{{ section.slug }}/{% if subsection %}{{ subsection.slug }}/{% endif %}{% endif %}{{ year }}/{{ month }}/{{ day }}/">{{ day }}</a>
			{% endif %}
		{% endif %}
	{% endif %}

{% endblock expand_breadcrumb %}

{% block expand_top %}	
{% endblock expand_top %}

{% block expand_content %}
		<h1>Archives</h1>
		{% block archiveContent %}
		<p>
			{% for year_i, month_i, month_cal in calendar %}
				{% ifchanged year_i %}
				<a href="#{{ year_i }}" name="top">{{ year_i }}</a>
					{% ifequal year_i 2004 %}
					
					{% else %}
					 | 
					{% endifequal %}
				{% endifchanged %}
			{% endfor %}
		</p>

		{% for year_i, month_i, month_cal in calendar %}
			{% ifchanged year_i %}
				<h3 class="year"><a name="{{ year_i }}">{{ year_i }}</a></h3>
				<p class="returntotop"><a href="#top">Return to top</a></p>
			{% endifchanged %}
		  <div class="monthArchives">
		    <table width="280px" height="145px">
		      <tr>
		        <td colspan="7" class="month">
		          <center><a href="{{ url_base }}/{{ year_i }}/{{ month_i }}/">{{ month_i|month_name }} {{ year_i }}</a></center>
		        </td>
		      </tr>
		      <tr class="week">
		        <td width="40px">S</td>
		        <td width="40px">M</td>
		        <td width="40px">T</td>
		        <td width="40px">W</td>
		        <td width="40px">Th</td>
		        <td width="40px">F</td>
		        <td width="40px">Sa</td>
		      </tr>
		      {% for week_a in month_cal %}
		        <tr class="day">
		          {% for day in week_a %}
		            {% ifequal day 0 %}
		              <td class="empty"></td>
		            {% else %}
		              {% if day|gt:0 %}
		                <td class="content"><a href="{{ url_base }}/{{ year_i }}/{{ month_i }}/{{ day }}/">{{ day }}</a></td>
		              {% else %}
		                <td class="empty">{{ day|negate }}</td>
		              {% endif %}
		            {% endifequal %}
		          {% endfor %}
		        </tr>
		      {% endfor %}
		    </table>
		  </div>
		{% endfor %}
	{% endblock %}
{% endblock expand_content %}