{% extends "base.html" %}
{% load story_extras %}

{% block title %}{{ flatpage.title }}{% endblock title %}

{% block customheader %}
  <link rel="stylesheet" href="/css/page/story.css" type="text/css" media="screen, projection" />
{% endblock customheader %}


{% block topbar %}
  <div id="headerSectionBar">
		<div id="headerSearch" class="floatRight">
		  <form method="get" id="searchform" action="{% url search %}">
		    Search: 
		    <input type="text" class="textbox" value="" name="s" id="s" />
		    <input type="submit" id="searchsubmit" value="Go" />
		  </form>
		</div>
	</div>
{% endblock topbar %}


{% block content %}
  <div id="storyBox">
    <div id="story">
      {{ flatpage.content }}
    </div>
  </div>

  <div id="shareBox">
  	<div class="right">
  	  <strong>Share:</strong> {% add_this hover %}
  	</div>
  	<p>
  	  <a href="{% url print story %}"><img src="/images/icons/print.png" /> Print</a>
  	  &nbsp;&nbsp;
  	  <a href="{% url email story %}"><img src="/images/icons/email.png" /> Email</a>
  	</p>
  </div>
{% endblock content %}
