{% extends "base.html" %}
{% load extras %}

{% block title %}{{ flatpage.title }}{% endblock title %}

{% block customheader %}
  <link rel="stylesheet" href="/css/page/story.css" type="text/css" media="screen, projection" />
{% endblock customheader %}


{% block topbar %}
  <div id="headerSectionBar">
    <div id="headerSection">
      <h3>
        <a href="{{ flatpage.parent.get_absolute_url }}">{{ flatpage.grandparent.name }}</a>
        {% if page.parent.count %}
          >>
          {% for parent in page.parent.all %}
            <a href="{{ parent.get_absolute_url }}">{{ parent.name }}</a>{% if not forloop.last %},{% endif %}
          {% endfor %}
        {% endif %}
      </h3>
    </div>

    <div id="headerSearch" class="floatRight">
      {% include "search_header.html" %}
    </div>
  </div>
{% endblock topbar %}


{% block content %}
  <div id="storyBox">
    <div id="story">
      <h2>{{ flatpage.headline|safe }}</h2>
        <p>Last revised {{ flatpage.pub_date|date:"F j, Y" }}</p>

      	{{ flatpage.resolved_text|safe }}
    </div>
  </div>

    <div id="shareBox">
      <div class="right">
        <strong>Share:</strong> {% add_this hover %}
      </div>
      <p>
        <a href="{% url print story %}"><img src="{% static images icons/print.png %}" /> Print</a>
        &nbsp;&nbsp;
        <a href="{% url email story %}"><img src="{% static images icons/email.png %}" /> Email</a>
      </p>
    </div>

    <div id="continueBox">
      <div id="top">
        <a href="{{ toppage.get_absolute_url }}">
          <img src="{{ toppage.thumbnail.get_absolute_url }}" />
        </a>
        <div class="content">
          <h4><a href="{{ toppage.get_absolute_url }}">{{ toppage.get_title }}</a></h4>
          <p>{{ toppage.short_summary }}</p>
        </div>
      </div>

      <div id="more">
        <div class="box">
          <h4>Top Stories</h4>
          <ul>
            {% for story in stories %}
              <li><a href="{{rel.get_absolute_url}}">{{ rel.get_title|safe }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="box">
          <h4>Recent Comments</h4>
          <ul>
            {% for comment in comments|slice:":4" %}
              <li><a href="{{comment.get_absolute_url}}">{{ comment.subject.get_title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>

    </div>
  



  </div>
{% endblock content %}
