
<link rel="stylesheet" type="text/css" href="comment.css" />






<!-- Dougal, could you please get the comments to alternate between gray and white background? The appropriate class would be "gray" in the <div class="comment"> line.  And it should be yellow (class "highlight") if the poster was an staff member-->

<div id="commentsList">
	<div class="comment">
		{{ comment.content }}
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>#{{ what number is the comment? }}</strong> | {% if comment.author.staff %}<a href="comment.author.get_absolute_url}}">{{ comment.display_name }}</a> {% else %}{{ comment.display_name }}{% endif %} , on {{ comment.time|date:"F j" }} at {{ comment.time|date:"g:i A" }}.<br />
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This user is {{ comment.author.status }}</p>
	</div>
</div>

<!-- Author.status should have the following states:
	Unregistered
	Unregistered, Swarthmore
	Registered, Anonymous
	Registered, Swarthmore
	Registered, Other
	Staff
	Editor -->