{% extends "registration/base.html" %}
{% load humanize %}

{% block title %}Account Activation{% endblock %}

{% block content %}
  {% if account %}
    <h1>Account Activated</h1>
    <p>Thanks for signing up! Now you can go ahead and <a href="{% url auth_login %}">log in</a>.</p>
    
  {% else %}
    <h1>Activation Error</h1>
    <p>
      Sorry, it didn't work. Either your activation link was wrong, or the key has expired; activation keys only last {{ expiration_days|apnumber }} days.
    </p>
  {% endif %}

{% endblock %}