{% load extras %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">

<head>
  <title>
      Log In :: The Daily Gazette
  </title>

  <link rel="stylesheet" href="{% static css toolbox.css %}" type="text/css" media="screen, projection, print" />
  <link rel="stylesheet" href="{% static css print.css %}" type="text/css" media="print" />
  <link rel="stylesheet" href="{% static css page/login.css %}" type="text/css" media="screen,projection" />

</head>

<body>

{% if form.errors %}
  <div id="errors">
    <p>Sorry, your username and password didn't match our records. Please try again.</p>
    <p>If you don't have an account yet, you should <a href="{% url register %}">register one</a>.</p>
  </div>
{% endif %}


<div id="login">
	<div id="content">
	  <form method="post" action=".">
		<p class="form">
		  {{ form.username.label_tag }}: {{ form.username }} <br />
		  {{ form.password.label_tag }}: {{ form.password }}
		</p>
		
		<p class="submit">
		  <input type="submit" value="Log In" />
		  <input type="hidden" name="next" value="{{ next }}" />
		</p>
		
		</form>
		
		<p class="register">
			Don't have an account? <a href="{% url register %}">Register!</a>
		</p>
		
	</div>
</div>

</body>
</html>