<div class="pollBox" id="poll-{{ poll.pk }}">
  <h4>{{ poll.name }}</h4>
  
  <p class="poll-question">
    {{ poll.question }} 
    <span class="show-results">
      [<a href="{% url poll-results poll.time_start.year,poll.slug %}" onclick="showPollResults({{ poll.pk }}); return false;">show results</a>]
    </span>
  </p>
  
  <div class="poll-voting">
    <form method="post" 
          action="{% url submit-poll poll.time_start.year,poll.slug %}" 
          onsubmit="submitPoll({{ poll.pk }}); return false;">
      <ul>
        {% for option in poll.options.all %}
          <li>
            <input type="radio" name="option" value="{{ option.pk }}" id="option-{{ option.pk }}"/>
            <label for="option-{{ option.pk }}">{{ option.name }}</label>
          </li>
        {% endfor %}
      </ul>
      <div class="submitBox">
        <input type="submit" value="Submit" />
      </div>
    </form>
  </div>
  
  <div class="other-content">
    <!-- results get injected here -->
  </div>
</div>
