{% extends "listings/base.html" %}
{% load extras %}
{% load markup %}

{% block title %}Book Exchange{% endblock title %}
{% block listings_customheader %}
    <script type="text/javascript" src="{% static js tablesort.js %}"></script>
    {% jQuery %}
    <script type="text/javascript" charset="utf-8">
$(function() {
    $('.sell-link').click(function(event) {
        event.preventDefault();
        var link = $(this);
        var book_name = link.parents('.book-row').children('td').eq(0).html();
        var confirmed = confirm("Are you sure you want to remove "+book_name+" from the listings?");
      
        if (confirmed) {
            $.post(link.attr('href'), {}, function(data, textStatus) {
                if (data == 'success') {
                    link.parents('.book-row').remove();
                }
            });
        }
    });
});
    </script>
{% endblock listings_customheader %}
{% block listings_title %}Book Exchange{% endblock listings_title %}


{% block listings_content %}
    <table id="review-listings" cellpadding="0" cellspacing="0" border="0" class="sortable-onload-0-4 rowstyle-alt colstyle-alt no-arrow">
      <caption>Books for sale by the Swarthmore community</caption>
      <thead>
        <tr>
          <th class="sortable">Title</th>
          <th class="sortable">Seller</th>
          <th class="sortable">Departments</th>
          <th class="sortable">Classes</th>
          <th class="sortable">Condition</th>
          <th class="sortable">Cost</th>
        </tr>
      </thead>
      <tbody>
        {% for book in books %}
          <tr class="book-row">
            <td>{{ book.title }}</td>
            <td>
                {% ifequal book.seller user_profile %}
                    You ({{ book.seller.abbreviated_email }}) [<a class="sell-link" href="{% url books.views.mark_as_sold book.slug %}">mark as sold</a>]
                {% else %}
                    {{ book.seller.name }}
                    {% if book.seller.email %}
                        (<a href="mailto:{{ book.seller.email|entity_sub }}">{{ book.seller.abbreviated_email|entity_sub }}</a>)
                    {% endif %}
                {% endifequal %}
            </td>
            <td>{% for dept in book.departments.all %}{{ dept.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
            <td>{{ book.classes }}</td>
            <td>{{ book.get_condition_display }}</td>
            <td>{{ book.cost }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <p>Want to sell your own books? <a href="{% url books.views.submit_book %}">Add one</a> to our listings.</p>
{% endblock listings_content %}
