{% extends "base-expand.html" %}
{% load extras %}
{% load markup %}

{% block title %}Book Exchange{% endblock title %}
{% block customheader %}
    <script type="text/javascript" src="{% static js tablesort.js %}"></script>
	    {% jQuery %}
	    <script type="text/javascript" charset="utf-8">
		$(function() {
		    $('.sell-link').click(function(event) {
		        event.preventDefault();
		        var link = $(this);
		        var book_name = link.parents('.book-row').children('td').eq(0).html();
		        var confirmed = confirm("Are you sure you want to remove "+book_name+" from the listings?");
      
		        if (confirmed) {
		            $.post(link.attr('href'), {}, function(data, textStatus) {
		                if (data == 'success') {
		                    link.parents('.book-row').remove();
		                }
		            });
		        }
		    });
		});
	</script>
{% endblock customheader %}

{% block expand_breadcrumb %}
	<a href="/books/">Book Exchange</a>
{% endblock expand_breadcrumb %}

{% block expand_top %}	

<div class="full-action-row">
	<div class="action">
		<a href="/announcements/new/">Submit to the RSD</a>
	</div>
	<div class="action">
		<a href="/books/new/">Sell a textbook</a>
	</div>
	<div class="action">
		<a href="/jobs/new/">Advertise a job</a>
	</div>
	<div class="action">
		<a href="/posters/new">Display a poster</a>
	</div>
	<div class="action">
		<a href="/reviews/">Review a restaurant</a>
	</div>
</div>

	<table id="review-listings" cellpadding="0" cellspacing="0" border="0" class="sortable-onload-0-4 rowstyle-alt colstyle-alt no-arrow">
	  <caption>Click a header to resort / Books for sale by the Swarthmore community</caption>
	  <thead>
	    <tr>
	      <th class="sortable">Title</th>
	      <th class="sortable">Seller</th>
	      <th class="sortable">Departments</th>
	      <th class="sortable">Classes</th>
	      <th class="sortable">Condition</th>
	      <th class="sortable">Cost</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for book in books %}
	      <tr class="book-row">
	        <td>{{ book.title }}</td>
	        <td>
	            {% ifequal book.seller user_profile %}
	                You ({{ book.seller.abbreviated_email }}) [<a class="sell-link" href="{% url books.views.mark_as_sold book.slug %}">mark as sold</a>]
	            {% else %}
	                {{ book.seller.name }}
	                {% if book.seller.email %}
	                    (<a href="mailto:{{ book.seller.email|entity_sub }}">{{ book.seller.abbreviated_email|entity_sub }}</a>)
	                {% endif %}
	            {% endifequal %}
	        </td>
	        <td>{% for dept in book.departments.all %}{{ dept.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
	        <td>{{ book.classes }}</td>
	        <td>{{ book.get_condition_display }}</td>
	        <td>{{ book.cost }}</td>
	      </tr>
	    {% endfor %}
	  </tbody>
	</table>

{% endblock expand_top %}

{% block expand_content %}
{% endblock expand_content %}

{% block expand_rightsidebar %}
{% endblock expand_rightsidebar %}
