{% load extras %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">

<head>
  <title>{% block full-title %}{% block title %}{% endblock title %} :: The Daily Gazette{% endblock full-title %}</title>

  <link rel="stylesheet" href="{% static css toolbox.css %}" type="text/css" media="screen, projection, print" />
  <link rel="stylesheet" href="{% static css print.css %}" type="text/css" media="print" />

  <link rel="stylesheet" href="{% static css page/admin.css %}" type="text/css" media="screen, projection" />

  {% block customheader %}
  {% endblock customheader %}
</head>

<body>
<div id="container"> <!-- holds all -->

	<!--HEADER-->
	<div id="header">
		<div class="floatLeft">
		  <h1><img src="{% static images admin/header.png %}" alt="The Daily Gazette" /></h1>
		</div>
		<div id="linkBox">
			<a href="http://daily.swarthmore.edu">Visit Site</a> |
			<a href="{% url logout %}">Log Out</a>
		</div>
	</div>
	
	<div id="subheader">
		<center>
		{% block subheader %}
		
		<ul>
			<li><a href="#">Write</a></li>	
			<li><a href="#">Manage</a></li>
			<li><a href="#">Comments</a></li>
		</ul>
		
		{% endblock subheader %}
		</center>
	</div>
	<!--END HEADER-->
	
	<!--ARTICLE BAR-->
	<div id="sidebar">
		
		{% block sidebar %}
		
		{% if announcement %}
  		<h2>Announcements</h2>
  		<p>{{ announcement }}</p>
  		<p>&mdash; {{ announcement.sponsor_link }}</p>
		{% endif %}
		
		<h2>Coming Up</h2>
		
		<h3>Yours</h3>
		
		<ul>
  		{% for concept in user.get_profile.claimed|slice:":3" %}
  			<li>
  			  <a href="{{ concept.get_absolute_url }}">{{ concept.get_title }}</a>
  			  - {{ concept.due|date:"D, j N" }} <br />
  			  <span class="notes">{{ concept.notes_excerpt }}</span>
  			</li>
  		{% endfor %}
		</ul>
		
		<h3>Unclaimed</h3>
		<h4><a href="#">claim a story</a></h4>
		<ul>
  		{% for concept in unclaimed|slice:":3" %}
  			<li>
  			  <a href="{{ concept.get_absolute_url }}">{{ concept.name }}</a>
  			  - {{ concept.due|date:"D, j N" }} <br />
  			  <span class="notes">{{ concept.notes_excerpt }}</span>
  			</li>
  		{% endfor %}
		</ul>
			
		<h3>Others</h3>
  		{% for concept in others|slice:":3" %}
  			<li>
  			  {{ concept.name }}
  			  - {{ concept.users|join_authors:"aptx" }}
  			  - {{ concept.due|date:"D, j N" }}
  			</li>
		{% endfor %}
		
		{% endblock sidebar %}
		
	</div>
	<!--END ARTICLE BAR-->
	
	<!--MAIN COLUMN-->
	<div id="main">
		<span id="mainRight">
  		<span id="mainTopRight">
    		<div id="centerColumn">
    			{% block content %}
    			{% endblock content %}
    		</div>
  		</span>
		</span>
	</div>
	<!--END MAIN COLUMN-->
	
</div>
</body>
</html>