{% extends "custom-admin/base.html" %}
{% load extras %}

{% block title %}Comments Management{% endblock %}

{% block content %}		
  <div id="manageBox" class="write">			
  	<table class="manageStories">
  	  <tr>
  			<th width="125" class="column1 title">Story</th>
				<th width="100" class="column2 title">Commenter</th>
				<th width="50" class="column1 title">Date</th>
				<th width="250" class="column2 title">Comment</th>
			</tr>
  	  
  	  {% for comment in comments %}
        <tr>
          <td class="title"><a href="{{ comment.get_absolute_url }}">{{ comment.subject.get_title }}</a></td>
          <td>{{ comment.linked_name|safe }}, {{ comment.status }}</td>
          <td>{{ comment.time|date:"n/j/y, g:i A" }}</td>
          <td>{{ comment.text }}</td>
        </tr>
  	  {% endfor %}
  		
			<tr class="column1">
				<td width="150" class="title"><a href="#">Al Bloom Resigns</a></td>
				<td width="100"><a href="#">Miles Skorpen</a>, Staff</td>
  			<td width="50">8/10/08 @ 6:42</td>
				<td width="250">Whatever the text of the comment is. Maybe cut off after like ... 100-150 characters?</td>
			</tr>
			<tr class="column2">
				<td width="150" class="title"><a href="#">Al Bloom Resigns</a></td>
				<td width="100"><a href="#">Miles Skorpen</a>, Staff</td>
				<td width="50">8/10/08 @ 6:42</td>
				<td width="250">Whatever the text of the comment is. Maybe cut off after like ... 100-150 characters?</td>
			</tr>
		</table>

		<label>More Comments: </label> <a href="#">1</a> | <a href="#">2</a> | <a href="#">3</a> | <a href="#">4</a> | <a href="#">5</a> | <a href="#">6</a> | <a href="#">7</a><br />
				
		<label class="bottom">Search:</label> <input type="text" size="42" name="image 1" class="text" value="" id="q10" /><input type="submit" name="upload" id="header-upload" value="Go" />
				
  </div>
{% endblock content %}