{% extends "custom-admin/base.html" %}
{% load extras %}
{% block title %}Admin Panel{% endblock title %}


{% block content %}
<div id="buttonBox">
  <div id="buttonBoxMajor">
    <a href="{% url write %}"><img src="{% static images admin/buttons/write.png %}" /></a>
  </div>
  <div id="buttonBoxMinor">
    <a href="#"><img src="{% static images admin/buttons/profile.png %}" /></a><br />
    <a href="#"><img src="{% static images admin/buttons/stories.png %}" /></a><br />
    <a href="#"><img src="{% static images admin/buttons/comments.png %}" /></a><br />
  </div>
</div>

<div class="tallBox">
  <h3>Your Stories</h3>
  <ul>
    {% for story in articles|slice:":10" %}
      <li>
        <a href="{{ story.get_absolute_url }}">{{ story.get_headline }}</a>
        - {{ story.pub_date|date:"j F Y, H:i A" }}
      </li>
    {% endfor %}
  </ul>
</div>

<div class="shortBox">
  <h3>Recent Revisions</h3>
  <ul>
    {% for revision in revisions|slice:":3" %}
      <li>
        <a href="{{ revision.get_absolute_url }}">{{ revision.article.get_title }}</a> 
        - {{ revision.reviser }} - {{ revision.date|date:"j F Y, H:i A" }}
      </li>
    {% endfor %}
  </ul>
</div>

<div class="shortBox">
  <h3>Comments</h3>
  <ul>
    {% for comment in comments|slice:":3" %}
      <li>
        <a href="{{ comment.get_absolute_url }}">{{ comment.subject.get_title }}</a>
        - {{ comment.display_name }} - {{ comment.time|date:"j F Y, H:i A" }}
      </li>
    {% endfor %}
  </ul>
</div>		

</div>
{% endblock content %}