{% extends "custom-admin/base.html" %}
{% load extras %}

{% block title %}Write{% endblock %}

{% block customheader %}

  {% jQuery %}

  <script type="text/javascript" src="{% static js jquery.autocomplete.js %}"></script>

  <script type="text/javascript" charset="utf-8">
    function toggleLayer(id) {
      $('#' + id).toggle();
      return false;
    }
    
    function addAuthor() {      
      extra = $('#extra_author');
      name = extra.val();
      
      $.ajax({
        type: "POST",
        url: "{% url get-or-make-username %}",
        data: {name: name},
        success: function(username) {
          $('#authorsText').append(authorLinkFor(name, username));
          var authorsInput = $('#authors');
          authorsInput.val(authorsInput.val() + ' ' + username);
          extra.val('');
        },
        error: function(request, status, errorThrown) {
          alert("Apparently you don't have permissions to create a new author. Talk to someone who does.\n\n" + status + "\n\n" + errorThrown);
        }
      });
      
      return false;
    }
    
    function authorLinkFor(name, username) {
      return '<a href="#" id="author-' + username + '" onclick="return removeAuthor(\'' + username + '\');">' + name + '</a>';
    }
    
    function addAuthorToList(name, username) {
      $('#authorsText').append(' ' + authorLinkFor(name, username));
      $('#authors').append(' ' + username);
    }
    
    function removeAuthor(username) {
      $('#author-' + username).remove();

      authors = $('#authors');
      split = jQuery.trim(authors.val()).split(/\s+/);
      new_authors = [];
      for (i = 0; i < split.length; i++) {
        if (split[i] != username) {
          new_authors.push(split[i]);
        }
      }
      authors.val(new_authors.join(' '));
    }
    
    function updateSubsections() {
      section = $('#section').val();
      $.get("/data/subsections/" + section + '/', {}, function(data) {
        select = $('#subsection');
        select.empty().append("<option value=''>none</option>");
        
        if (data) {
          lines = data.split("\n");
          for (i = 0; i < lines.length; i++) {
            arr = jQuery.map(lines[i].split("|"), jQuery.trim);
            select.append('<option value="' + arr[0] + '">' + arr[1] + '</option>');
          }
        }
      });
    }
  </script>

{% endblock customheader %}


{% block content %}
<div id="buttonBox" class="write">

  <table>
    <tr>
      <td width="75">
        <label for="title">Title:</label>
      </td>
      <td width="375" colspan="2">
        <input type="text" size="50" maxlength="200" name="title" id="title" />
      </td>
    </tr>

    <tr>
      <td>
        <label for="authors">Author(s):</label>
      </td>
      <td colspan="2">
        <span id="authorsText"></span>
        (click to remove)
        <input type="hidden" id="authors" name="authors" value="{{ user.username }}" />
        
        <script type="text/javascript" charset="utf-8">
          $(document).ready(function() {
            $('#authorsText').append(
              authorLinkFor("{{ user.get_full_name }}", "{{ user.username }}")
            );
          });
        </script>
      </td>
    </tr>

    <tr>
      <td>
        <label for="extra_author"><em>Add Author:</em></label>
      </td>
      <td colspan="2">
        <input type="text" size="20" name="extra_author" class="text" value="" id="extra_author" />
        <a href="#" onclick="return addAuthor()" id="addAuthor">add this author</a>
        
        <script type="text/javascript" charset="utf-8">
          function formatItem(row) {
            return row[0] + " (" + row[1] + ")";
          }
          
          $(document).ready(function() {
            $('#extra_author').autocomplete("{% url author-completions %}",
              { formatItem:formatItem }
            );
          });
        </script>
      </td>
    </tr>

    <tr>
      <td>
        <label for="section">Section:</label>
      </td>
      <td colspan="2">
        <select class="other" name="section" id="section" onchange="updateSubsections()">
          {% for sect in sections %}
            <option value="{{ sect.slug }}">{{ sect.name }}</option>
          {% endfor %}
        </select>
      </td>
    </tr>

    <tr>
      <td>
        <label>Subsection:</label>
      </td>
      <td colspan="2">
        <select class="other" name="subsection" id="subsection">
          <option value=""></option>
        </select>
        <script type="text/javascript" charset="utf-8">
          $(document).ready(updateSubsections);
        </script>
      </td>
    </tr>

    <tr>
      <td>
        <label>Location:</label>
      </td>
      <td colspan="2">
        <select class="other" name="Location">
          <option value="3">Tertiary</option>
          <option value="2">Secondary</option>
          <option value="1">Primary</option>
        </select>
      </td>
    </tr>

    <tr>
      <td width="75" valign=top>
        <label>Add Tags</label>
      </td>
      <td width="199">
        <select name="tags" size="10" multiple>
          {% for group in taggroups %}
            <optgroup label="{{ group.name }}">
              {% for tag in group.active_tags %}
                <option value="{{ tag.pk }}">{{ tag.long_name|default:tag.name }}</option>
              {% endfor %}
            </optgroup>
          {% endfor %}
          
          {% if loosetags %}
            <optgroup label="Other">
              {% for tag in loosetags %}
                <option value="{{ tag.pk }}">{{ tag.long_name|default:tag.name }}</option>
              {% endfor %}
            </optgroup>
          {% endif %}
        </select>
      </td>

      <td width="199">
        <select name="selected-tags" size="10" multiple>
          <optgroup label="Selected Tags">
            <option value="Martin Warner">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
          </optgroup>
        </select>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="2">
        <label>Click to add or remove a tag</label>
      </td>
    </tr>
  </table>

  <hr />

  <h4>Required Files</h4>
  <p><em>TODO: this should update based on the location selected</em></p>

  <table>
    <tr>
      <td width="100">
        <label>
          Header Image <br />
          <em>350px x 150px</em>
        </label>
      </td>
      <td width="100">
        <input type="submit" name="upload" id="header-upload" value="Upload" />
      </td>
      <td width="100">
        <label>
          Thumbnail<br />
          <em>50px x 75px</em>
        </label>
      </td>
      <td width="100">
        <input type="submit" name="upload" id="thumbnail-upload" value="Upload" />
      </td>
    </tr>

    <tr>
      <td width="100">
        <label>
          Email Image<br />
          <em>175px x 175px</em>
        </label>
      </td>
      <td width="100">
        <input type="submit" name="upload" id="email-upload" value="Upload" />
      </td>
    </tr>
  </table>

  <h4>Optional Files</h4>

  <p>
    <a href="#" onclick="return toggleLayer('addImage');">Image</a> |
    <a href="#" onclick="return toggleLayer('addSlideshow');">Slideshow</a> |
    <a href="#" onclick="return toggleLayer('addVideo');">Video</a> |
    <a href="#" onclick="return toggleLayer('addAudio');">Audio</a> |
    <a href="#" onclick="return toggleLayer('addDoc');">PDF / DOC</a> |
    <a href="#" onclick="return toggleLayer('addFlash');">Flash</a>
  </p>

  <p>&nbsp;</p>

  <div id="addImage">
    <table>
      <tr>
        <td width="100">
          <label>Image</label>
        </td>
        <td width="375">
          <input type="text" size="33" name="image 1" class="text" value="" id="q10" />
          <input type="submit" name="upload" id="header-upload" value="Add File" />
          <input type="submit" name="upload" id="header-upload" value="Upload" />
          <br />
          <table>
            <tr>
              <td width="55">
                <label>Title:</label>
              </td>
              <td>
                <input type="text" size="42" name="image 1" class="text" value="" id="q10" />
              </td>
            </tr>
            <tr>
              <td width="55">
                <label>Caption:</label>
              </td>
              <td>
                <textarea cols="40" rows="2" name="Title"></textarea>
              </td>
            </tr>
            <tr>
              <td width="55">
                <label>Creator:</label>
              </td>
              <td>
                <input type="text" size="42" name="image 1" class="text" value="" id="q10" />
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <label>Size:</label>
                <select class="other" name="size">
                  <option></option>
                  <option value="50">Big (50% column)</option>
                  <option value="25">Small (25% column)</option>
                </select>

                <label>Location:</label>
                <select class="other" name="size">
                  <option></option>
                  <option>Left</option>
                  <option>Right</option>
                  <option>Header</option>
                </select>
              </td>
            </tr>
          </table>
          <br />
          <input type="submit" name="upload" id="header-upload" value="Add another" /> 
          <br />
        </td>
      </tr>
    </table>
  </div>

  <div id="addVideo">
    <table>
      <tr>
        <td width="100">
          <label>Video</label>
        </td>
        <td width="375">
          <input type="text" size="33" name="image 1" class="text" value="" id="q10" />
          <input type="submit" name="upload" id="header-upload" value="Add File" />
          <input type="submit" name="upload" id="header-upload" value="Upload" />
          <br />
          <strong>OR</strong>
          <input type="text" size="33" name="image 1" class="text" value="" id="q10" />
          <input type="submit" name="upload" id="header-upload" value="Add URL" />
          <br />
          <table>
            <tr>
              <td width="55">
                <label>Title:</label>
              </td>
              <td>
                <input type="text" size="42" name="image 1" class="text" value="" id="q10" />
              </td>
            </tr>
            <tr>
              <td width="55">
                <label>Caption:</label>
              </td>
              <td>
                <textarea cols="40" rows="2" name="Title"></textarea>
              </td>
            </tr>
            <tr>
              <td width="55">
                <label>Creator:</label>
              </td>
              <td>
                <input type="text" size="42" name="image 1" class="text" value="" id="q10" />
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <label>Size:</label>
                <select class="other" name="size">
                  <option></option>
                  <option value="big">Big (50% column)</option>
                  <option value="small">Small (25% column)</option>
                </select>

                <label>Location:</label>
                <select class="other" name="size">
                  <option></option>
                  <option>Left</option>
                  <option>Right</option>
                  <option>Center</option>
                </select>
                <br />
              </td>
            </tr>
          </table>

          <input type="submit" name="upload" id="header-upload" value="Add another video" />

        </td>
      </tr>
    </table>
  </div>

  <div id="addAudio">
    <table>

      <tr>
        <td width="100">
          <label>Audio</label>
        </td>
        <td width="375">
          <input type="text" size="33" name="image 1" class="text" value="" id="q10" />
          <input type="submit" name="upload" id="header-upload" value="Add File" />
          <input type="submit" name="upload" id="header-upload" value="Upload" />
          <br />
          <table>
            <tr>
              <td width="55">
                <label>Title:</label>
              </td>
              <td>
                <input type="text" size="42" name="image 1" class="text" value="" id="q10" />
              </td>
            </tr>
            <tr>
              <td width="55">
                <label>Caption:</label>
              </td>
              <td>
                <textarea cols="40" rows="2" name="Title"></textarea>
              </td>
            </tr>
            <tr>
              <td width="55">
                <label>Creator:</label>
              </td>
              <td>
                <input type="text" size="42" name="image 1" class="text" value="" id="q10" />
              </td>
            </tr>
          </table>
          <br />
          <input type="submit" name="upload" id="header-upload" value="Add another audio file" />
          <br />

        </td>
      </tr>
    </table>
  </div>

  <div id="addSlideshow">
    <table>

      <tr>
        <td width="100">
          <label>Slideshow</label>
        </td>
        <td width="375">
          <input type="text" size="33" name="image 1" class="text" value="" id="q10" />
          <input type="submit" name="upload" id="header-upload" value="Add File" />
          <input type="submit" name="upload" id="header-upload" value="Upload" />
          <br />
          <table>
            <tr>
              <td width="55">
                <label>Title:</label>
              </td>
              <td>
                <input type="text" size="42" name="image 1" class="text" value="" id="q10" />
              </td>
            </tr>
            <tr>
              <td width="55">
                <label>Caption:</label>
              </td>
              <td>
                <textarea cols="40" rows="2" name="Title"></textarea>
              </td>
            </tr>
            <tr>
              <td width="55">
                <label>Creator:</label>
              </td>
              <td>
                <input type="text" size="42" name="image 1" class="text" value="" id="q10" />
              </td>
            </tr>
          </table>
          <br />
          <input type="text" size="33" name="image 1" class="text" value="" id="q10" />
          <input type="submit" name="upload" id="header-upload" value="Add File" />
          <input type="submit" name="upload" id="header-upload" value="Upload" />
          <br />
          <table>
            <tr>
              <td width="55">
                <label>Title:</label>
              </td>
              <td>
                <input type="text" size="42" name="image 1" class="text" value="" id="q10" />
              </td>
            </tr>
            <tr>
              <td width="55">
                <label>Caption:</label>
              </td>
              <td>
                <textarea cols="40" rows="2" name="Title"></textarea>
              </td>
            </tr>
            <tr>
              <td width="55">
                <label>Creator:</label>
              </td>
              <td>
                <input type="text" size="42" name="image 1" class="text" value="" id="q10" />
              </td>
            </tr>
          </table>
          <input type="submit" name="upload" id="header-upload" value="Add files to this slideshow" />
          <br />
          <input type="submit" name="upload" id="header-upload" value="Create another slideshow" />
          <br />
        </td>
      </tr>

    </table>
  </div>

  <div id="addDoc">
    <table>
      <tr>
        <td width="100">
          <label>Document</label>
        </td>
        <td width="375">
          <input type="text" size="33" name="image 1" class="text" value="" id="q10" />
          <input type="submit" name="upload" id="header-upload" value="Add File" />
          <input type="submit" name="upload" id="header-upload" value="Upload" />
          <br />
          <table>
            <tr>
              <td width="55">
                <label>Title:</label>
              </td>
              <td>
                <input type="text" size="42" name="image 1" class="text" value="" id="q10" />
              </td>
            </tr>
            <tr>
              <td width="55">
                <label>Caption:</label>
              </td>
              <td>
                <textarea cols="40" rows="2" name="Title"></textarea>
              </td>
            </tr>
            <tr>
              <td width="55">
                <label>Source:</label>
              </td>
              <td>
                <input type="text" size="42" name="image 1" class="text" value="" id="q10" />
              </td>
            </tr>
            <tr>
              <td width="55">
                <label>Display:</label>
              </td>
              <td>
                <select class="other" name="size">
                  <option></option>
                  <option value="left">Left Box</option>
                  <option value="right">Right Box</option>
                  <option value="in">In-text Link</option>
                </select>
              </td>
            </tr>
          </table>
          <input type="submit" name="upload" id="header-upload" value="Attach another document" />
          <br />
          &nbsp;
        </td>
      </tr>

    </table>
  </div>

  <div id="addFlash">
    <table>
      <tr>
        <td width="100">
          <label>Flash</label>
        </td>
        <td width="375">
          <table>
            <tr>
              <td width="55">
                <label>Code :</label>
              </td>
              <td>
                <textarea cols="40" rows="10" name="Title"></textarea>
              </td>
            </tr>
            <tr>
              <td width="55">
                <label>Title:</label>
              </td>
              <td>
                <input type="text" size="42" name="image 1" class="text" value="" id="q10" />
              </td>
            </tr>
            <tr>
              <td width="55">
                <label>Desc. :</label>
              </td>
              <td>
                <textarea cols="40" rows="2" name="Title"></textarea>
              </td>
            </tr>
            <tr>
              <td width="55">
                <label>Creator:</label>
              </td>
              <td>
                <input type="text" size="42" name="image 1" class="text" value="" id="q10" />
              </td>
            </tr>
            <tr>
              <td width="55">
                <label>Display:</label>
              </td>
              <td>
                <select class="other" name="size">
                  <option></option>
                  <option>Left</option>
                  <option>Right</option>
                  <option>Center</option>
                </select>
              </td>
            </tr>
          </table>
          <input type="submit" name="upload" id="header-upload" value="Add another Flash file" />
          <br />
          &nbsp;
        </td>
      </tr>
    </table>
  </div>

  <hr />

  <h3 class="continue"><a href="{{ admin.write.page2.get_absolute_url }}">Save and Continue</a></h3>

</div>
{% endblock content %}
