<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>The Phoenix</title>
    <link href="http://www.swarthmorephoenix.com/current.rss" rel="alternate" title="RSS" type="application/rss+xml" />
    <link href="http://www.swarthmorephoenix.com/stylesheets/cache/base.css?1228506184" media="screen" rel="stylesheet" type="text/css" />
    <link href="http://www.swarthmorephoenix.com/stylesheets/homepage.css?1228506182" media="screen" rel="stylesheet" type="text/css" /><link href="/stylesheets/public.css?1228506182" media="screen" rel="stylesheet" type="text/css" />
    <script src="http://www.swarthmorephoenix.com/javascripts/cache/base.js?1228506184" type="text/javascript"></script>
    <script src="http://www.swarthmorephoenix.com/javascripts/public.js?1228506133" type="text/javascript"></script>
    
  </head>
  <body>
    <div id='site'>
      <div id='masthead'>
        <div class='spacer'></div>
        <div class='column-3wide'>
          <div class='align-left'>
            <h4 class='tagline'>the independent campus newspaper of swarthmore college since 1881</h4>
          </div>
        </div>
        <div class='column-3wide'>
          <div class='align-right'>
            <h4 class='date'>
              Wednesday, April 1, 2009
            </h4>
          </div>
        </div>
        <div class='spacer-half'></div>
        <div class='cleaner'></div>
        <hr class='hr3' />
        <div class='spacer-half'></div>
        <p>
          <a href="/"><img alt="The Daily Phoenix" class="logo" height="70" src="http://daily.swarthmore.edu/static/images/aprilfools/2009/phoenix-sharp.jpg" /></a>
        </p>
        <div class='ad'>
        </div>
        <div class='cleaner'></div>
        <div class='spacer-half'></div>
        <div id='navbar'>
          <ul>
            <li><a href="/news">News</a></li>
            <li><a href="/features">Features</a></li>
            <li><a href="/athletics">Athletics</a></li>
            <li><a href="/multimedia">Multimedia</a></li>
            <li><a href="/opinions">Opinions</a></li>
            <li><a href="/archives">Archives</a></li>
          </ul>
        </div>

      </div>
      <div id='content'>
        <div class='spacer-half'></div>
        <div class='column-4wide'>
          <div class='column-4wide'>
            <div class='spacer-half'></div>
            <div class='column-1wide'>
              <div class='w-rdivider'>
                <div class='spacer-half'></div>
                {% for story in lowstories|slice:":3" %}
                    <h4 class='section'><a href="{{ story.section.get_absolute_url }}">{{ story.section.name }}</a></h4>
                    <div class='spacer-quarter'></div>
                    <h2><a href="{{ story.get_absolute_url }}">{{ story.headline|safe }}</a></h2>
                    <p><p>{{ story.summary|safe }}</p></p>
                    <div class='spacer'></div>
                    <hr class='hr3' />
                    <div class='spacer-half'></div>
                {% endfor %}
              </div>
            </div>
            <div class='column-2wide'>
              <div class='w-rdivider'>
                <div class='spacer-half'></div>
                <a href="{{ topstory.get_absolute_url }}">
        		    <img class="{{ topstory.main_image.front_tall_or_wide }}" 
        		         src="{{ topstory.main_image.top_front.url }}" 
        		         title="{{ topstory.headline }}" alt="" />
        		  </a>
        			<h2>{{ topstory.section_if_special|follow:": " }}<a href="{{ topstory.get_absolute_url }}">{{topstory.get_title|safe}}</a></h2>
        			<p class="byline">
        			  <span class="author">by {{ topstory.authors_in_order|join_authors:"l" }}</span>
        			  <span class="date">| {{ topstory.pub_date|date:"n/j/Y" }}</span>
        			</p>
        			<p>
        				{{ topstory.longest_summary|safe }}
        				<a class="readMore" href="{{ topstory.get_absolute_url }}">More</a>
        			</p>
              </div>
            </div>
            <div class='column-1wide'>
                {% for story in midstories %}
              <div class='spacer-half'></div>
              <h4 class='section'><a href="{{ story.section.get_absolute_url }}">{{ story.section.name }}</a></h4>
              <p>
                <a href="{{ story.get_absolute_url }}"><img alt="{{ story.headline }}" src="{{ story.main_image.mid_front.url }}" width="134px" /></a>
              </p>
              <h3><a href="{{ story.get_absolute_url }}">{{ story.headline }}</a></h3>
              <div class='spacer-half'></div>
              <div class='spacer'></div>
              <hr class='hr3' />
              <div class='spacer-half'></div>
              {% endfor %}
            </div>
            <div class='cleaner'></div>
            <div class='spacer-double'></div>
            <div class='column-2wide'>
              <div class='w-rdivider'>
                <hr class='hr1' />
                <div class='spacer-half'></div>
                <div class='spacer-half'></div>
                {% ifequal bico_news "error" %}
    			  <p>Unfortunately, we seem to be having some technical difficulties. We're working to resolve them, but in the meantime you can get news from the BiCo at <a href="http://www.biconews.com/">biconews.com</a>.</p>
    			{% else %}
    			    {% for story in bico_news %}
    			        <h4 class='section'><a href="http://www.biconews.com/">The BiCo News</a></h4>
                        <div class='spacer-quarter'></div>
                        <h2><a href="{{ story.link }}">{{ story.headline }}</a></h2>
                        <h2></h2>
                        <!-- %p= truncate_html(primary.body, 100) -->
                        <p><p>by {{ story.author|upper }}</p></p>
                        <div class='spacer'></div>
                        <hr class='hr3' />
                        <div class='spacer-half'></div>
    			    {% endfor %}
    			{% endifequal %}
              </div>
            </div>
            <div class='column-2wide'>
              <hr class='hr1' />
              <div class='spacer-half'></div>
              {% for announcement in announcements %}
              <div class='spacer-half'></div>
              <h4 class='section'><a href="/announcements">Announcements</a></h4>
              <div class='spacer-quarter'></div>
              <h2><a href="{{ announcement.get_absolute_url }}">{{ announcement.title }}</a></h2>
              <h2></h2>
              <!-- %p= truncate_html(primary.body, 100) -->
              <p><p>{{ announcement.brief_excerpt|safe }}</p></p>
              <div class='spacer'></div>
              <hr class='hr3' />
              {% endfor %}
              <div class='spacer'></div>
            </div>
            <div class='cleaner'></div>
            <hr class='hr1' />
            <div class='spacer-half'></div>
          </div>
          <div class='cleaner'></div>
          <div class='spacer'></div>
        </div>
        <div class='column-2wide'>
          <div class='w-ldivider'>
            <div id='sidebar'>
              <div id='sidebox'>
                <div class='column-1wide'>
                  <div class='w-rdivider'>
                    <h3>SUBSCRIBE</h3>
                    <!-- %hr.hr3 -->
                    <div class='spacer-half'></div>
                    <h4>Due to the financial realities in the publishing industry, we no longer have a print edition. Sorry.</h4>
                  </div>
                </div>
                <div class='column-1wide'>
                  <h3>CONTRIBUTE</h3>
                  <!-- %hr.hr3 -->
                  <div class='spacer-half'></div>
                  <h4><a href="mailto:dailygazette@swarthmore.edu">NEWS TIP</a></h4>
                  <h4><a href="mailto:dailygazette@swarthmore.edu">CORRECTION</a></h4>
                  <h4><a href="mailto:dailygazette@swarthmore.edu">LETTER TO EDITOR</a></h4>
                </div>
                <div class='cleaner'></div>
              </div>
              <div class='spacer'></div>
              <div id='search'>
                <!-- 
                  <hr class='hr1' />
                -->
                <div class='spacer-half'></div>
                <h3>SEARCH</h3>
                <form method="get" id="searchform" action="{% url search %}">
                  <input type="text" class="textbox" value="" name="s" id="s" />
                  <input type="submit" id="searchsubmit" value="Go" />
                </form>
                <div class='spacer'></div>
              </div>
              <div class='spacer-half'></div>
              <div class='spacer-half'></div>
              <div id='print-edition'>
                <div class='spacer-half'></div>
                <h3>LATEST NON-PRINT EDITION</h3>
                <h4>April 1, 2009</h4>
                <hr class='hr3' />
                <div class='spacer-half'></div>
                <a><a href="http://daily.swarthmore.edu/2009/3/31/du-going-dry/"><img alt="Cover" src="http://daily.swarthmore.edu/static/images/aprilfools/2009/cover.png" /></a></a>
                <h1><a href="http://daily.swarthmore.edu/2009/3/31/du-going-dry/">DU GOES DRY</a></h1>
                <div class='spacer'></div>
                <h4><a href="http://daily.swarthmore.edu/2009/3/31/du-going-dry/">Cover story &raquo;</a></h4>
                <h4><a href="/archives">Cover archives &raquo;</a></h4>
                <div class='cleaner'></div>
                <div class='spacer'></div>
              </div>
              <div class='spacer'></div>
              <div id='zeitgeist'>
                <div class='spacer-half'></div>
                <h3>MOST POPULAR</h3>
                <div id='zeitgeist-selector'>
                  <ul id='zeitgeist_type'>
                    <li>
                      <a href='#top_read'>READ</a>
                    </li>
                    <li>
                      <a href='#top_commented'>COMMENTED</a>
                    </li>
                    <li>
                      <a href='#top_emailed'>E-MAILED</a>
                    </li>
                  </ul>
                </div>
                <div class='cleaner'></div>
                <div class='spacer-half'></div>
                <p>
                  <ol id='top_read'>
                    <li>No stories have been read.</li>
                    <div class='spacer-half'></div>
                  </ol>
                  <ol id='top_commented'>
                    <li>No comments have been posted.</li>
                    <div class='spacer-half'></div>
                  </ol>
                  <ol id='top_emailed'>
                    <li>No stories have been emailed.</li>
                    <div class='spacer-half'></div>
                  </ol>
                </p>
              </div>
              <div class='spacer'></div>
              <hr class='hr3' />
              <div class='spacer-half'></div>
              <div class='ad'>
                	<a href="http://www.swarthmore.coop"><img src="http://daily.swarthmore.edu/static/images/ads/coop-index-230.png %}" alt="The Swarthmore Food Cooperative" /></a>
              <div class='spacer-half'></div>
              <div class='spacer'></div>
              <hr class='hr3' />
              <div id='sidebox'>
                <div class='column-2wide'>
                  <h3>ADVERTISEMENT</h3>
                  {% for link in manual_links %}
      			  {{ link|safe }} |
      			{% endfor %}

      			  {% for link in tla_links %}
      			    {{ link|safe }} |
      			  {% endfor %}

      			<!-- <br /><br /> -->

      			{% for text, url in lca_links %}
      			  <a href="{{ url }}">{{ text }}</a>
      			  {% if not forloop.last %}|{% endif %}
      			{% endfor %}
                  <hr class='hr3' />
                  <h3>OUTSIDE LINKS</h3>
                  <div class='spacer-half'></div>
                  <h4><a href="http://www.swarthmore.edu" target="popup">Swarthmore College</a></h4>
                  <h4><a href="http://swarthmore.edu/x504.xml" target="popup">Admissions</a></h4>
                  <h4><a href="http://www.swarthmore.edu/news/index.php" target="popup">Swarthmore News &amp; Events</a></h4>
                  <h4><a href="http://www.biconews.com/" target="popup">BiCo News</a></h4>
                  <h4><a href="http://www.philly.com/" target="popup">Philly.com</a></h4>
                </div>
                <div class='cleaner'></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='cleaner'></div>
      <div class='spacer-double'></div>
      <div class='column-6wide'>
        <hr class='hr1' />
        <div id='footer'>
          <div class='spacer-half'></div>
          <p>
            <ul>
                <li><a href="/news">News</a></li>
                <li><a href="/features">Features</a></li>
                <li><a href="/athletics">Athletics</a></li>
                <li><a href="/multimedia">Multimedia</a></li>
                <li><a href="/opinions">Opinions</a></li>
                <li><a href="/archives">Archives</a></li>
            </ul>
          </p>
          <div class='spacer-quarter'></div>
          <hr class='hr3' />
          <div class='spacer-quarter'></div>
          <p>
            <ul>
              <li>CONTRIBUTE</li>
              <!-- Not sure where these links belong; putting them here for now -->
              <li><a href="mailto:dailygazette@swarthmore.edu">NEWS TIP</a></li>
              <li><a href="mailto:dailygazette@swarthmore.edu">CORRECTION</a></li>
              <li><a href="mailto:dailygazette@swarthmore.edu">LETTER TO EDITOR</a></li>
            </ul>
          </p>
          <div class='spacer-half'></div>
          <hr class='hr3' />
          <div class='spacer-half'></div>
          <p>&copy; 2009 The Daily Phoenix. All rights reserved. No parts of this publication may be reproduced without the permission of The Daily Phoenix.</p>
          <div class='spacer-double'></div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
    	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    	</script>
    	<script type="text/javascript">
    	var pageTracker = _gat._getTracker("UA-1785594-4");
    	pageTracker._trackPageview();
    </script>
  </body>
</html>