{% extends "base.html" %}
{% load extras %}

{% block title %}Archives - {{ archives.get_headline }}{% endblock title %}


{% block customheader %}

<link rel="stylesheet" href="{% static css page/story.css %}" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="{% static css page/archives.css %}" type="text/css" media="screen, projection" />
<link rel="stylesheet" type="text/css" href="{% static js ajaxtabs/ajaxtabs.css %}" />

{% jQuery %}
<script type="text/javascript" src="js/ajaxtabs/ui.tabs.pack.js"></script>
<script type="text/javascript">
          var $j = jQuery.noConflict();
			$j(function() {
			$j('#container-4 ul').tabs({ fxFade: true, fxSpeed: 'fast' });
			$j('#container-11 ul').tabs({ event: 'mouseover' }).find('a').click(function() {
			return false;
			});
				});
</script>



{% endblock customheader %}


{% block topbar %}
		<div id="headerSectionBar">
		
			<div id="headerSection">
				<h3><a href="{{ archives.get_absolute_url }}">{{ archives.get_title }}</a></h3>
			</div>
		
			<div id="headerSearch" class="floatRight">
				<form method="get" id="searchform" action="http://www.sccs.swarthmore.edu">Search: <input type="text" class="textbox" value="" name="s" id="s" /><input type="submit" id="searchsubmit" value="Go" /></p>
			</div>
			
		</div>
	</div>
{% endblock topbar %}


{% block content %}
		<div id="commentColumn">
			<div id="commentBox">
				{% ifequal user currentuser %}
					{% include user.commentBox %}
				{% else %}
					<h4>Related Stories</h4>
					<ul>
						{% for item in story.related_list|slice:":2" %}
							<li><a href="{{item.get_absolute_url}}">{{ item.get_title }}</a></li>
						{% endfor %}
					</ul>
				{% endifequal %}
				
				<hr width="50%" color="#ffffff" size=1px /> 
				<h4>Share!</h4>
				
				<p>
				{% for item in social_list %}
					<a href="{{ item.url }}" alt="{{item.name}}"><img src="{{item.image_url}}" /></a> 
				{% endfor %}
				</p>
							
			</div>
		</div>
		
		<div id="storyBox">
			<div id="story">

				<h2>Archives</h2>
					
					<div id="monthArchives">
						<table width="140px">
						<tr>
							<td colspan="7">
								<center>YEAR</center>
							</td>
						</tr>
						<tr>
							<td colspan="7">
								<center>MONTH</center>
							</td>
						</tr>
						<tr>
							<td width="20px">S</td>
							<td width="20px">M</td>
							<td width="20px">T</td>
							<td width="20px">W</td>
							<td width="20px">Th</td>
							<td width="20px">F</td>
							<td width="20px">S</td>
						</tr>
						<tr>
							<td>1</td>
							<td>2</td>
							<td>3</td>
							<td>4</td>
							<td>5</td>
							<td>6</td>
							<td>7</td>
						</tr>
						<tr>
							<td>1</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>7</td>
						</tr>
						<tr>
							<td>1</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>7</td>
						</tr>
						<tr>
							<td>1</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>7</td>
						</tr>
						<tr>
							<td>1</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>7</td>
						</tr>
					</table>
					</div>				


			</div>
							
		</div>



{% endblock content %}