{% load extras %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">

<head>
  <title>
    {% block full-title %}
      {% block title %}{% endblock title %} :: The Daily Gazette
    {% endblock full-title %}
  </title>

  <link rel="stylesheet" href="{% static css toolbox.css %}" type="text/css" media="screen, projection, print" />
  <link rel="stylesheet" href="{% static css style.css %}" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="{% static css print.css %}" type="text/css" media="print" />

  {# <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="" /> #}
  {# <link rel="alternate" type="text/xml" title="RSS .92" href="" /> #}
  {# <link rel="alternate" type="application/atom+xml" title="Atom 0.3" href="" /> #}

  {% block customheader %}
  {% endblock customheader %}
</head>

<body>
  <div id="container">
  	<div id="header">
  		<div id="headerColor">
  			<div id="headerContent">
  				<div id="headerSubscribe">
  					<p>Subscribe: <a href="">Email</a> | <a href="">News Feed [RSS]</a> | <a href="">Twitter</a> | <a href="">Facebook</a></p>
  					<p>
  					  {% if user.is_authenticated %} 
  					    {% if user.is_staff %}
  					      <a href="">Admin</a> |
  					    {% endif %}
			          <a href="{% url accounts.views.manage user %}">Manage your Account</a> |
			          <a href="{% url logout %}">Logout</a>
			        {% else %}
			          <a href="{% url register %}">Register an Account</a> |
			          <a href="{% url login %}">Login</a>
			        {% endif %}
			        | {% now "F j, Y" %}
  					</p>
  				</div>
				
  				<div id="headerTitle">
  					<center><h1><a href="{% url articles.views.homepage %}"><img src="{% static images header/title.png %}" alt="The Daily Gazette" /></a></h1></center>
  				</div>
  			</div>
  		</div>
			
  		<div id="headerNav">
        <center>
					<ul>
						<li><a href="{% url section "news" %}">News</a></li>
						<li><a href="{% url section "features" %}">Features</a></li>
						<li><a href="{% url section "athletics" %}">Athletics</a></li>
						<li><a href="{% url section "multimedia" %}">Multimedia &amp; Photography</a></li>
						<li><a href="{% url section "opinions" %}">Opinions</a></li>
						<li><a href="{% url section "columns" %}">Columns</a></li>
						<li><a href="{% url archives %}">Archives</a></li>
						{# TODO: not sure what to do with the specials category yet #}
						{# <li><a href="">Specials</a></li> #}
					</ul>
				</center>
		  </div>
	
      {% block topbar %}
      {% endblock topbar %}
	  </div>

    <div id="content">
      {% block content %}
      {% endblock content %}

      {% block footer %}
    	<div id="footer">
    		<div id="footerContent">
    			<p>
    			  The Daily Gazette is a publication written by members of the Swarthmore College community. The administration of Swarthmore College has no editorial control or oversight regarding the content or presentation of the Daily Gazette. Funding for the Gazette is provided by the Student Budget Committee and by advertising revenue.
    			  <br/>
    			  <br/>
			      <span class="floatLeft">
			        <a href="/about/contact/">Contact</a> | 
			        <a href="/about/">About</a> | 
			        <a href="/join/">Employment</a> | 
			        <a href="/policies/">Policies</a>
			      </span>
			      <span class="floatRight">
			        {% if user.is_authenticated %} 
			          <a href="{% url accounts.views.manage user %}">Manage your Account</a> |
			          <a href="{% url logout %}">Logout</a>
			        {% else %}
			          <a href="{% url register %}">Register an Account</a> |
			          <a href="{% url login %}">Login</a>
			        {% endif %}
			      </span>
			    </p>
        </div>
	    </div>
	    {% endblock footer %}
    </div>
  </div>
</body>

</html>
