{% load extras %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" lang="en">

<head>
  <title>
    {% block full-title %}
      {% block title %}{% endblock title %} :: The Daily Gazette
    {% endblock full-title %}
  </title>

  <link rel="stylesheet" href="{% static css toolbox.css %}" type="text/css" media="screen, projection, print" />
  <link rel="stylesheet" href="{% static css style.css %}" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="{% static css functions/functions.css %}" type="text/css" media="screen, projection" />

  <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico" />

  <link rel="alternate" type="application/rss+xml" title="Homepage" href="/feeds/main" />
  <link rel="alternate" type="application/rss+xml" title="Latest Stories" href="/feeds/latest" />
  
  <script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php" type="text/javascript"></script>
  <!--[if lt IE 7]><script src="http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE7.js" type="text/javascript"></script><![endif]-->
  <!--[if lt IE 8]><script src="http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE8.js" type="text/javascript"></script><![endif]-->

  {% block customheader %}
  {% endblock customheader %}
</head>

<body {% block body-args %}{% endblock %}>
  <div id="container">
      {% if user.is_authenticated %}
       <div id="hoverBox">
          <p>Welcome to the Gazette! We've just rolled out a lot of new features.</p>
          <p><br />On our <a href="http://daily.swarthmore.edu/comments/">comments page</a> you can see our newest comments, and on our <a href="http://daily.swarthmore.edu/reviews/">reviews page</a> you can rate local stores and restaurants—and win coupons to eat out!</p>
      </div>
      {% else %}
       <div id="hoverBox">
          <p>Welcome to the Gazette! We've noticed your aren't logged in.</p>
          <p>If you've got a Facebook account, it is really easy! Just click:</p>
          <center><fb:login-button size="medium" background="dark" length="long"></fb:login-button></center>
          <p><br />We've just rolled out a lot of new features. On our <a href="http://daily.swarthmore.edu/comments/">comments page</a> you can see our newest comments, and on our <a href="http://daily.swarthmore.edu/reviews/">reviews page</a> you can rate local stores and restaurants—and win coupons to eat out!</p>
      </div>
      {% endif %}
      
  	<div id="header">
  		<div id="headerColor">
  			<div id="headerContent">
  				<div id="headerSubscribe">
  					<p>
  					  Subscribe: 
  					  <a href="">Email</a> | 
  					  <a href="/feeds/main">News Feed [RSS]</a> | 
  					  <a href="https://twitter.com/swatgazette">Twitter</a> | 
  					  <a href="http://facebook.com/pages/The-Daily-Gazette/25143725092">Facebook</a></p>
  					<p>
  					  {% if user.is_authenticated %} 
  					    {{ user.get_full_name }} |
  					    {% if user.is_staff %}
  					      {# <a href="/reporter-admin/">Reporter Admin</a> | #}
  					      <a href="/admin/">Management Admin</a> |
  					    {% endif %}
			          <a href="{% url manage-user %}">Manage your Account</a> |
			          {% if facebook_user %}
			            <fb:login-button size="small" background="white" length="short" autologoutlink="true"></fb:login-button>
			          {% else %}
  			          <a href="{% url auth_logout %}">Logout</a>
  			        {% endif %}
			        {% else %}
			          <a href="{% url registration_register %}">Register an Account</a> |
			          <a href="{% url auth_login %}">Login</a>
			        {% endif %}
			        | {% now "F j, Y" %}
  					</p>
  					<script type="text/javascript">FB.init("{{ FACEBOOK_API_KEY }}", "/xd_receiver.html");</script>
  				</div>
				
  				<div id="headerTitle">
  					<center><h1><a href="/"><img src="{% static images header/title.png %}" alt="The Daily Gazette" /></a></h1></center>
  				</div>
  			</div>
  		</div>
			
  		<div id="headerNav">
        <center>
					<ul>
						<li><a href="{% url section "news" %}">News</a></li>
						<li><a href="{% url section "features" %}">Features</a></li>
						<li><a href="{% url section "athletics" %}">Athletics</a></li>
						<li><a href="{% url section "multimedia" %}">Multimedia &amp; Photography</a></li>
						<li><a href="{% url section "opinions" %}">Opinions</a></li>
						<li><a href="{% url archives %}">Archives</a></li>
						{# TODO: not sure what to do with the specials category yet #}
						{# <li><a href="">Specials</a></li> #}
					</ul>
				</center>
		  </div>
	
      {% block topbar %}
      {% endblock topbar %}
	  </div>

    <div id="content">
      {% block content %}
      {% endblock content %}

      {% block footer %}
    	<div id="footer">
    		<div id="footerContent">
    			<p>
    			  The Daily Gazette is a publication written by members of the Swarthmore College community. The administration of Swarthmore College has no editorial control or oversight regarding the content or presentation of the Daily Gazette. Funding for the Gazette is provided by the Student Budget Committee and by advertising revenue.
    			  <br/>
    			  <br/>
			      <span class="floatLeft">
			        <a href="/about/contact/">Contact</a> | 
			        <a href="/about/">About</a> | 
			        <a href="/join/">Employment</a> | 
			        <a href="/policies/">Policies</a>
			      </span>
			      <span class="floatRight">
			        {% if user.is_authenticated %}
			          <a href="{% url manage-user %}">Manage your Account</a> |
			          {% if not facebook_user %}
  			          <a href="{% url auth_logout %}">Logout</a> |
			          {% endif %}
			        {% else %}
			          <a href="{% url registration_register %}">Register an Account</a> |
			          <a href="{% url auth_login %}">Login</a> |
			        {% endif %}
			        {% if facebook_user or not user.is_authenticated %}
                <fb:login-button size="small" background="white" length="short" autologoutlink="true"></fb:login-button>
              {% endif %}
			      </span>
			    </p>
        </div>
	    </div>
	    {% endblock footer %}
    </div>
  </div>
<script type="text/javascript">FB.init("{{ FACEBOOK_API_KEY }}", "/xd_receiver.html", {'reloadIfSessionStateChanged': true});</script>

<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	var pageTracker = _gat._getTracker("UA-1785594-4");
	pageTracker._trackPageview();
</script>
  
</body>

</html>
