{% extends "base.html" %}
{% load story_extras %}

{% block full-title %}
The Daily Gazette :: Swarthmore College's Daily Paper
{% endblock full-title %}


{% block customheader %}

<script type="text/javascript" src="{% static js jquery-1.2.1.pack.js %}"></script>
<script type="text/javascript" src="{% static js jcarousel/lib/jquery.jcarousel.pack.js %}"></script>

<link rel="stylesheet" type="text/css" href="{% static js jcarousel/lib/jquery.jcarousel.css %}" />
<link rel="stylesheet" type="text/css" href="{% static js jcarousel/skins/tango/skin.css %}" />


<link rel="stylesheet" type="text/css" href="{% static js ajaxtabs/ajaxtabs.css %}" />
<script type="text/javascript" src="{% static js ajaxtabs/ajaxtabs.js %}"></script>

<script type="text/javascript">

jQuery(document).ready(function() {
    jQuery('#mycarousel').jcarousel({
        scroll: 3,
        wrap: "both",
    });
});

</script>

{% endblock customheader %}


{% block topbar %}
	<div id="headerSectionBar">
			<div id="headerSearch">
				<form method="get" id="searchform" action="{% url search %}">
				  Search:
				  <input type="text" class="textbox" value="" name="s" id="s" />
				  <input type="submit" id="searchsubmit" value="Go" />
				</form>
			</div>
			
			<div id="headerColumn">
				<div id="headerComments">
					<h4>Newest Comments</h4>
					<ul>
					{% for comment in comments %}
							<li>
							  On <a href="{{comment.get_absolute_url}}">{{ comment.subject.get_title }}</a>
							  <br/>
							  by {{ comment.display_name }}
							  at {{ comment.time|date:"g:i A" }}
							  on {{ comment.time|date:"F j" }}
							</li>
					{% endfor %}
					</ul>
				</div>
			
				<div id="headerContentBox">
					<ul id="sideContent" class="shadetabs" id="tabs">
						<li><a href="#" class="selected" rel="#default">Weather</a></li>
						<li><a href="/menu/" rel="extraContainer">Menus</a></li>
						<li><a href="/events/" rel="extraContainer">Events</a></li>
					</ul>
						
					<div id="extraContainer">
            <div id="weather">
              <p class="weather"><strong>Today:</strong> {{ weather.today }}</p>
              <p class="joke">{{ joke.line_one }}</p>
              <p class="weather"><strong>Tonight:</strong> {{ weather.tonight }}</p>
              <p class="joke">{{ joke.line_two }}</p>
              <p class="weather"><strong>Tomorrow:</strong> {{ weather.tomorrow }}</p>
              <p class="joke">{{ joke.line_three }}</p>
              <p id="attrib">Weather updated daily, courtesy of the <a href="http://weather.gov">NWS</a>.</p>
            </div>
					</div>
						
					<script type="text/javascript">
						var switcher = new ddajaxtabs("sideContent", "extraContainer");
						switcher.setpersist(true);
						switcher.setselectedClassTarget("link");
						switcher.init();
					</script>
				</div>
				
				<div id="zagette">
					<a href=""><img src="{% static images index/zagette.png %}" alt="The Zagette: Swarthmore's Guide to Wining and Dining" /></a>
				</div>
			</div>
		</div>
{% endblock topbar %}

	
{% block content %}
		<div id="indexMainBox">
		
			<div id="indexMainStory">
				<h2><a href="{{ topstory.get_absolute_url }}">{{topstory.get_title|safe}}</a></h2>
				<p class="byline">
				  <span class="author">by {{ topstory.authors|join_authors }}</span>
				  <span class="date">| {{ topstory.pub_date|date:"n/j/Y" }}</span>
				</p>
				<img class="{{ topstory.front_image.get_shape_display }}" src="{{ topstory.front_image.get_absolute_url }}" title="{{ topstory.headline }}" />
				<p>
  				{{ topstory.long_summary|safe }}
  				<a class="readMore" href="{{ topstory.get_absolute_url }}">More</a>
  			</p>
			</div>
			
			<div id="indexHeadlines">
				<div class="indexHeadlinesBox floatLeft">
					<ul>
					{% for story in lowstories|slice:":3" %}
						<li>
						  <h4>
						    {# TODO: show "column", etc here #}
						    <a href="{{ story.get_absolute_url }}">{{ story.get_title|safe }}</a>
						  </h4>
						  <span class="author"> | by {{ story.authors|join_authors:"1x" }}</span>
						</li>
					{% endfor %}
					</ul>
				</div>
		
				<div class="indexHeadlinesBox floatRight">
					<ul>
					{% for story in lowstories|slice:"3:6" %}
						<li>
						  <h4><a href="{{ story.get_absolute_url }}">{{ story.get_title|safe }}</a></h4>
						  <span class="author"> | by {{ story.authors|join_authors:"1x" }}</span>
						</li>
					{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		
		<div id="indexSecondary">
			{% for story in midstories %}			
				<img src="{{ story.front_image.get_absolute_url }}" class="{{ story.front_image.get_shape_display }}" title="{{ story.headline }}" alt="" />
			  <h3><a href="{{ story.get_absolute_url }}">{{ story.get_title|safe }}</a></h3>
			  <p class="byline">
          <span class="author">by {{ story.authors|join_authors }}</span>
          <span class="date"> | {{ story.pub_date|date:"n/j/Y" }}</span>
			  </p>
			  <p>
			   {{ story.summary|safe }}
			   <a class="readMore" href="{{ story.get_absolute_url }}">More</a>
			  </p>
			{% endfor %}
		</div>
		
		<div id="indexPOTDbar">
			<center>
			  <hr width="900px" color="#dddddd" size=.5px />
			
        <ul id="mycarousel" class="jcarousel-skin-tango">
          {% for special in specials %}
            <li>
              <h5>{{ special.category.name|safe }} &rsaquo;&rsaquo;</h5>
              <a href="{{ special.get_target_url }}">
                <img src="{{ special.image.get_absolute_url }}" width="150" height="150" alt="" />
              </a>
              <p><a href="{{ special.get_target_url }}">{{ special.title|safe }}</a></p>
            </li>
          {% endfor %}
        </ul>
			
  			<hr width="900px" color="#dddddd" size=.5px />
  		</center>
		</div>
		
		
		<div id="indexBottom">
			<div class="indexBottomColumn floatLeft margin25">
				<h3>Announcements</h3>
				
				{% for announcement in announcements %}
				  <h4>
				    <a href="{{ announcement.get_absolute_url }}">{{ announcement.title }}</a>
				  </h4>
				  {% if announcement.is_event %}
  				  <p>Sponsored by {{ announcement.sponsor_link }}</p>
            <p>When: {{ announcement.event_date|near_future_date }} at {{ announcement.event_time }}</p>
            <p>Where: {{ announcement.event_place }}</p>
            
				  {% else %}
				    <p>{{ announcement.brief_excerpt|safe }}</p>
				  {% endif %}
				  
				  {% if not forloop.last %}<hr width="50%" />{% endif %}
				{% endfor %}				
			</div>
			
			<div class="indexBottomColumn floatLeft margin25">
				<h3>Jobs &amp; Internships</h3>
				
				{% for job in jobs %}
				  <h4><a href="{{ job.get_absolute_url }}">{{ job.name }}</a></h4>
				  <p>
				    Pay:
				    {% if job.is_paid %}
				      {{ job.pay }}
				    {% else %}
              None
				    {% endif %}
				  </p>
				  <p>Hours: {{ job.hours }}</p>
				  <p>When: {{ job.when }}</p>
				  <p>Where: {{ job.where }}</p>
				  
				  {% if not forloop.last %}
				    <hr width="50%" />
				  {% endif %}
				{% endfor %}
			</div>
			
			<div class="indexBottomColumn floatLeft" id="bico">
				<h3>From <a href="http://www.biconews.com/"><em>The BiCo News</em></a></h3>
				
				{% for story in bico_news %}
				  <h4><a href="{{ story.link }}">{{ story.headline }}</a></h4>
				  <p class="byline"><span class="author">by {{ story.author|upper }}</span></p>
				{% endfor %}
				
				<p><a href="http://www.biconews.com/"><em>The BiCo News</em></a> is the weekly paper for Bryn Mawr and Haverford Colleges.</p>
				
				<hr />
				
				{% for text, url in manual_links %}
				  <a href="{{ url }}">{{ text }}</a> |
				{% endfor %}
				
				<!-- TLA -->
				  {% for link in tla_links %}
				    {{ link|safe }} |
				  {% endfor %}
				
				<!-- <br /><br /> -->
				
				<!-- LCA  -->
				{% for text, url in lca_links %}
				  <a href="{{ url }}">{{ text }}</a>
				  {% if not forloop.last %}|{% endif %}
				{% endfor %}				
			</div>
		</div>
{% endblock content %}
