{% extends "base.html" %}
{% load story_extras %}

{% block full-title %}
The Daily Gazette :: Swarthmore College's Daily Paper
{% endblock full-title %}


{% block customheader %}

<script type="text/javascript" src="/js/jquery-1.2.1.pack.js"></script>
<script type="text/javascript" src="/js/jcarousel/lib/jquery.jcarousel.pack.js"></script>

<link rel="stylesheet" type="text/css" href="/js/jcarousel/lib/jquery.jcarousel.css" />
<link rel="stylesheet" type="text/css" href="/js/jcarousel/skins/tango/skin.css" />


<link rel="stylesheet" type="text/css" href="/js/ajaxtabs/ajaxtabs.css" />
<script type="text/javascript" src="/js/ajaxtabs/ajaxtabs.js"></script>

<script type="text/javascript">

jQuery(document).ready(function() {
    jQuery('#mycarousel').jcarousel({
        scroll: 3,
        wrap: "both",
    });
});

</script>

{% endblock customheader %}


{% block topbar %}
	<div id="headerSectionBar">
			<div id="headerSearch">
				<form method="get" id="searchform" action="{% url search %}">
				  Search:
				  <input type="text" class="textbox" value="" name="s" id="s" />
				  <input type="submit" id="searchsubmit" value="Go" />
				</form>
			</div>
			
			<div id="headerColumn">
				<div id="headerComments">
					<h4>Newest Comments</h4>
					<ul>
					{% for comment in comments %}
							<li>
							  <a href="{{comment.get_absolute_url}}">{{ comment.article.get_title }}</a>
							  <br />
							  Comment @ {{comment.time|date:"F j, Y" }}
							</li>
					{% endfor %}
					</ul>
				</div>
			
				<div id="headerContentBox">
					<ul id="sideContent" class="shadetabs">
							<li><a href="#" class="selected" rel="#default">Weather</a></li>
							<li><a href="menus.htm" rel="countrycontainer">Menus</a></li>
							<li><a href="events.htm" rel="countrycontainer">Events</a></li>
						</ul>
								
						<div id="weather">
							<h4>Weather</h4>
						</div>
						
						<script type="text/javascript">
							var countries=new ddajaxtabs("sideContent", "weather")
							countries.setpersist(true)
							countries.setselectedClassTarget("link") //"link" or "linkparent"
							countries.init()
						</script>
				</div>
				
				<div id="zagette">
					<a href=""><img src="images/index/zagette.png" title="The Zagette: Swarthmore's Guide to Wining and Dining" /></a>
				</div>
			</div>
		</div>
{% endblock topbar %}

	
{% block content %}
		<div id="indexMainBox">
		
			<div id="indexMainStory">
				<h2><a href="{{ topstory.get_absolute_url }}">{{topstory.get_title|safe}}</a></h2>
				<p class="byline">
				  <span class="author">by {{ topstory.authors|join_authors }}</span>
				  <span class="date">| {{ topstory.pub_date|date:"n/j/Y" }}</span>
				</p>
				<img class="{{ topstory.front_image.get_shape_display }}" src="{{ topstory.front_image.get_absolute_url }}" title="{{ topstory.headline }}" />
				<p>
  				{{ topstory.long_summary|safe }}
  				<a class="readMore" href="{{ topstory.get_absolute_url }}">More</a>
  			</p>
			</div>
			
			<div id="indexHeadlines">
				<div class="indexHeadlinesBox floatLeft">
					<ul>
					{% for story in lowstories|slice:":3" %}
						<li>
						  <h4><a href="{{ story.get_absolute_url }}">{{ story.get_title|safe }}</a></h4>
						  <span class="author"> | By {{ story.authors|join_authors:"1x" }}</span>
						</li>
					{% endfor %}
					</ul>
				</div>
		
				<div class="indexHeadlinesBox floatRight">
					<ul>
					{% for story in lowstories|slice:"3:6" %}
						<li>
						  <h4><a href="{{ story.get_absolute_url }}">{{ story.get_title|safe }}</a></h4>
						  <span class="author"> | By {{ story.authors|join_authors:"1x" }}</span>
						</li>
					{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		
		<div id="indexSecondary">
			{% for story in midstories %}			
				<img src="{{ story.front_image.get_absolute_url }}" class="{{ story.front_image.get_shape_display }}" title="{{ story.headline }}" alt="" />
			  <h3><a href="{{ story.get_absolute_url }}">{{ story.get_title|safe }}</a></h3>
			  <p class="byline">
          <span class="author">by {{ story.authors|join_authors }}</span>
          <span class="date"> | {{ story.pub_date|date:"n/j/Y" }}</span>
			  </p>
			  <p>
			   {{ story.summary|safe }}
			   <a class="readMore" href="{{ story.get_absolute_url }}">More</a>
			  </p>
			{% endfor %}
		</div>
		
		<div id="indexPOTDbar">
		
			<center><hr width="900px" color="#dddddd" size=.5px />
			
  <ul id="mycarousel" class="jcarousel-skin-tango">
    <li><h5>Gazette News &rsaquo;&rsaquo;</h5><img src="files/images/2008/05/hiring/slideshow.png" width="150" height="150" alt="" /><p><a href="#">The Gazette is Hiring</a></p></li>
    <li><h5>Specials &rsaquo;&rsaquo;</h5><img src="files/images/2008/05/dining/slideshow.png" width="150" height="150" alt="" /><p><a href="#">The Gazette's Zagette Goes Live!</a></p></li>
    <li><h5>Ask the Gazette &rsaquo;&rsaquo;</h5><img src="files/images/2008/05/atg-bluetree/slideshow.png" width="150" height="150" alt="" /><p><a href="#">What Happened to the Blue Tree?</a></p></li>
    <li><h5>Arts &rsaquo;&rsaquo;</h5><img src="files/images/2008/05/senior-art/slideshow.png" width="150" height="150" alt="" /><p><a href="#">Senior Art Exhibits</a></p></li>
    <li><h5>Columns &rsaquo;&rsaquo;</h5><img src="files/images/2008/05/austria/slideshow.png" width="150" height="150" alt="" /><p><a href="#"><em>Nestbeschumtzer</em> Now Out of Austria</a></p></li>
    <li><img src="http://static.flickr.com/72/199481203_ad4cdcf109_s.jpg" width="75" height="75" alt="" /></li>
    <li><img src="http://static.flickr.com/58/199481218_264ce20da0_s.jpg" width="75" height="75" alt="" /></li>
    <li><img src="http://static.flickr.com/69/199481255_fdfe885f87_s.jpg" width="75" height="75" alt="" /></li>
    <li><img src="http://static.flickr.com/60/199480111_87d4cb3e38_s.jpg" width="75" height="75" alt="" /></li>
    <li><img src="http://static.flickr.com/70/229228324_08223b70fa_s.jpg" width="75" height="75" alt="" /></li>
  </ul>
			
			<hr width="900px" color="#dddddd" size=.5px /></center>
			
		</div>
		

		
		
		<div id="indexBottom">
		
			<div class="indexBottomColumn floatLeft margin25">
				<h3>Announcements</h3>
				
				{% for announcement in announcements %}
				  {% if announcement.is_event %}
  				  <h4>{{ announcement.title }}</h4>
  				  <p>Sponsored by 
  				    {% if announcement.sponsor_url %}
  				      <a href="{{ announcement.sponsor_url }}">{{ announcement.sponsor }}</a>.
  				    {% else %}
                {{ announcement.sponsor }}.
              {% endif %}
            </p>
            <p>When: {{ announcement.event_date|near_future_date }} at {{ announcement.event_time }}</p>
            <p>Where: {{ announcement.event_place }}</p>

				  {% else %}
				    <h4>{{ announcement.title }}</h4>
				    <p>{{ announcement.brief_excerpt|safe }}</p>
				  {% endif %}
				  
				  {% if not forloop.last %}<hr width="50%" />{% endif %}
				{% endfor %}				
			</div>
			
			<div class="indexBottomColumn floatLeft margin25">
				<h3>Jobs &amp; Internships</h3>
				
				<h4>Volunteer with Chester Children</h4>
				<p>Paid: No</p>
				<p>Hours: Part-time</p>
				<p>	When: Summer</p>
				<p>Where: Chester, PA</p>
				<hr width=50%/>

				<h4>ITS Web Intern</h4>
				<p>Paid: Yes</p>
				<p>Hours: Full-time</p>
				<p>	When: Summer</p>
				<p>Where: Swarthmore, PA</p>
				<hr width=50%/>
				
				<h4>Publications Intern</h4>
				<p>Paid: Yes</p>
				<p>Hours: Full-time</p>
				<p>	When: Summer</p>
				<p>Where: Swarthmore, PA</p>
				
			</div>
			
			<div class="indexBottomColumn floatLeft">
			
				<h3>From <a href="http://www.biconews.com/"><em>The BiCo News</em></a></h3>
				<h5><a href="http://www.biconews.com"><em>The BiCo News</em></a> is the weekly paper for Bryn Mawr and Haverford Colleges.</h5>
				
				<h4>Men's Squash Caps Season with 37th Place Finish at Nationals</h4>
				<p class="byline"><span class="author">by JEFF MONHAIT</span></p>
				<h4>Website's Colors Don't Click with Mawrtyrs</h4>
				<p class="byline"><span class="author">by CHRISTINA HARVIEW</span></p>
				<h4>Shopping for a Better Registration System</h4>
				<p class="byline"><span class="author">by Jennifer Rajchel</span></p>
				
				<hr />
				
				<a href="http://repairmycreditnow.com/Credit_Repair_Advice.htm">Credit Repair</a> | 
				
				<!-- TLA -->
				  <a href="http://www.elearners.com/online-degrees/index.asp">College Degrees</a>   | 
				  <a href="http://www.homesecuritystore.com/security-cameras.html">Security Camera</a>   | 
				  <a href="http://www.ibdna.com/">DNA Tests</a>   | 
				  <a href="http://www.finemoments.com">Birth Announcements</a>   | 
				  <a href="http://www.cars4causes.net/">donate car</a>   | 
				  <a href="http://www.nextstudent.com/">Student Loans</a>   | 
				  <a href="http://jobs.fresho.com/">jobs in education</a>   | 
				  <a href="http://www.homebulletin.net">moving companies</a>   | 
				  <a href="http://www.payslipsp60.co.uk">Payslip</a>   | 
				 <a href="http://www.arcadekill.com">Free Flash Arcade Games</a>
				 
				<br /><br />
				
				<!-- LCA  -->
				<a href="http://www.couponcactus.com/coupons/Rosetta_Stone/">Rosetta Coupon</a> |
				<a href="http://www.thinkfinancial.com/">college loans</a> |
				<a href="http://www.acairoots.com">acai</a> |
				<a href="http://www.hotel-erb.de">Last Minute Hotel</a> |
				<a href="http://www.officefurniture2go.com/">office furniture</a> |
				<a href="http://www.essaybay.com">Custom Essays</a> | <a href="http://www.limolinkexchange.com/">Limo, Town Car, Party Bus</a> | <a href="http://www.chicagolimo.com/">Chicago Limo - airport car</a>
				
			</div>
		
		</div>

{% endblock content %}