{% extends "base.html" %}

{% block title %}{{ story.headline }}{% endblock title %}


{% block customheader %}

<link rel="stylesheet" href="css/page/story.css" type="text/css" media="screen, projection" />

<script>

function toggleLayer( whichLayer )
{
  var elem, vis;
  if (document.getElementById) // this is the way the standards work
    elem = document.getElementById(whichLayer);
  else if (document.all) // this is the way old msie versions work
      elem = document.all[whichLayer];
  else if (document.layers) // this is the way nn4 works
    elem = document.layers[whichLayer];
  vis = elem.style;
  // if the style.display value is blank we try to figure it out here
  if (vis.display=='' && elem.offsetWidth!=undefined && elem.offsetHeight != undefined)
    vis.display = (elem.offsetWidth != 0 && elem.offsetHeight != 0 ) ? 'block' : 'none';
  vis.display = (vis.display=='' || vis.display=='block') ? 'none' : 'block';
}

</script>

{% endblock customheader %}


{% block topbar %}
  <div id="headerSectionBar">

    <div id="headerSection">
      <h3><a href="{{ section.get_absolute_url }}">{{ section.get_title }}</a> {% for subsection %}
																						>> <a href="{{ subsection.get_absolute_url }}">{{ subsection.get_title }}</a>
																						{% endfor %}</h3>
			</div>
		
			<div id="headerSearch" class="floatRight">
				<form method="get" id="searchform" action="http://www.sccs.swarthmore.edu">Search: <input type="text" class="textbox" value="" name="s" id="s" /><input type="submit" id="searchsubmit" value="Go" /></p>
			</div>
			
		</div>
	</div>
{% endblock topbar %}

	
{% block content %}
		<div id="commentColumn">
			<div id="commentBox">
				{% ifequal user currentuser %}
					{% include user.commentBox %}
				{% else %}
					<h4>Related Stories</h4>
					<ul>
						{% for item in story.related_list|slice:":2" %}
							<li><a href="{{item.get_absolute_url}}">{{ item.get_title }}</a></li>
						{% endfor %}
					</ul>
				{% endif %}
				
				<hr width="50%" color="#ffffff" size=1px /> 
				<h4>Share!</h4>
				
				<p>
				{% for item in social_list %}
					<a href="{{ item.url }}" alt="{{item.name}}"><img src="{{item.image_url}}" /></a> 
				{% endfor %}
				</p>
				
				<hr width="50%" color="#ffffff" size=1px />
				<h4><a href="javascript:toggleLayer('commentField');" title="Add a comment to this entry">Add a comment</a></h4>
				
				{# something needs to be done with comments #}
				
				<div id="commentField">
					<textarea rows="10" cols="48">Have your say.</textarea><br />
					<input type="reset" name="reset" value="Submit" /><input type="reset" name="reset" value="Cancel" onclick="javascript:toggleLayer('commentField');" />
				</div>
				
			</div>
		</div>
		
		<div id="storyBox">
			<div id="story">

				<h2>{{ story.get_title }}</h2>
				<p class="byline"><span class="author">by {% for item in story.author %} <a href="{{item.url}}" alt="{{item.author}}">{{ item.author.upper }}, {{ item.get_title.upper }}</a>{% endfor %}</span><span class="date"> | <a href="{{story.date.url}}">{{ story.date:"F j, Y" }}</a></p>
				
				{{ story.content }}
								
			</div>
			
			
			<div id="shareBox">
				
					<div class="right"><strong>Share:</strong> {% for item in social_list %}
					<a href="{{ item.url }}" alt="{{item.name}}"><img src="{{item.image_url}}" /></a> 
					{% endfor %}</div>
				
					<p><a href="{{ story.print.url }}"><img src="images/icons/print.png" /> Print</a>&nbsp;&nbsp;<a href="{{ story.email.url }}"><img src="images/icons/email.png" /> Email</a></p>
				
				</div>
				
				<div id="continueBox">
				
					<div id="top">
						<a href="{{ topstory.absolute_url }}"><img src="{{ topstory.get_vert_thumbnail }}" /></a> <div class="content"><h4><a href="{{ topstory.absolute_url }}">{{ topstory.get_title }}</a></h4> <p>{{ topstory.get_short_excerpt }}</p></div>
					</div>
					
					<div id="more">
						<div class="box">
							<h4>Related Stories</h4>
							<ul>
								{% for item in story.related_list|slice:":2" %}
									<li><a href="{{item.get_absolute_url}}">{{ item.get_title }}</a></li>
								{% endfor %}
							</ul>
						</div>
						
						<div class="box">
							<h4>Recent Comments</h4>
							<ul>
								{% for item in comments|slice:":2" %}
									<li><a href="{{item.story.get_absolute_url}}">{{ item.story.get_title }}</a></li>
								{% endfor %}
							</ul>
						</div>
						
					</div>
				
				</div>
				
				<div id="bottomComments">
								
				<div id="submitComment">
					<p><label class="text">Name: </label><input type="text" name="author" id="author" value="" class="textfield" tabindex="1" /> <label class="text">E-Mail: </label><input type="text" name="email" id="email" value="" class="textfield" tabindex="2" /></p>
					<textarea rows="8" cols="54">Have your say.</textarea><br />
					<input type="reset" name="reset" value="Submit" /><input type="reset" name="reset" value="Cancel" />
				</div>
				
				<div id="commentRules">
					<h4>Discussion Rules</h4>
					<ul>
						<li>Be nice.</li>
						<li>Be constructive.</li>
						<li>Don't curse.</li>
						<li>Don't threaten.</li>
					</ul>
					
					<p>More details on our policies <a href="{{ site.links.policy.get_absolute_url }}">here</a>.</p>
					
					<hr width="50%" color="#dddddd" size=1px /> 
									
					<p><a href="{{ site.admin.create.get_absolute_url }}">Create an Account</a> | <a href="{{ site.admin.login.get_absolute_url }}">Login</a></p>
				</div>
				
				
				
				</div>
			
		</div>

{% endblock content %}