{% extends "base.html" %}

{% block title %}{{ story.headline }}{% endblock title %}


{% block customheader %}

<link rel="stylesheet" href="/css/page/story.css" type="text/css" media="screen, projection" />

<script>

function toggleLayer( whichLayer )
{
  var elem, vis;
  if (document.getElementById) // this is the way the standards work
    elem = document.getElementById(whichLayer);
  else if (document.all) // this is the way old msie versions work
      elem = document.all[whichLayer];
  else if (document.layers) // this is the way nn4 works
    elem = document.layers[whichLayer];
  vis = elem.style;
  // if the style.display value is blank we try to figure it out here
  if (vis.display=='' && elem.offsetWidth!=undefined && elem.offsetHeight != undefined)
    vis.display = (elem.offsetWidth != 0 && elem.offsetHeight != 0 ) ? 'block' : 'none';
  vis.display = (vis.display=='' || vis.display=='block') ? 'none' : 'block';
}

</script>

{# <script type="text/javascript" src="http://s7.addthis.com/js/152/addthis_widget.js"></script> #}
{# <script type="text/javascript"> #}
{#   addthis_pub = 'dailygazette'; #}
{#   addthis_brand = 'The Daily Gazette'; #}
{# </script> #}

{% endblock customheader %}


{% block topbar %}
  <div id="headerSectionBar">
    <div id="headerSection">
      <h3>
        {% for cat in story.category.ancestors %}
          {% if not forloop.first %} >> {% endif %}
          <a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a>
				{% endfor %}
			</h3>
		</div>
		
		<div id="headerSearch" class="floatRight">
		  <form method="get" id="searchform" action="{% url search %}">
		    Search: 
		    <input type="text" class="textbox" value="" name="s" id="s" />
		    <input type="submit" id="searchsubmit" value="Go" />
		  </form>
		</div>
	</div>
{% endblock topbar %}

	
{% block content %}
	<div id="commentColumn">
		<div id="commentBox">
			{% if user.is_authenticated %}
				{% include "story_sidebar.html" %}
			{% else %}
				{% include "story_sidebar.html" %}
			{% endif %}
				
		</div>
	</div>
		
	<div id="storyBox">
		<div id="story">
			<h2>{{ story.headline }}</h2>
			<p class="byline">
			  <span class="author">by 
			    {% for author in story.authors.all %}
			      <a href="{{ author.get_absolute_url }}">
			        {{ author.name|upper }}, {{ author.position|upper }}
			      </a>{% if not forloop.last %};{% endif %}
			    {% endfor %}
			  </span>
			  <span class="date">
			    | <a href="{% url issue story.pub_date.year,story.pub_date.month,story.pub_date.day %}">
			        {{ story.pub_date|date:"F j, Y" }}
			      </a>
			  </span>
			</p>
				
			{{ story.formatted_text|safe }}
								
		</div>
				
		<div id="shareBox">
			<div class="right">
			  <strong>Share:</strong>
			  {% include "share.html" %}
        
			</div>
          
			<p>
			  <a href="{% url print story %}"><img src="/images/icons/print.png" /> Print</a>
			  &nbsp;&nbsp;
			  <a href="{% url email story %}"><img src="/images/icons/email.png" /> Email</a>
			</p>
		</div>
				
		<div id="continueBox">
			<div id="top">
				<a href="{{ topstory.get_absolute_url }}">
				  <img src="{{ topstory.get_vert_thumbnail }}" />
				</a>
				<div class="content">
				  <h4><a href="{{ topstory.get_absolute_url }}">{{ topstory.headline }}</a></h4> 
				  <p>{{ topstory.short }}</p>
				</div>
			</div>
      
			<div id="more">
				<div class="box">
					<h4>Related Stories</h4>
					<ul>
						{% for rel in related %}
						  <li><a href="{{rel.get_absolute_url}}">{{ rel.headline }}</a></li>
						{% endfor %}
					</ul>
				</div>
				<div class="box">
					<h4>Recent Comments</h4>
					<ul>
						{% for comment in comments|slice:":2" %}
							<li><a href="{{comment.get_absolute_url}}">{{ comment.get_title }}</a></li>
						{% endfor %}
					</ul>
				</div>			
			</div>
		</div>
				
		<div id="bottomComments">
			<div id="submitComment">
				<p>
				  <label class="text" for="author">Name: </label>
				  <input type="text" name="author" id="author" value="" class="textfield" tabindex="1" />
				  
				  <label class="text" for="email">E-Mail: </label>
				  <input type="text" name="email" id="email" value="" class="textfield" tabindex="2" />
				</p>
				
				<textarea rows="8" cols="54">Have your say.</textarea><br />
				<input type="submit" name="sumbit" value="Submit" />
				<input type="reset" name="reset" value="Cancel" />
			</div>
			
			<div id="commentRules">
  			<h4>Discussion Rules</h4>
				<ul>
					<li>Be nice.</li>
					<li>Be constructive.</li>
					<li>Don't curse.</li>
					<li>Don't threaten.</li>
				</ul>
					
				<p>More details on our policies <a href="{{ site.links.policy.get_absolute_url }}">here</a>.</p>
				
				<hr width="50%" color="#dddddd" size=1px /> 
									
				<p>
				  {% if user.is_authenticated %} 
				    <a href="{{ user.manage_url }}">Manage your Account</a>
				  {% else %}
				    <a href="{{ user.register_url }}">Register an Account</a> |
				    <a href="{{ user.login_url }}">Login</a>
				  {% endif %}
				</p>
			</div>
		</div>
	</div>

{% endblock content %}
