{% extends "base-expand.html" %}
{% load extras %}
{% load markup %}

{% block title %}Jobs{% endblock title %}
{% block customheader %}
<script type="text/javascript" src="{% static js tablesort.js %}"></script>
{% endblock customheader %}

{% block expand_breadcrumb %}<a href="/jobs/">Job Listing</a>{% endblock expand_breadcrumb %}

{% block expand_top %}	

<div class="full-action-row">
	<div class="action">
		<a href="/announcements/new/">Submit to the RSD</a>
	</div>
	<div class="action">
		<a href="/books/new/">Sell a textbook</a>
	</div>
	<div class="action">
		<a href="/jobs/new/">Advertise a job</a>
	</div>
	<div class="action">
		<a href="/posters/new">Display a poster</a>
	</div>
	<div class="action">
		<a href="/reviews/">Review a restaurant</a>
	</div>
</div>


<table id="listing" cellpadding="0" cellspacing="0" border="0" class="sortable-onload-0-1 rowstyle-alt colstyle-alt no-arrow">
  <caption>Click on a column heading to sort.</caption>
  <thead>
    <tr>
      <th class="sortable-numeric favour-reverse"></th>
      <th class="sortable-text">Job Name</th>
      <th>Pay</th>
      <th>Time</th>
      <th class="sortable-text">Location</th>
      <th class="sortable-text">Car?</th>
      <th>Contact Information</th>
    </tr>
  </thead>
  <tbody>
    {% for job in jobs %}
      <tr class="job-row">
        <td>{{ job.pub_date|date:"n/d" }}</td>
        <td><a href="{{ job.get_absolute_url }}">{{ job.name }}</a></td>
        <td>{% if job.get_pay %}
                Paid: {{ job.get_pay }}
            {% else %} {% if job.is_paid %}
                Paid: Unknown
            {% else %}
                Unpaid
            {% endif %}{% endif %} </td>
        <td>{% if job.hours %}{{ job.hours }}{% if job.when %},{% endif %}{% endif %} {{ job.when }}</td>
        <td>{{ job.where }}</td>
        <td>{% if job.needs_car %}<strong>X</strong>{% endif %}</td>
        <td>{{ job.contact_info }}</td>        
      </tr>
    {% endfor %}
  </tbody>
</table>   


{% endblock expand_top %}

{% block expand_content %}

{% endblock expand_content %}

{% block expand_rightsidebar %}
{% endblock expand_rightsidebar %}
