{% extends "listings/base.html" %}
{% load extras %}
{% load markup %}

{% block title %}Jobs{% endblock title %}
{% block listings_customheader %}
    <script type="text/javascript" src="{% static js tablesort.js %}"></script>
{% endblock listings_customheader %}
{% block listings_title %}Jobs{% endblock %}
 
{% block listings_content %}

<table id="review-listings" cellpadding="0" cellspacing="0" border="0" class="sortable-onload-0-1 rowstyle-alt colstyle-alt no-arrow">
  <caption>Click on a column heading to sort.</caption>
  <thead>
    <tr>
      <th class="sortable">Job Name</th>
      <th class="sortable">Pay</th>
      <th class="sortable">Time</th>
      <th class="sortable">Location</th>
      <th class="sortable">Car Required?</th>
      <th>Contact Information</th>
    </tr>
  </thead>
  <tbody>
    {% for job in jobs %}
      <tr class="job-row">
        <td><a href="{{ job.get_absolute_url }}">{{ job.name }}</a></td>
        <td>{% if job.get_pay %}
                Paid: {{ job.get_pay }}
            {% else %}
                Unpaid
            {% endif %}</td>
        <td>{{ job.hours }}, {{ job.when }}</td>
        <td>{{ job.where }}</td>
        <td>{% if job.needs_car %}<strong>X</strong>{% endif %}</td>
        <td>{{ job.contact_info }}</td>        
      </tr>
    {% endfor %}
  </tbody>
</table>   
 
{% endblock listings_content %}