{% extends "base-expand.html" %}
{% load extras %}
{% load markup %}

{% block title %}Submit a Poster{% endblock title %}

{% block customheader %}
    {% jQuery %}
    <script type="text/javascript" charset="utf-8">
        function toggleSponsorLink() {
            $('#sponsor-url-row')
            .find('input').val('').end()
            .toggle();
            link = $('#sponsor-toggle');
            if (link.text() == 'add a link') {
                link.text('remove the link');
                } else {
                link.text('add a link');
            }
        }
        function toggleEventFields() {
            $('.event-row').find('input').val('').end().toggle();
        }
        $(document).ready(function() {
            url_row = $('#sponsor-url-row');
            if (url_row.find('input').val() == '') {
                url_row.hide(0);
                $('#sponsor-toggle').show(0);
            } else {
                $('#sponsor-toggle').text('remove the link').show(0);
            }
            if ($('#{{ form.is_event.auto_id }}:checked').length == 0) {
                $('.event-row').hide(0);
            }
        });
    </script>
{% endblock customheader %}

{% block expand_breadcrumb %}Posters &rsaquo;&rsaquo; <a href="/posters/new/">Submit</a>{% endblock expand_breadcrumb %}

{% block expand_content %}
	<h1>Poster Submission</h1>

    <p>The posters that appear on the right-hand side of many of our pages are intended for <b>Swarthmore students only</b>, and primarily for student groups. Think of it as the online equivalent of putting fliers up in Sharples.</p>

    <p>Non-students should <a href="/about/contact/">contact us</a> about paid advertising.</p>

    {% if form.non_field_errors %}
        <p>{{ form.non_field_errors }}</p>
    {% endif %}
    <form action="" method="post" enctype="multipart/form-data">
        <table class="submit-form">
            <tr>
                <th width="150px"><label for="{{ form.title.auto_id }}">Poster Name</label>:</th>
                <td>{{ form.title }} (not public)</td>
                <td>{{ form.title.errors }}</td>
            </tr>
            <tr>
                <th><label>Your Email</label>:</th>
                <td>{{ user.email }} (not public)</td>
                <td></td>
            </tr>
            <tr>
                <th><label for="{{ form.sponsor_name.auto_id }}">Your (group's) name</label>:</th>
                <td>
                    {{ form.sponsor_name }}
                    <a href="#" id='sponsor-toggle' style="display: none;" onclick="toggleSponsorLink(); return false;">add a link</a>
                </td>
                <td>{{ form.sponsor.errors }}</td>
            </tr>
            <tr id="sponsor-url-row">
                <th><label for="{{ form.sponsor_url.auto_id }}">Sponsor Link</label>:</th>
                <td>{{ form.sponsor_url }}</td>
                <td>{{ form.sponsor_url.errors }}</td>
            </tr>
            <tr>
                <th><label>Poster Image</label>:</th>
                <td>{{ form.poster }}<br />{{ form.poster.help_text }}</td>
                <td>{{ form.poster.errors }}</td>
            </tr>
            <tr>
                <th><label for="{{ form.date_start.auto_id }}">Start Date</label>:</th>
                <td>{{ form.date_start }}</td>
                <td>{{ form.date_start.errors }}</td>
            </tr>
            <tr>
                <th><label for="{{ form.date_end.auto_id }}">Last Date</label>:</th>
                <td>{{ form.date_end }}</td>
                <td>{{ form.date_end.errors }}</td>
            </tr>
            <tr>
                <th></th>
                <td><input type="submit" value="Submit" /></td>
                <td></td>
            </tr>
        </table>
    </form>
{% endblock expand_content %}
