{% extends "base-expand.html" %}
{% load extras %}
{% load markup %}

{% block title %}Poster Submitted{% endblock title %}
{% block customheader %}

{% endblock customheader %}

{% block expand_breadcrumb %}Posters &rsaquo;&rsaquo; <a href="/posters/new/">Submit</a>{% endblock expand_breadcrumb %}

{% block expand_top %}
{% endblock expand_top %}

{% block expand_content %}

<p>Thanks for submitting your poster. An administrator will review it and it should show up on our site soon.</p>

{% endblock expand_content %}